pen-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/oppdrag/ASBOPenAttestant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/oppdrag">
  <xsd:complexType name="ASBOPenAttestant">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="attestantId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ugyldigFom" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
