pen-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/virksomhet/tjenester/arkiv/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://nav.no/virksomhet/tjenester/arkiv/meldinger/v1" version="1.0" xmlns:meldinger="http://nav.no/virksomhet/tjenester/arkiv/meldinger/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Attributt">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="verdi" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;F.eks fødselsnummer eller annet attributt til brevbestillingen (string)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="typeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Sier hva verdien er for noe. Gyldige koder:&lt;/p&gt;&lt;table border="1"&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;&lt;b&gt;Kode&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;&lt;b&gt;Beskrivelse&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;AVDOD_FNR&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Avdødes fødselsnummer&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vedlegg">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="nr" nillable="true" type="xsd:int"/>
      <xsd:element minOccurs="0" name="innhold" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Sakskontekst">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="saksid" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik identifikasjon av den aktuelle saken. Settes av konsument&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="saksbehandlernavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Navn på saksbehandler, settes av konsument&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fagsystem" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Konsument Setter denne. Identifiserer kallende fagsystem&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fagomradeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilket fagområde /tema journalposten tilhører.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="journalenhet" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Konsument setter denne. Enheten som behandler saken. &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="dokumentdato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Produksjonsdato på brevet. Settes av konsument. Systemdato kan brukes. &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="gjelder" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Settes av konsument. Enten fødselsnummer eller TSS-id. Tilsvarer PSFnr_tssID tag i brevgruppe XML’er. &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="dokumenttype" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om dokumentet er 1) inngående 2) utgående 3) internt. Settes i Brevvalg. For batch er default verdi alltid 2). For PSAK er både valg 2 og 3 aktuelle.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="innhold" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Må oppgis ved andre journalstatuser enn M, U og A. Beskriver innhold i hoveddokumentet. Innholdsfeltet må brukes av alle, men verdier/ innholdet i feltet er fagspesifikt.  Ved fritekstbrev kan kategoriene f.eks være: Informasjon, vedtak, forespørsel. Dette feltet skal også benyttes til å angi beskrivelse av konverterte  grunnblanketter. Bidrag vil benytte dette feltet i stedet for sin gamle tjeneste. I BISYS  kalles dette feltet  ”Tjeneste”&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kategori" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir kategori dokument. Settes av konsument.&lt;/p&gt;&lt;p&gt;B = Brev,&lt;/p&gt;&lt;p&gt;VB= Vedtaksbrev (brukes for å skille ut hva som skal sendes på nytt dersom brev ikke lest elektronisk)&lt;/p&gt;&lt;p&gt;IB = infobrev&lt;/p&gt;&lt;p&gt;ES = Elektronisk skjema,&lt;/p&gt;&lt;p&gt;TS = Tolkbart skjema&lt;/p&gt;&lt;p&gt;IS = Ikke tolkbart skjema&lt;/p&gt;&lt;p&gt;EP = e-post&lt;/p&gt;&lt;p&gt;F= Faktura&lt;/p&gt;&lt;p&gt;KS= Konverterte data fra gammelt system&lt;/p&gt;&lt;p&gt;KD= Konverterte dokumenter fra gammelt elektronisk arkiv&lt;/p&gt;&lt;p&gt;KM= Konvertert fra papirmappe (skannet)&lt;/p&gt;&lt;p&gt;SED=Strukturerte elektroniske dokumenter&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="mottaker" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Konsument setter denne. For Batch vil denne alltid være identisk med fnr/TSS-id i ”gjelder”. For PSAK vil denne kunne overstyres av enten fnr/ TSS-id til den som skal motta brevet. Tilsvarer Fnr_tssID2 i brevgruppe XML’er.&lt;/p&gt;&lt;p&gt;Mottaker er betinget obligatorisk, kun obligatorisk hvis dokumenttype N og kategori SED. Hvis dokumenttype = N eller kategori = SED skal ikke mottaker hentes inn og brev skal journalføres UTEN mottaker&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sensitivitetsgrad" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Skal brukes av selvbetjeningsløsning for å bestemme om bruker kan se dokumentene. &lt;/p&gt;&lt;p&gt;Denne settes av konsument.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kravtype" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Generisk felt på tvers av fagsystem. Kravtype kan være for eksempel søknad, klage, informasjon.  Begrepet kravtype kan brukes av alle, men verdier/ innholdet i feltet er fagspesifikt. Brukes ikke av pensjon.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tilleggsbeskrivelse" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Evt. utfyllende beskrivelse av kravtype og tjeneste. Brukes ikke av pensjon.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="merknad" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fritekstfelt for å legge inn kommentarer til dokumenthåndtering (Ikke saksbehandling). Krever regler for bruk i forhold til sensitive opplysninger, om feltet vil være tilgjengelig ved partsinnsyn osv. Brukes ikke av pensjon&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fagspesifikkgradering" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Gradering for å styre tilgang for saksbehandlere (Eks: Farskapsdok har høy gradering). Feltet vil ikke brukes av pensjon.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tillattelektroniskvarsling" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Om det kan gies varsling via kanal valgt av bruker i brukerprofil. Default verdi true/ja – for PSELV og GOSYS default false/nei.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="referanse" type="xsd:string"/>
      <xsd:element minOccurs="0" name="vedlegg" type="meldinger:Vedlegg">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kompleks type Vedlegg.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="land" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Land det har kommet blankett fra eller som det skal sendes blankett til. Kun e-blanketter som skal til og fra utenlandske myndigheter.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="saksbehandlerId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Id på saksbehandler, settes av konsument. Innføres som en del av 2019-FL04&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BestillBrevRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="brevKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik identifikasjon av brevtypen. &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="brevGruppe" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifiserer brevgruppen, kodeverk utifra Brevkode&lt;/p&gt;&lt;table border="1"&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;&lt;b&gt;brevGruppe&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;&lt;b&gt;Beskrivelse&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;brevgr001&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;SendPensjonStandardbrev&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;brevgr002&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;SendPensjonStandardVedtakPositivBrev&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;brevgr003&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;SendPensjonStandardVedtakNegativBrev&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;brevgr004&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;SendPensjonStandardVedtakAndre&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;brevgr007&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;SendPensjonVedtakFleksibeltUttak&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;brevgr011&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;SendStandardBrev&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="redigerbart" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Avgjør om brevet skal kunne redigeres. Populeres i Brevvalg utfra Brevkode&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sprakKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Skal kun settes av konsument dersom konsument er PSAK og saksbehandler har overstyrt preferert språk i skjermbildet.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="vedtaksInformasjon" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;VedtaksId, obligatorisk for brevgruppene SendPensjonStandardVedtakNegativBrev og SendPensjonStandardVedtakPositiveBrev. Settes av konsument.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="soknadsInformasjon" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;KravId. Settes av konsument &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="attributtListe" type="meldinger:Attributt">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Liste av kompleks type Attributt. Generell liste som kan inneholde f.eks avdødes fnr og andre relevante attributter til brevbestillingen.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sakskontekst" type="meldinger:Sakskontekst">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kompleks type Sakskontekst.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="brevMottakerNavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Navn på mottaker. Brukes i tilfeller hvor Sakskontekst.dokumenttype = ’N’ og/eller Sakskontekst.kategori = ’SED’. Feltet skrives ellers over med uthentet data. &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Utvidelse">
    <xsd:sequence>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
    </xsd:sequence>
    <xsd:anyAttribute namespace="##any"/>
  </xsd:complexType>
  <xsd:complexType name="BestillBrevUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="meldinger:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BestillBrevResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="journalpostId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;JournalpostId til det opprettede dokumentet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:BestillBrevUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>