psak-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/ASBOPenSaksInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/arenasak" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo">
    <xsd:complexType name="ASBOPenSaksInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="saksId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="beskrivelse" type="xsd:string"/>
      <xsd:element minOccurs="0" name="type" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="navSakstypeListe" type="xsd:string"/>
      <xsd:element minOccurs="0" name="saksKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="status" type="xsd:string"/>
      <xsd:element minOccurs="0" name="utfall" type="xsd:string"/>
      <xsd:element minOccurs="0" name="grad" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fom" type="xsd:date"/>
      <xsd:element minOccurs="0" name="tom" type="xsd:date"/>
      <xsd:element minOccurs="0" name="ansvarligEnhetId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="saksbehandlerId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="registrertDato" type="xsd:date"/>
      <xsd:element minOccurs="0" name="vedtaksDato" type="xsd:date"/>
      <xsd:element minOccurs="0" name="iverksattDato" type="xsd:date"/>
            <xsd:element minOccurs="0" name="betalingsform" type="xsd:string"/>
            <xsd:element minOccurs="0" name="belop" type="xsd:string"/>
            <xsd:element minOccurs="0" name="nesteUtbetaling" type="xsd:string"/>
            <xsd:element minOccurs="0" name="nesteUtbetalingBetingelse" type="xsd:string"/>
            <xsd:element minOccurs="0" name="nesteBelop" type="xsd:string"/>
            <xsd:element minOccurs="0" name="utbetalingsvilkar" type="xsd:string"/>
            <xsd:element minOccurs="0" name="annenMottaker" type="xsd:string"/>
            <xsd:element minOccurs="0" name="frekvens" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
