pcom-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/tjenestepensjon/ASBOPenTjenestepensjonsYtelse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/tjenestepensjon">
    <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" schemaLocation="../ASBOPenEndringsInfo.xsd"/>
    <xsd:complexType name="ASBOPenTjenestepensjonsYtelse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ytelseId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="innmeldtFom" type="xsd:date"/>
      <xsd:element minOccurs="0" name="ytelseKode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ytelseBeskrivelse" type="xsd:string"/>
            <xsd:element minOccurs="0" name="iverksattFom" type="xsd:date"/>
            <xsd:element minOccurs="0" name="iverksattTom" type="xsd:date"/>
            <xsd:element minOccurs="0" name="endringsInfo" type="bons0:ASBOPenEndringsInfo"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
