nav-bsrv-sah-brevbestilling-legacy/src/main/resources/wsdl/SendPensjonStandardBrev.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons2="http://nav-lib-sah/no/nav/lib/sah/gbo" xmlns:bons3="http://nav-lib-sah/no/nav/lib/sah/fault" xmlns:bons6="http://nav-lib-frg/no/nav/lib/frg/fault" xmlns:bons7="http://nav-lib-pen/no/nav/lib/pen/fault" xmlns:tns="http://nav-lib-sah/no/nav/lib/sah/inf/SendPensjonStandardBrev" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SendPensjonStandardBrev" targetNamespace="http://nav-lib-sah/no/nav/lib/sah/inf/SendPensjonStandardBrev">
  <wsdl:types>
    <xsd:schema xmlns:bons0="http://nav-lib-sah/no/nav/lib/sah/gbo" targetNamespace="http://nav-lib-sah/no/nav/lib/sah/inf/SendPensjonStandardBrev" xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons2="http://nav-lib-sah/no/nav/lib/sah/gbo" xmlns:bons3="http://nav-lib-sah/no/nav/lib/sah/fault" xmlns:bons6="http://nav-lib-frg/no/nav/lib/frg/fault" xmlns:bons7="http://nav-lib-pen/no/nav/lib/pen/fault" xmlns:tns="http://nav-lib-sah/no/nav/lib/sah/inf/SendPensjonStandardBrev" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo" schemaLocation="../lib/frg/gbo/GBOHentPersonRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-sah/no/nav/lib/sah/gbo" schemaLocation="../lib/sah/gbo/GBOBrevStandard.xsd"/>
            <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/fault" schemaLocation="../lib/frg/fault/FaultSamhandlerIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/fault" schemaLocation="../lib/frg/fault/FaultPersonIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-lib-pen/no/nav/lib/pen/fault" schemaLocation="../lib/pen/fault/FaultSakIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-lib-sah/no/nav/lib/sah/gbo" schemaLocation="../lib/sah/gbo/GBOBrevbestillingRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-sah/no/nav/lib/sah/fault" schemaLocation="../lib/sah/fault/FaultManglerObligatoriskOutput.xsd"/>
            <xsd:import namespace="http://nav-lib-sah/no/nav/lib/sah/fault" schemaLocation="../lib/sah/fault/FaultAdresseMangelfull.xsd"/>
            <xsd:element name="hentPersonSakOgBrevmottaker">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPersonSakOgBrevMottakerRequest" nillable="true" type="bons0:GBOBrevbestillingRequest"/>
                        <xsd:element name="hentTSSBrevMottaker" nillable="true" type="xsd:boolean"/>
                    </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPersonSakOgBrevmottakerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPersonSakOgBrevMottakerResponse" nillable="true" type="bons0:GBOBrevStandard"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentSakForBrev">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSakForBrevRequest" nillable="true" type="bons0:GBOBrevbestillingRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentSakForBrevResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSakForBrevResponse" nillable="true" type="bons0:GBOBrevStandard"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentGronnbelopslisteForBrev">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentGronnbelopslisteForBrevRequest" nillable="true" type="bons0:GBOBrevbestillingRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentGronnbelopslisteForBrevResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentGronnbelopslisteForBrevResponse" nillable="true" type="bons0:GBOBrevStandard"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentMinstepensjonssatsForBrev">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentMinstepensjonssatsForBrevRequest" nillable="true" type="bons0:GBOBrevbestillingRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentMinstepensjonssatsForBrevResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentMinstepensjonssatsForBrevResponse" nillable="true" type="bons0:GBOBrevStandard"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentPersonSakOgBrevmottaker_faultPersonIkkeFunnet" type="bons6:FaultPersonIkkeFunnet"/>
            <xsd:element name="hentSakForBrev_faultSakIkkeFunnet" type="bons7:FaultSakIkkeFunnet"/>
            <xsd:element name="hentFamilieRelasjonerForBrev">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentFamilieRelasjonerForBrevRequest" nillable="true" type="bons0:GBOBrevbestillingRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentFamilieRelasjonerForBrevResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentFamilieRelasjonerForBrevResponse" nillable="true" type="bons0:GBOBrevStandard"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentFamilieRelasjonerForBrev_faultPersonIkkeFunnet" type="bons6:FaultPersonIkkeFunnet"/>
            <xsd:element name="hentSamhandlerForBrev_faultSamhandlerIkkeFunnet" type="bons6:FaultSamhandlerIkkeFunnet"/>
            <xsd:element name="orchestrateHentPensjonStandardBrev">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="orchestrateHentPensjonStandardBrevRequest" nillable="true" type="bons0:GBOBrevbestillingRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="orchestrateHentPensjonStandardBrevResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="orchestrateHentPensjonStandardBrevResponse" nillable="true" type="bons0:GBOBrevStandard"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="orchestrateHentPensjonStandardBrev_faultAdresseMangelfull" type="bons3:FaultAdresseMangelfull"/>
            <xsd:element name="hentPersonSakOgBrevmottaker_faultAdresseMangelFull" type="bons3:FaultAdresseMangelfull"/>
            <xsd:element name="hentPersonSakOgBrevmottaker_faultManglerObligatoriskOutputf" type="bons3:FaultManglerObligatoriskOutput"/>
            <xsd:element name="orchestrateHentPensjonStandardBrev_faultManglerObligatoriskOutput" type="bons3:FaultManglerObligatoriskOutput"/>
            <xsd:element name="hentPersonForBrev">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPersonForBrevRequest" nillable="true" type="bons1:GBOHentPersonRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentPersonForBrevResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPersonForBrevResponse" nillable="true" type="bons0:GBOBrevStandard"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentPersonSakOgBrevmottakerRequestMsg">
    <wsdl:part element="tns:hentPersonSakOgBrevmottaker" name="hentPersonSakOgBrevmottakerParameters"/>
  </wsdl:message>
    <wsdl:message name="hentPersonSakOgBrevmottakerResponseMsg">
    <wsdl:part element="tns:hentPersonSakOgBrevmottakerResponse" name="hentPersonSakOgBrevmottakerResult"/>
  </wsdl:message>
    <wsdl:message name="hentSakForBrevRequestMsg">
    <wsdl:part element="tns:hentSakForBrev" name="hentSakForBrevParameters"/>
  </wsdl:message>
    <wsdl:message name="hentSakForBrevResponseMsg">
    <wsdl:part element="tns:hentSakForBrevResponse" name="hentSakForBrevResult"/>
  </wsdl:message>
    <wsdl:message name="hentGronnbelopslisteForBrevRequestMsg">
    <wsdl:part element="tns:hentGronnbelopslisteForBrev" name="hentGronnbelopslisteForBrevParameters"/>
  </wsdl:message>
    <wsdl:message name="hentGronnbelopslisteForBrevResponseMsg">
    <wsdl:part element="tns:hentGronnbelopslisteForBrevResponse" name="hentGronnbelopslisteForBrevResult"/>
  </wsdl:message>
    <wsdl:message name="hentMinstepensjonssatsForBrevRequestMsg">
    <wsdl:part element="tns:hentMinstepensjonssatsForBrev" name="hentMinstepensjonssatsForBrevParameters"/>
  </wsdl:message>
    <wsdl:message name="hentMinstepensjonssatsForBrevResponseMsg">
    <wsdl:part element="tns:hentMinstepensjonssatsForBrevResponse" name="hentMinstepensjonssatsForBrevResult"/>
  </wsdl:message>
    <wsdl:message name="hentPersonSakOgBrevmottaker_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:hentPersonSakOgBrevmottaker_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentSakForBrev_faultSakIkkeFunnetMsg">
    <wsdl:part element="tns:hentSakForBrev_faultSakIkkeFunnet" name="faultSakIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentFamilieRelasjonerForBrevRequestMsg">
    <wsdl:part element="tns:hentFamilieRelasjonerForBrev" name="hentFamilieRelasjonerForBrevParameters"/>
  </wsdl:message>
    <wsdl:message name="hentFamilieRelasjonerForBrevResponseMsg">
    <wsdl:part element="tns:hentFamilieRelasjonerForBrevResponse" name="hentFamilieRelasjonerForBrevResult"/>
  </wsdl:message>
    <wsdl:message name="hentFamilieRelasjonerForBrev_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:hentFamilieRelasjonerForBrev_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="orchestrateHentPensjonStandardBrevRequestMsg">
    <wsdl:part element="tns:orchestrateHentPensjonStandardBrev" name="orchestrateHentPensjonStandardBrevParameters"/>
  </wsdl:message>
    <wsdl:message name="orchestrateHentPensjonStandardBrevResponseMsg">
    <wsdl:part element="tns:orchestrateHentPensjonStandardBrevResponse" name="orchestrateHentPensjonStandardBrevResult"/>
  </wsdl:message>
    <wsdl:message name="orchestrateHentPensjonStandardBrev_faultAdresseMangelfullMsg">
    <wsdl:part element="tns:orchestrateHentPensjonStandardBrev_faultAdresseMangelfull" name="faultAdresseMangelfull"/>
  </wsdl:message>
    <wsdl:message name="hentPersonSakOgBrevmottaker_faultAdresseMangelFullMsg">
    <wsdl:part element="tns:hentPersonSakOgBrevmottaker_faultAdresseMangelFull" name="faultAdresseMangelFull"/>
  </wsdl:message>
    <wsdl:message name="hentPersonSakOgBrevmottaker_faultManglerObligatoriskOutputfMsg">
    <wsdl:part element="tns:hentPersonSakOgBrevmottaker_faultManglerObligatoriskOutputf" name="faultManglerObligatoriskOutputf"/>
  </wsdl:message>
    <wsdl:message name="orchestrateHentPensjonStandardBrev_faultManglerObligatoriskOutputMsg">
    <wsdl:part element="tns:orchestrateHentPensjonStandardBrev_faultManglerObligatoriskOutput" name="faultManglerObligatoriskOutput"/>
  </wsdl:message>
    <wsdl:message name="hentPersonForBrevRequestMsg">
    <wsdl:part element="tns:hentPersonForBrev" name="hentPersonForBrevParameters"/>
  </wsdl:message>
    <wsdl:message name="hentPersonForBrevResponseMsg">
    <wsdl:part element="tns:hentPersonForBrevResponse" name="hentPersonForBrevResult"/>
  </wsdl:message>
    <wsdl:message name="hentPersonForBrev_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:hentPersonSakOgBrevmottaker_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:portType name="SendPensjonStandardBrev">
    <wsdl:operation name="hentPersonSakOgBrevmottaker">
            <wsdl:input message="tns:hentPersonSakOgBrevmottakerRequestMsg" name="hentPersonSakOgBrevmottakerRequest"/>
            <wsdl:output message="tns:hentPersonSakOgBrevmottakerResponseMsg" name="hentPersonSakOgBrevmottakerResponse"/>
            <wsdl:fault message="tns:hentPersonSakOgBrevmottaker_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
            <wsdl:fault message="tns:hentPersonSakOgBrevmottaker_faultAdresseMangelFullMsg" name="faultAdresseMangelFull"/>
            <wsdl:fault message="tns:hentPersonSakOgBrevmottaker_faultManglerObligatoriskOutputfMsg" name="faultManglerObligatoriskOutput"/>
        </wsdl:operation>
        <wsdl:operation name="hentSakForBrev">
      <wsdl:input message="tns:hentSakForBrevRequestMsg" name="hentSakForBrevRequest"/>
      <wsdl:output message="tns:hentSakForBrevResponseMsg" name="hentSakForBrevResponse"/>
      <wsdl:fault message="tns:hentSakForBrev_faultSakIkkeFunnetMsg" name="faultSakIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="hentGronnbelopslisteForBrev">
      <wsdl:input message="tns:hentGronnbelopslisteForBrevRequestMsg" name="hentGronnbelopslisteForBrevRequest"/>
      <wsdl:output message="tns:hentGronnbelopslisteForBrevResponseMsg" name="hentGronnbelopslisteForBrevResponse"/>
        </wsdl:operation>
        <wsdl:operation name="hentMinstepensjonssatsForBrev">
      <wsdl:input message="tns:hentMinstepensjonssatsForBrevRequestMsg" name="hentMinstepensjonssatsForBrevRequest"/>
      <wsdl:output message="tns:hentMinstepensjonssatsForBrevResponseMsg" name="hentMinstepensjonssatsForBrevResponse"/>
        </wsdl:operation>
        <wsdl:operation name="hentFamilieRelasjonerForBrev">
      <wsdl:input message="tns:hentFamilieRelasjonerForBrevRequestMsg" name="hentFamilieRelasjonerForBrevRequest"/>
      <wsdl:output message="tns:hentFamilieRelasjonerForBrevResponseMsg" name="hentFamilieRelasjonerForBrevResponse"/>
      <wsdl:fault message="tns:hentFamilieRelasjonerForBrev_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
    </wsdl:operation>
        <wsdl:operation name="orchestrateHentPensjonStandardBrev">
      <wsdl:input message="tns:orchestrateHentPensjonStandardBrevRequestMsg" name="orchestrateHentPensjonStandardBrevRequest"/>
      <wsdl:output message="tns:orchestrateHentPensjonStandardBrevResponseMsg" name="orchestrateHentPensjonStandardBrevResponse"/>
            <wsdl:fault message="tns:orchestrateHentPensjonStandardBrev_faultAdresseMangelfullMsg" name="faultAdresseMangelfull"/>
            <wsdl:fault message="tns:orchestrateHentPensjonStandardBrev_faultManglerObligatoriskOutputMsg" name="faultManglerObligatoriskOutput"/>
        </wsdl:operation>
        <wsdl:operation name="hentPersonForBrev">
      <wsdl:input message="tns:hentPersonForBrevRequestMsg" name="hentPersonForBrevRequest"/>
      <wsdl:output message="tns:hentPersonForBrevResponseMsg" name="hentPersonForBrevResponse"/>
      <wsdl:fault message="tns:hentPersonForBrev_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
