pen-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/navorgenhet/ASBOPenHentNAVEnhetListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://nav-lib-cons-pen/no/nav/lib/frg/asbo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/navorgenhet" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/navorgenhet">
    <xsd:include schemaLocation="ASBOPenNAVEnhet.xsd"/>
    <xsd:complexType name="ASBOPenHentNAVEnhetListeRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="NAVEnhet" type="bons1:ASBOPenNAVEnhet"/>
      <xsd:element minOccurs="0" name="typeOrganiserer" type="xsd:string"/>
      <xsd:element minOccurs="0" name="typeOrganisertUnder" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
