pcom-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/inntekt/ASBOPenHentInntektListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/inntekt"
	targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/inntekt">
	<xsd:include schemaLocation="ASBOPenInntektsTypeKode.xsd" />	<xsd:complexType name="ASBOPenHentInntektListeRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="fnr" type="xsd:string" />
			<xsd:element minOccurs="0" name="inntektsTypeKoder"
				type="bons0:ASBOPenInntektsTypeKode" maxOccurs="unbounded" />
			<xsd:element minOccurs="0" name="fom" type="xsd:date" />
			<xsd:element minOccurs="0" name="tom" type="xsd:date" />
			<xsd:element minOccurs="0" name="kilde" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
