pselv-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/inf/PSELVPerson.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/person" xmlns:bons2="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault" xmlns:bons3="http://nav-lib-frg/no/nav/lib/frg/fault" xmlns:bons4="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault/person" xmlns:bons5="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" xmlns:tns="http://nav-cons-pen-pselv-person/no/nav/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PSELVPerson" targetNamespace="http://nav-cons-pen-pselv-person/no/nav/inf">
  <wsdl:types>
    <xsd:schema xmlns:bons0="http://nav-lib-cons-pen/no/nav/lib/frg/asbo" xmlns:bons6="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault/person" xmlns:bons7="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" xmlns:bons8="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault" xmlns:bons9="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/person" targetNamespace="http://nav-cons-pen-pselv-person/no/nav/inf" xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/person" xmlns:bons2="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault" xmlns:bons3="http://nav-lib-frg/no/nav/lib/frg/fault" xmlns:bons4="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault/person" xmlns:bons5="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" xmlns:tns="http://nav-cons-pen-pselv-person/no/nav/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/person" schemaLocation="../lib/pen/psakpselv/asbo/person/ASBOPenHentFamilierelasjonerRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/person" schemaLocation="../lib/pen/psakpselv/asbo/person/ASBOPenHentFamilierelasjonsHistorikkRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/person" schemaLocation="../lib/pen/psakpselv/asbo/person/ASBOPenHentPersonListeRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/person" schemaLocation="../lib/pen/psakpselv/asbo/person/ASBOPenHentPersonRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/person" schemaLocation="../lib/pen/psakpselv/asbo/person/ASBOPenHentSamboerforholdRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/person" schemaLocation="../lib/pen/psakpselv/asbo/person/ASBOPenLagreAdresseRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/person" schemaLocation="../lib/pen/psakpselv/asbo/person/ASBOPenLagreTelefonnumreRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/person" schemaLocation="../lib/pen/psakpselv/asbo/person/ASBOPenPersonListe.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/person" schemaLocation="../lib/pen/psakpselv/asbo/person/ASBOPenSlettAdresseRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" schemaLocation="../lib/pen/psakpselv/asbo/ASBOPenTomRespons.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault/person" schemaLocation="../lib/pen/psakpselv/fault/person/FaultPenAlleredeRegistrertSamboerforhold.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault/person" schemaLocation="../lib/pen/psakpselv/fault/person/FaultPenBrukerprofilIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault/person" schemaLocation="../lib/pen/psakpselv/fault/person/FaultPenSamboerDod.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault/person" schemaLocation="../lib/pen/psakpselv/fault/person/FaultPenSamboerIFamilie.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault/person" schemaLocation="../lib/pen/psakpselv/fault/person/FaultPenSamboerIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault/person" schemaLocation="../lib/pen/psakpselv/fault/person/FaultPenSamboerValideringFeilet.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault" schemaLocation="../lib/pen/psakpselv/fault/FaultPenGenerisk.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault" schemaLocation="../lib/pen/psakpselv/fault/FaultPenPersonIkkeFunnet.xsd"/>
            <xsd:element name="hentPerson">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPersonRequest" nillable="true" type="bons1:ASBOPenHentPersonRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPersonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPersonResponse" nillable="true" type="bons1:ASBOPenPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentPerson_faultPenGenerisk" type="bons2:FaultPenGenerisk"/>
            <xsd:element name="hentBrukerprofil">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentBrukerprofilRequest" nillable="true" type="bons1:ASBOPenPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentBrukerprofilResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentBrukerprofilResponse" nillable="true" type="bons1:ASBOPenPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentBrukerprofil_faultPenGenerisk" type="bons2:FaultPenGenerisk"/>
            <xsd:element name="lagreEpost">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreEpostRequest" nillable="true" type="bons1:ASBOPenPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreEpostResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreEpostResponse" nillable="true" type="bons5:ASBOPenTomRespons"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreEpost_faultPenGenerisk" type="bons2:FaultPenGenerisk"/>
            <xsd:element name="lagreTelefonnumre">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreTelefonnumreRequest" nillable="true" type="bons1:ASBOPenLagreTelefonnumreRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreTelefonnumreResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreTelefonnumreResponse" nillable="true" type="bons5:ASBOPenTomRespons"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreTelefonnumre_faultPenGenerisk" type="bons2:FaultPenGenerisk"/>
            <xsd:element name="lagreSprak">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreSprakRequest" nillable="true" type="bons1:ASBOPenPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreSprakResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreSprakResponse" nillable="true" type="bons5:ASBOPenTomRespons"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreSprak_faultPenGenerisk" type="bons2:FaultPenGenerisk"/>
            <xsd:element name="lagreAdresse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreAdresseRequest" nillable="true" type="bons1:ASBOPenLagreAdresseRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreAdresseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreAdresseResponse" nillable="true" type="bons5:ASBOPenTomRespons"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreAdresse_faultPenGenerisk" type="bons2:FaultPenGenerisk"/>
            <xsd:element name="lagreBrukerprofil">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreBrukerprofilRequest" nillable="true" type="bons1:ASBOPenPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreBrukerprofilResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreBrukerprofilResponse" nillable="true" type="bons5:ASBOPenTomRespons"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreBrukerprofil_faultPenGenerisk" type="bons2:FaultPenGenerisk"/>
            <xsd:element name="hentSamboerforhold">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSamboerforholdRequest" nillable="true" type="bons1:ASBOPenHentSamboerforholdRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentSamboerforholdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSamboerforholdResponse" nillable="true" type="bons1:ASBOPenPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentSamboerforhold_faultPenGenerisk" type="bons2:FaultPenGenerisk"/>
            <xsd:element name="hentPerson_faultPenPersonIkkeFunnet" type="bons2:FaultPenPersonIkkeFunnet"/>
            <xsd:element name="hentBrukerprofil_faultPenBrukerprofilIkkeFunnet" type="bons4:FaultPenBrukerprofilIkkeFunnet"/>
            <xsd:element name="lagreEpost_faultPenPersonIkkeFunnet" type="bons2:FaultPenPersonIkkeFunnet"/>
            <xsd:element name="lagreTelefonnumre_faultPenPersonIkkeFunnet" type="bons2:FaultPenPersonIkkeFunnet"/>
            <xsd:element name="lagreSprak_faultPenPersonIkkeFunnet" type="bons2:FaultPenPersonIkkeFunnet"/>
            <xsd:element name="lagreAdresse_faultPenPersonIkkeFunnet" type="bons2:FaultPenPersonIkkeFunnet"/>
            <xsd:element name="lagreBrukerprofil_faultPenPersonIkkeFunnet" type="bons2:FaultPenPersonIkkeFunnet"/>
            <xsd:element name="hentSamboerforhold_faultPenPersonIkkeFunnet" type="bons2:FaultPenPersonIkkeFunnet"/>
            <xsd:element name="hentEnhetId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentEnhetIdRequest" nillable="true" type="bons1:ASBOPenPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentEnhetIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentEnhetIdResponse" nillable="true" type="bons1:ASBOPenPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentEnhetId_faultPenGenerisk" type="bons2:FaultPenGenerisk"/>
            <xsd:element name="hentEnhetId_faultPenPersonIkkeFunnet" type="bons2:FaultPenPersonIkkeFunnet"/>
            <xsd:element name="opprettSamboerforhold">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettSamboerforholdRequest" nillable="true" type="bons1:ASBOPenPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opprettSamboerforholdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettSamboerforholdResponse" nillable="true" type="bons5:ASBOPenTomRespons"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="slettSamboerforhold">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="slettSamboerRequest" nillable="true" type="bons1:ASBOPenPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="slettSamboerforholdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="slettSamboerResponse" nillable="true" type="bons5:ASBOPenTomRespons"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opprettSamboerforhold_faultPenGenerisk" type="bons2:FaultPenGenerisk"/>
            <xsd:element name="slettSamboerforhold_faultPenGenerisk" type="bons2:FaultPenGenerisk"/>
            <xsd:element name="slettSamboerforhold_faultPenPersonIkkeFunnet" type="bons2:FaultPenPersonIkkeFunnet"/>
            <xsd:element name="slettSamboerforhold_faultPenSamboerIkkeFunnet" type="bons4:FaultPenSamboerIkkeFunnet"/>
            <xsd:element name="opprettSamboerforhold_faultPenPersonIkkeFunnet" type="bons2:FaultPenPersonIkkeFunnet"/>
            <xsd:element name="opprettSamboerforhold_faultPenSamboerIkkeFunnet" type="bons4:FaultPenSamboerIkkeFunnet"/>
            <xsd:element name="opprettSamboerforhold_faultPenSamboerIFamilie" type="bons4:FaultPenSamboerIFamilie"/>
            <xsd:element name="opprettSamboerforhold_faultPenSamboerDod" type="bons4:FaultPenSamboerDod"/>
            <xsd:element name="opprettSamboerforhold_faultPenAlleredeRegistrertSamboerforhold" type="bons4:FaultPenAlleredeRegistrertSamboerforhold"/>
            <xsd:element name="hentFamilierelasjoner">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentFamilierelasjonerRequest" nillable="true" type="bons1:ASBOPenHentFamilierelasjonerRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentFamilierelasjonerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentFamilierelasjonerResponse" nillable="true" type="bons1:ASBOPenPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentFamilierelasjoner_faultPenGenerisk" type="bons2:FaultPenGenerisk"/>
            <xsd:element name="hentFamilierelasjoner_faultPenPersonIkkeFunnet" type="bons2:FaultPenPersonIkkeFunnet"/>
            <xsd:element name="slettAdresse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="slettAdresseRequest" nillable="true" type="bons1:ASBOPenSlettAdresseRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="slettAdresseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="slettAdresseResponse" nillable="true" type="bons5:ASBOPenTomRespons"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="slettAdresse_faultPenGeneriskAf" type="bons2:FaultPenGenerisk"/>
            <xsd:element name="slettAdresse_faultPenPersonIkkeFunnet" type="bons2:FaultPenPersonIkkeFunnet"/>
            <xsd:element name="hentFamilierelasjonsHistorikk">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentFamilierelasjonsHistorikkRequest" nillable="true" type="bons1:ASBOPenHentFamilierelasjonsHistorikkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentFamilierelasjonsHistorikkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentFamilierelasjonsHistorikkResponse" nillable="true" type="bons1:ASBOPenPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentFamilierelasjonsHistorikk_faultPenGenerisk" type="bons2:FaultPenGenerisk"/>
            <xsd:element name="hentFamilierelasjonsHistorikk_faultPenPersonIkkeFunnet" type="bons2:FaultPenPersonIkkeFunnet"/>
            <xsd:element name="opprettSamboerforhold_faultPenSamboerValideringFeilet" type="bons4:FaultPenSamboerValideringFeilet"/>
            <xsd:element name="erEgenansatt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="erEgenansattRequest" nillable="true" type="bons1:ASBOPenPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="erEgenansattResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="erEgenansattResponse" nillable="true" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="erEgenansatt_faultPenGenerisk" type="bons2:FaultPenGenerisk"/>
            <xsd:element name="erEgenansatt_faultPenPersonIkkeFunnet" type="bons2:FaultPenPersonIkkeFunnet"/>
            <xsd:element name="lagreKontoinformasjon">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreKontoinformasjonRequest" nillable="true" type="bons1:ASBOPenPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreKontoinformasjonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreKontoinformasjonResponse" nillable="true" type="bons5:ASBOPenTomRespons"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreKontoinformasjon_faultPenGenerisk" type="bons2:FaultPenGenerisk"/>
            <xsd:element name="lagreKontoinformasjon_faultPenPersonIkkeFunnet" type="bons2:FaultPenPersonIkkeFunnet"/>
            <xsd:element name="hentKontoinformasjon">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentKontoinformasjonRequest" nillable="true" type="bons1:ASBOPenPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentKontoinformasjonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentKontoinformasjonResponse" nillable="true" type="bons1:ASBOPenPerson"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentKontoinformasjon_faultPenGenerisk" type="bons2:FaultPenGenerisk"/>
            <xsd:element name="hentKontoinformasjon_faultPenPersonIkkeFunnet" type="bons2:FaultPenPersonIkkeFunnet"/>
            <xsd:element name="hentPersonListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPersonListeRequest" nillable="true" type="bons1:ASBOPenHentPersonListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentPersonListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentPersonListeResponse" nillable="true" type="bons1:ASBOPenPersonListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentPersonListe_faultPenGenerisk" type="bons2:FaultPenGenerisk"/>
            <xsd:element name="hentPersonListe_faultPenPersonIkkeFunnet" type="bons2:FaultPenPersonIkkeFunnet"/>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentPersonRequestMsg">
    <wsdl:part element="tns:hentPerson" name="hentPersonParameters"/>
  </wsdl:message>
    <wsdl:message name="hentPersonResponseMsg">
    <wsdl:part element="tns:hentPersonResponse" name="hentPersonResult"/>
  </wsdl:message>
    <wsdl:message name="hentPerson_faultPenGeneriskMsg">
    <wsdl:part element="tns:hentPerson_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentBrukerprofilRequestMsg">
    <wsdl:part element="tns:hentBrukerprofil" name="hentBrukerprofilParameters"/>
  </wsdl:message>
    <wsdl:message name="hentBrukerprofilResponseMsg">
    <wsdl:part element="tns:hentBrukerprofilResponse" name="hentBrukerprofilResult"/>
  </wsdl:message>
    <wsdl:message name="hentBrukerprofil_faultPenGeneriskMsg">
    <wsdl:part element="tns:hentBrukerprofil_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="lagreEpostRequestMsg">
    <wsdl:part element="tns:lagreEpost" name="lagreEpostParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreEpostResponseMsg">
    <wsdl:part element="tns:lagreEpostResponse" name="lagreEpostResult"/>
  </wsdl:message>
    <wsdl:message name="lagreEpost_faultPenGeneriskMsg">
    <wsdl:part element="tns:lagreEpost_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="lagreTelefonnumreRequestMsg">
    <wsdl:part element="tns:lagreTelefonnumre" name="lagreTelefonnumreParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreTelefonnumreResponseMsg">
    <wsdl:part element="tns:lagreTelefonnumreResponse" name="lagreTelefonnumreResult"/>
  </wsdl:message>
    <wsdl:message name="lagreTelefonnumre_faultPenGeneriskMsg">
    <wsdl:part element="tns:lagreTelefonnumre_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="lagreSprakRequestMsg">
    <wsdl:part element="tns:lagreSprak" name="lagreSprakParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreSprakResponseMsg">
    <wsdl:part element="tns:lagreSprakResponse" name="lagreSprakResult"/>
  </wsdl:message>
    <wsdl:message name="lagreSprak_faultPenGeneriskMsg">
    <wsdl:part element="tns:lagreSprak_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="lagreAdresseRequestMsg">
    <wsdl:part element="tns:lagreAdresse" name="lagreAdresseParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreAdresseResponseMsg">
    <wsdl:part element="tns:lagreAdresseResponse" name="lagreAdresseResult"/>
  </wsdl:message>
    <wsdl:message name="lagreAdresse_faultPenGeneriskMsg">
    <wsdl:part element="tns:lagreAdresse_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="lagreBrukerprofilRequestMsg">
    <wsdl:part element="tns:lagreBrukerprofil" name="lagreBrukerprofilParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreBrukerprofilResponseMsg">
    <wsdl:part element="tns:lagreBrukerprofilResponse" name="lagreBrukerprofilResult"/>
  </wsdl:message>
    <wsdl:message name="lagreBrukerprofil_faultPenGeneriskMsg">
    <wsdl:part element="tns:lagreBrukerprofil_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentSamboerforholdRequestMsg">
    <wsdl:part element="tns:hentSamboerforhold" name="hentSamboerforholdParameters"/>
  </wsdl:message>
    <wsdl:message name="hentSamboerforholdResponseMsg">
    <wsdl:part element="tns:hentSamboerforholdResponse" name="hentSamboerforholdResult"/>
  </wsdl:message>
    <wsdl:message name="hentSamboerforhold_faultPenGeneriskMsg">
    <wsdl:part element="tns:hentSamboerforhold_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentPerson_faultPenPersonIkkeFunnetMsg">
    <wsdl:part element="tns:hentPerson_faultPenPersonIkkeFunnet" name="faultPenPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentBrukerprofil_faultPenBrukerprofilIkkeFunnetMsg">
    <wsdl:part element="tns:hentBrukerprofil_faultPenBrukerprofilIkkeFunnet" name="faultPenBrukerprofilIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreEpost_faultPenPersonIkkeFunnetMsg">
    <wsdl:part element="tns:lagreEpost_faultPenPersonIkkeFunnet" name="faultPenPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreTelefonnumre_faultPenPersonIkkeFunnetMsg">
    <wsdl:part element="tns:lagreTelefonnumre_faultPenPersonIkkeFunnet" name="faultPenPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreSprak_faultPenPersonIkkeFunnetMsg">
    <wsdl:part element="tns:lagreSprak_faultPenPersonIkkeFunnet" name="faultPenPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreAdresse_faultPenPersonIkkeFunnetMsg">
    <wsdl:part element="tns:lagreAdresse_faultPenPersonIkkeFunnet" name="faultPenPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreBrukerprofil_faultPenPersonIkkeFunnetMsg">
    <wsdl:part element="tns:lagreBrukerprofil_faultPenPersonIkkeFunnet" name="faultPenPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentSamboerforhold_faultPenPersonIkkeFunnetMsg">
    <wsdl:part element="tns:hentSamboerforhold_faultPenPersonIkkeFunnet" name="faultPenPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentEnhetIdRequestMsg">
    <wsdl:part element="tns:hentEnhetId" name="hentEnhetIdParameters"/>
  </wsdl:message>
    <wsdl:message name="hentEnhetIdResponseMsg">
    <wsdl:part element="tns:hentEnhetIdResponse" name="hentEnhetIdResult"/>
  </wsdl:message>
    <wsdl:message name="hentEnhetId_faultPenGeneriskMsg">
    <wsdl:part element="tns:hentEnhetId_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentEnhetId_faultPenPersonIkkeFunnetMsg">
    <wsdl:part element="tns:hentEnhetId_faultPenPersonIkkeFunnet" name="faultPenPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="opprettSamboerforholdRequestMsg">
    <wsdl:part element="tns:opprettSamboerforhold" name="opprettSamboerforholdParameters"/>
  </wsdl:message>
    <wsdl:message name="opprettSamboerforholdResponseMsg">
    <wsdl:part element="tns:opprettSamboerforholdResponse" name="opprettSamboerforholdResult"/>
  </wsdl:message>
    <wsdl:message name="slettSamboerforholdRequestMsg">
    <wsdl:part element="tns:slettSamboerforhold" name="slettSamboerforholdParameters"/>
  </wsdl:message>
    <wsdl:message name="slettSamboerforholdResponseMsg">
    <wsdl:part element="tns:slettSamboerforholdResponse" name="slettSamboerforholdResult"/>
  </wsdl:message>
    <wsdl:message name="opprettSamboerforhold_faultPenGeneriskMsg">
    <wsdl:part element="tns:opprettSamboerforhold_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="slettSamboerforhold_faultPenGeneriskMsg">
    <wsdl:part element="tns:slettSamboerforhold_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="slettSamboerforhold_faultPenPersonIkkeFunnetMsg">
    <wsdl:part element="tns:slettSamboerforhold_faultPenPersonIkkeFunnet" name="faultPenPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="slettSamboerforhold_faultPenSamboerIkkeFunnetMsg">
    <wsdl:part element="tns:slettSamboerforhold_faultPenSamboerIkkeFunnet" name="faultPenSamboerIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="opprettSamboerforhold_faultPenPersonIkkeFunnetMsg">
    <wsdl:part element="tns:opprettSamboerforhold_faultPenPersonIkkeFunnet" name="faultPenPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="opprettSamboerforhold_faultPenSamboerIkkeFunnetMsg">
    <wsdl:part element="tns:opprettSamboerforhold_faultPenSamboerIkkeFunnet" name="faultPenSamboerIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="opprettSamboerforhold_faultPenSamboerIFamilieMsg">
    <wsdl:part element="tns:opprettSamboerforhold_faultPenSamboerIFamilie" name="faultPenSamboerIFamilie"/>
  </wsdl:message>
    <wsdl:message name="opprettSamboerforhold_faultPenSamboerDodMsg">
    <wsdl:part element="tns:opprettSamboerforhold_faultPenSamboerDod" name="faultPenSamboerDod"/>
  </wsdl:message>
    <wsdl:message name="opprettSamboerforhold_faultPenAlleredeRegistrertSamboerforholdMsg">
    <wsdl:part element="tns:opprettSamboerforhold_faultPenAlleredeRegistrertSamboerforhold" name="faultPenAlleredeRegistrertSamboerforhold"/>
  </wsdl:message>
    <wsdl:message name="hentFamilierelasjonerRequestMsg">
    <wsdl:part element="tns:hentFamilierelasjoner" name="hentFamilierelasjonerParameters"/>
  </wsdl:message>
    <wsdl:message name="hentFamilierelasjonerResponseMsg">
    <wsdl:part element="tns:hentFamilierelasjonerResponse" name="hentFamilierelasjonerResult"/>
  </wsdl:message>
    <wsdl:message name="hentFamilierelasjoner_faultPenGeneriskMsg">
    <wsdl:part element="tns:hentFamilierelasjoner_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentFamilierelasjoner_faultPenPersonIkkeFunnetMsg">
    <wsdl:part element="tns:hentFamilierelasjoner_faultPenPersonIkkeFunnet" name="faultPenPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="slettAdresseRequestMsg">
    <wsdl:part element="tns:slettAdresse" name="slettAdresseParameters"/>
  </wsdl:message>
    <wsdl:message name="slettAdresseResponseMsg">
    <wsdl:part element="tns:slettAdresseResponse" name="slettAdresseResult"/>
  </wsdl:message>
    <wsdl:message name="slettAdresse_faultPenGeneriskAfMsg">
    <wsdl:part element="tns:slettAdresse_faultPenGeneriskAf" name="faultPenGeneriskAf"/>
  </wsdl:message>
    <wsdl:message name="slettAdresse_faultPenPersonIkkeFunnetMsg">
    <wsdl:part element="tns:slettAdresse_faultPenPersonIkkeFunnet" name="faultPenPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentFamilierelasjonsHistorikkRequestMsg">
    <wsdl:part element="tns:hentFamilierelasjonsHistorikk" name="hentFamilierelasjonsHistorikkParameters"/>
  </wsdl:message>
    <wsdl:message name="hentFamilierelasjonsHistorikkResponseMsg">
    <wsdl:part element="tns:hentFamilierelasjonsHistorikkResponse" name="hentFamilierelasjonsHistorikkResult"/>
  </wsdl:message>
    <wsdl:message name="hentFamilierelasjonsHistorikk_faultPenGeneriskMsg">
    <wsdl:part element="tns:hentFamilierelasjonsHistorikk_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentFamilierelasjonsHistorikk_faultPenPersonIkkeFunnetMsg">
    <wsdl:part element="tns:hentFamilierelasjonsHistorikk_faultPenPersonIkkeFunnet" name="faultPenPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="opprettSamboerforhold_faultPenSamboerValideringFeiletMsg">
    <wsdl:part element="tns:opprettSamboerforhold_faultPenSamboerValideringFeilet" name="faultPenSamboerValideringFeilet"/>
  </wsdl:message>
    <wsdl:message name="erEgenansattRequestMsg">
    <wsdl:part element="tns:erEgenansatt" name="erEgenansattParameters"/>
  </wsdl:message>
    <wsdl:message name="erEgenansattResponseMsg">
    <wsdl:part element="tns:erEgenansattResponse" name="erEgenansattResult"/>
  </wsdl:message>
    <wsdl:message name="erEgenansatt_faultPenGeneriskMsg">
    <wsdl:part element="tns:erEgenansatt_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="erEgenansatt_faultPenPersonIkkeFunnetMsg">
    <wsdl:part element="tns:erEgenansatt_faultPenPersonIkkeFunnet" name="faultPenPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreKontoinformasjonRequestMsg">
    <wsdl:part element="tns:lagreKontoinformasjon" name="lagreKontoinformasjonParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreKontoinformasjonResponseMsg">
    <wsdl:part element="tns:lagreKontoinformasjonResponse" name="lagreKontoinformasjonResult"/>
  </wsdl:message>
    <wsdl:message name="lagreKontoinformasjon_faultPenGeneriskMsg">
    <wsdl:part element="tns:lagreKontoinformasjon_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="lagreKontoinformasjon_faultPenPersonIkkeFunnetMsg">
    <wsdl:part element="tns:lagreKontoinformasjon_faultPenPersonIkkeFunnet" name="faultPenPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentKontoinformasjonRequestMsg">
    <wsdl:part element="tns:hentKontoinformasjon" name="hentKontoinformasjonParameters"/>
  </wsdl:message>
    <wsdl:message name="hentKontoinformasjonResponseMsg">
    <wsdl:part element="tns:hentKontoinformasjonResponse" name="hentKontoinformasjonResult"/>
  </wsdl:message>
    <wsdl:message name="hentKontoinformasjon_faultPenGeneriskMsg">
    <wsdl:part element="tns:hentKontoinformasjon_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentKontoinformasjon_faultPenPersonIkkeFunnetMsg">
    <wsdl:part element="tns:hentKontoinformasjon_faultPenPersonIkkeFunnet" name="faultPenPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentPersonListeRequestMsg">
    <wsdl:part element="tns:hentPersonListe" name="hentPersonListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentPersonListeResponseMsg">
    <wsdl:part element="tns:hentPersonListeResponse" name="hentPersonListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentPersonListe_faultPenGeneriskMsg">
    <wsdl:part element="tns:hentPersonListe_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentPersonListe_faultPenPersonIkkeFunnetMsg">
    <wsdl:part element="tns:hentPersonListe_faultPenPersonIkkeFunnet" name="faultPenPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:portType name="PSELVPerson">
    <wsdl:operation name="hentPerson">
      <wsdl:input message="tns:hentPersonRequestMsg" name="hentPersonRequest"/>
      <wsdl:output message="tns:hentPersonResponseMsg" name="hentPersonResponse"/>
      <wsdl:fault message="tns:hentPerson_faultPenGeneriskMsg" name="faultPenGenerisk"/>
            <wsdl:fault message="tns:hentPerson_faultPenPersonIkkeFunnetMsg" name="faultPenPersonIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="hentBrukerprofil">
      <wsdl:input message="tns:hentBrukerprofilRequestMsg" name="hentBrukerprofilRequest"/>
      <wsdl:output message="tns:hentBrukerprofilResponseMsg" name="hentBrukerprofilResponse"/>
      <wsdl:fault message="tns:hentBrukerprofil_faultPenGeneriskMsg" name="faultPenGenerisk"/>
            <wsdl:fault message="tns:hentBrukerprofil_faultPenBrukerprofilIkkeFunnetMsg" name="faultPenBrukerprofilIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="lagreEpost">
      <wsdl:input message="tns:lagreEpostRequestMsg" name="lagreEpostRequest"/>
      <wsdl:output message="tns:lagreEpostResponseMsg" name="lagreEpostResponse"/>
      <wsdl:fault message="tns:lagreEpost_faultPenGeneriskMsg" name="faultPenGenerisk"/>
            <wsdl:fault message="tns:lagreEpost_faultPenPersonIkkeFunnetMsg" name="faultPenPersonIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="lagreTelefonnumre">
      <wsdl:input message="tns:lagreTelefonnumreRequestMsg" name="lagreTelefonnumreRequest"/>
      <wsdl:output message="tns:lagreTelefonnumreResponseMsg" name="lagreTelefonnumreResponse"/>
      <wsdl:fault message="tns:lagreTelefonnumre_faultPenGeneriskMsg" name="faultPenGenerisk"/>
            <wsdl:fault message="tns:lagreTelefonnumre_faultPenPersonIkkeFunnetMsg" name="faultPenPersonIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="lagreSprak">
      <wsdl:input message="tns:lagreSprakRequestMsg" name="lagreSprakRequest"/>
      <wsdl:output message="tns:lagreSprakResponseMsg" name="lagreSprakResponse"/>
      <wsdl:fault message="tns:lagreSprak_faultPenGeneriskMsg" name="faultPenGenerisk"/>
            <wsdl:fault message="tns:lagreSprak_faultPenPersonIkkeFunnetMsg" name="faultPenPersonIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="lagreAdresse">
      <wsdl:input message="tns:lagreAdresseRequestMsg" name="lagreAdresseRequest"/>
      <wsdl:output message="tns:lagreAdresseResponseMsg" name="lagreAdresseResponse"/>
      <wsdl:fault message="tns:lagreAdresse_faultPenGeneriskMsg" name="faultPenGenerisk"/>
            <wsdl:fault message="tns:lagreAdresse_faultPenPersonIkkeFunnetMsg" name="faultPenPersonIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="lagreBrukerprofil">
      <wsdl:input message="tns:lagreBrukerprofilRequestMsg" name="lagreBrukerprofilRequest"/>
      <wsdl:output message="tns:lagreBrukerprofilResponseMsg" name="lagreBrukerprofilResponse"/>
      <wsdl:fault message="tns:lagreBrukerprofil_faultPenGeneriskMsg" name="faultPenGenerisk"/>
            <wsdl:fault message="tns:lagreBrukerprofil_faultPenPersonIkkeFunnetMsg" name="faultPenPersonIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="hentSamboerforhold">
      <wsdl:input message="tns:hentSamboerforholdRequestMsg" name="hentSamboerforholdRequest"/>
      <wsdl:output message="tns:hentSamboerforholdResponseMsg" name="hentSamboerforholdResponse"/>
      <wsdl:fault message="tns:hentSamboerforhold_faultPenGeneriskMsg" name="faultPenGenerisk"/>
            <wsdl:fault message="tns:hentSamboerforhold_faultPenPersonIkkeFunnetMsg" name="faultPenPersonIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="hentEnhetId">
      <wsdl:input message="tns:hentEnhetIdRequestMsg" name="hentEnhetIdRequest"/>
      <wsdl:output message="tns:hentEnhetIdResponseMsg" name="hentEnhetIdResponse"/>
      <wsdl:fault message="tns:hentEnhetId_faultPenGeneriskMsg" name="faultPenGenerisk"/>
      <wsdl:fault message="tns:hentEnhetId_faultPenPersonIkkeFunnetMsg" name="faultPenPersonIkkeFunnet"/>
    </wsdl:operation>
        <wsdl:operation name="opprettSamboerforhold">
      <wsdl:input message="tns:opprettSamboerforholdRequestMsg" name="opprettSamboerforholdRequest"/>
      <wsdl:output message="tns:opprettSamboerforholdResponseMsg" name="opprettSamboerforholdResponse"/>
      <wsdl:fault message="tns:opprettSamboerforhold_faultPenGeneriskMsg" name="faultPenGenerisk"/>
            <wsdl:fault message="tns:opprettSamboerforhold_faultPenPersonIkkeFunnetMsg" name="faultPenPersonIkkeFunnet"/>
            <wsdl:fault message="tns:opprettSamboerforhold_faultPenSamboerIkkeFunnetMsg" name="faultPenSamboerIkkeFunnet"/>
            <wsdl:fault message="tns:opprettSamboerforhold_faultPenSamboerIFamilieMsg" name="faultPenSamboerIFamilie"/>
            <wsdl:fault message="tns:opprettSamboerforhold_faultPenSamboerDodMsg" name="faultPenSamboerDod"/>
            <wsdl:fault message="tns:opprettSamboerforhold_faultPenAlleredeRegistrertSamboerforholdMsg" name="faultPenAlleredeRegistrertSamboerforhold"/>
            <wsdl:fault message="tns:opprettSamboerforhold_faultPenSamboerValideringFeiletMsg" name="faultPenSamboerValideringFeilet"/>
        </wsdl:operation>
        <wsdl:operation name="slettSamboerforhold">
      <wsdl:input message="tns:slettSamboerforholdRequestMsg" name="slettSamboerforholdRequest"/>
      <wsdl:output message="tns:slettSamboerforholdResponseMsg" name="slettSamboerforholdResponse"/>
      <wsdl:fault message="tns:slettSamboerforhold_faultPenGeneriskMsg" name="faultPenGenerisk"/>
      <wsdl:fault message="tns:slettSamboerforhold_faultPenPersonIkkeFunnetMsg" name="faultPenPersonIkkeFunnet"/>
      <wsdl:fault message="tns:slettSamboerforhold_faultPenSamboerIkkeFunnetMsg" name="faultPenSamboerIkkeFunnet"/>
    </wsdl:operation>
        <wsdl:operation name="hentFamilierelasjoner">
      <wsdl:input message="tns:hentFamilierelasjonerRequestMsg" name="hentFamilierelasjonerRequest"/>
      <wsdl:output message="tns:hentFamilierelasjonerResponseMsg" name="hentFamilierelasjonerResponse"/>
      <wsdl:fault message="tns:hentFamilierelasjoner_faultPenGeneriskMsg" name="faultPenGenerisk"/>
      <wsdl:fault message="tns:hentFamilierelasjoner_faultPenPersonIkkeFunnetMsg" name="faultPenPersonIkkeFunnet"/>
    </wsdl:operation>
        <wsdl:operation name="slettAdresse">
      <wsdl:input message="tns:slettAdresseRequestMsg" name="slettAdresseRequest"/>
      <wsdl:output message="tns:slettAdresseResponseMsg" name="slettAdresseResponse"/>
      <wsdl:fault message="tns:slettAdresse_faultPenGeneriskAfMsg" name="faultPenGenerisk"/>
      <wsdl:fault message="tns:slettAdresse_faultPenPersonIkkeFunnetMsg" name="faultPenPersonIkkeFunnet"/>
    </wsdl:operation>
        <wsdl:operation name="hentFamilierelasjonsHistorikk">
      <wsdl:input message="tns:hentFamilierelasjonsHistorikkRequestMsg" name="hentFamilierelasjonsHistorikkRequest"/>
      <wsdl:output message="tns:hentFamilierelasjonsHistorikkResponseMsg" name="hentFamilierelasjonsHistorikkResponse"/>
      <wsdl:fault message="tns:hentFamilierelasjonsHistorikk_faultPenGeneriskMsg" name="faultPenGenerisk"/>
      <wsdl:fault message="tns:hentFamilierelasjonsHistorikk_faultPenPersonIkkeFunnetMsg" name="faultPenPersonIkkeFunnet"/>
    </wsdl:operation>
        <wsdl:operation name="erEgenansatt">
      <wsdl:input message="tns:erEgenansattRequestMsg" name="erEgenansattRequest"/>
      <wsdl:output message="tns:erEgenansattResponseMsg" name="erEgenansattResponse"/>
      <wsdl:fault message="tns:erEgenansatt_faultPenGeneriskMsg" name="faultPenGenerisk"/>
      <wsdl:fault message="tns:erEgenansatt_faultPenPersonIkkeFunnetMsg" name="faultPenPersonIkkeFunnet"/>
    </wsdl:operation>
        <wsdl:operation name="lagreKontoinformasjon">
      <wsdl:input message="tns:lagreKontoinformasjonRequestMsg" name="lagreKontoinformasjonRequest"/>
      <wsdl:output message="tns:lagreKontoinformasjonResponseMsg" name="lagreKontoinformasjonResponse"/>
      <wsdl:fault message="tns:lagreKontoinformasjon_faultPenGeneriskMsg" name="faultPenGenerisk"/>
      <wsdl:fault message="tns:lagreKontoinformasjon_faultPenPersonIkkeFunnetMsg" name="faultPenPersonIkkeFunnet"/>
    </wsdl:operation>
        <wsdl:operation name="hentKontoinformasjon">
      <wsdl:input message="tns:hentKontoinformasjonRequestMsg" name="hentKontoinformasjonRequest"/>
      <wsdl:output message="tns:hentKontoinformasjonResponseMsg" name="hentKontoinformasjonResponse"/>
      <wsdl:fault message="tns:hentKontoinformasjon_faultPenGeneriskMsg" name="faultPenGenerisk"/>
      <wsdl:fault message="tns:hentKontoinformasjon_faultPenPersonIkkeFunnetMsg" name="faultPenPersonIkkeFunnet"/>
    </wsdl:operation>
        <wsdl:operation name="hentPersonListe">
      <wsdl:input message="tns:hentPersonListeRequestMsg" name="hentPersonListeRequest"/>
      <wsdl:output message="tns:hentPersonListeResponseMsg" name="hentPersonListeResponse"/>
            <wsdl:fault message="tns:hentPersonListe_faultPenGeneriskMsg" name="faultPenGenerisk"/>
            <wsdl:fault message="tns:hentPersonListe_faultPenPersonIkkeFunnetMsg" name="faultPenPersonIkkeFunnet"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
