pselv-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/inf/PSELVInntekt.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/inntekt" xmlns:bons2="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault" xmlns:bons3="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault/inntekt" xmlns:tns="http://nav-cons-pen-pselv-inntekt/no/nav/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PSELVInntekt" targetNamespace="http://nav-cons-pen-pselv-inntekt/no/nav/inf">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav-cons-pen-pselv-inntekt/no/nav/inf" xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/inntekt" xmlns:bons2="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault" xmlns:bons3="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault/inntekt" xmlns:tns="http://nav-cons-pen-pselv-inntekt/no/nav/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault/inntekt" schemaLocation="../lib/pen/psakpselv/fault/inntekt/FaultPenInntektAlleredeRegistret.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/inntekt" schemaLocation="../lib/pen/psakpselv/asbo/inntekt/ASBOPenInntektListe.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/inntekt" schemaLocation="../lib/pen/psakpselv/asbo/inntekt/ASBOPenHentInntektListeRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault" schemaLocation="../lib/pen/psakpselv/fault/FaultPenGenerisk.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault/inntekt" schemaLocation="../lib/pen/psakpselv/fault/inntekt/FaultPenUkjentInntektType.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/inntekt" schemaLocation="../lib/pen/psakpselv/asbo/inntekt/ASBOPenInntekt.xsd"/>
            <xsd:element name="hentInntektListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentInntektListeRequest" nillable="true" type="bons1:ASBOPenHentInntektListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentInntektListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentInntektListeResponse" nillable="true" type="bons1:ASBOPenInntektListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentInntektListe_faultPenGenerisk" type="bons2:FaultPenGenerisk"/>
      <xsd:element name="opprettBrukerOppgittInntekt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettBrukerOppgittInntektRequest" nillable="true" type="bons1:ASBOPenInntekt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettBrukerOppgittInntektResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettBrukerOppgittInntektResponse" nillable="true" type="bons1:ASBOPenInntekt"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettBrukerOppgittInntekt_faultPenGenerisk" type="bons2:FaultPenGenerisk"/>
      <xsd:element name="opprettBrukerOppgittInntekt_faultPenInntektAlleredeRegistrert" type="bons3:FaultPenInntektAlleredeRegistret"/>
            <xsd:element name="hentInntektListe_faultPenUkjentInntektType" type="bons3:FaultPenUkjentInntektType"/>
            <xsd:element name="opprettBrukerOppgittInntekt_faultPenUkjentInntektType" type="bons3:FaultPenUkjentInntektType"/>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentInntektListeRequestMsg">
    <wsdl:part element="tns:hentInntektListe" name="hentInntektListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentInntektListeResponseMsg">
    <wsdl:part element="tns:hentInntektListeResponse" name="hentInntektListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentInntektListe_faultPenGeneriskMsg">
    <wsdl:part element="tns:hentInntektListe_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="opprettBrukerOppgittInntektRequestMsg">
    <wsdl:part element="tns:opprettBrukerOppgittInntekt" name="opprettBrukerOppgittInntektParameters"/>
  </wsdl:message>
    <wsdl:message name="opprettBrukerOppgittInntektResponseMsg">
    <wsdl:part element="tns:opprettBrukerOppgittInntektResponse" name="opprettBrukerOppgittInntektResult"/>
  </wsdl:message>
    <wsdl:message name="opprettBrukerOppgittInntekt_faultPenGeneriskMsg">
    <wsdl:part element="tns:opprettBrukerOppgittInntekt_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="opprettBrukerOppgittInntekt_faultPenInntektAlleredeRegistrertMsg">
    <wsdl:part element="tns:opprettBrukerOppgittInntekt_faultPenInntektAlleredeRegistrert" name="faultPenInntektAlleredeRegistrert"/>
  </wsdl:message>
    <wsdl:portType name="PSELVInntekt">
    <wsdl:operation name="hentInntektListe">
      <wsdl:input message="tns:hentInntektListeRequestMsg" name="hentInntektListeRequest"/>
      <wsdl:output message="tns:hentInntektListeResponseMsg" name="hentInntektListeResponse"/>
      <wsdl:fault message="tns:hentInntektListe_faultPenGeneriskMsg" name="faultPenGenerisk"/>
        </wsdl:operation>
    <wsdl:operation name="opprettBrukerOppgittInntekt">
      <wsdl:input message="tns:opprettBrukerOppgittInntektRequestMsg" name="opprettBrukerOppgittInntektRequest"/>
      <wsdl:output message="tns:opprettBrukerOppgittInntektResponseMsg" name="opprettBrukerOppgittInntektResponse"/>
      <wsdl:fault message="tns:opprettBrukerOppgittInntekt_faultPenGeneriskMsg" name="faultPenGenerisk"/>
      <wsdl:fault message="tns:opprettBrukerOppgittInntekt_faultPenInntektAlleredeRegistrertMsg" name="faultPenInntektAlleredeRegistrert"/>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
