pcom-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/utbetaling/ASBOPenPosteringsdetaljer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/utbetaling">
  <xsd:complexType name="ASBOPenPosteringsdetaljer">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kontonr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="kontoBeskrHoved" type="xsd:string"/>
      <xsd:element minOccurs="0" name="kontoBeskrUnder" type="xsd:string"/>
      <xsd:element minOccurs="0" name="belop" type="xsd:float"/>
            <xsd:element minOccurs="0" name="posteringsKode" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
