pselv-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/person/ASBOPenLagreTelefonnumreRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://nav-lib-cons-pen/no/nav/lib/pen/asbo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/person">
    <xsd:complexType name="ASBOPenLagreTelefonnumreRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fodselsnummer" type="xsd:string"/>
      <xsd:element minOccurs="0" name="telefonType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="tlfPrivat" type="xsd:string"/>
            <xsd:element minOccurs="0" name="tlfJobb" type="xsd:string"/>
            <xsd:element minOccurs="0" name="tlfMobil" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
