pselv-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/person/ASBOPenRelasjon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/person" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/person">
    <xsd:include schemaLocation="ASBOPenPerson.xsd"/>
    <xsd:complexType name="ASBOPenRelasjon">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="relasjonsType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="adresseStatus" type="xsd:string"/>
            <xsd:element minOccurs="0" name="fom" type="xsd:date"/>
            <xsd:element minOccurs="0" name="tom" type="xsd:date"/>
            <xsd:element minOccurs="0" name="person" type="bons0:ASBOPenPerson"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
