pen-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/inf/PENInntekt.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons2="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/inntekt" xmlns:bons3="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault/inntekt" xmlns:bons4="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault" xmlns:tns="http://nav-cons-pen-pen-inntekt/no/nav/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PENInntekt" targetNamespace="http://nav-cons-pen-pen-inntekt/no/nav/inf">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav-cons-pen-pen-inntekt/no/nav/inf" xmlns:bons2="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/inntekt" xmlns:bons3="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault/inntekt" xmlns:bons4="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault" xmlns:tns="http://nav-cons-pen-pen-inntekt/no/nav/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/inntekt" schemaLocation="../lib/pen/psakpselv/asbo/inntekt/ASBOPenInntektListe.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault/inntekt" schemaLocation="../lib/pen/psakpselv/fault/inntekt/FaultPenUkjentInntektType.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/inntekt" schemaLocation="../lib/pen/psakpselv/asbo/inntekt/ASBOPenHentInntektListeRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault" schemaLocation="../lib/pen/psakpselv/fault/FaultPenGenerisk.xsd"/>
            <xsd:element name="hentInntektListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentInntektListeRequest" nillable="true" type="bons2:ASBOPenHentInntektListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentInntektListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentInntektListeResponse" nillable="true" type="bons2:ASBOPenInntektListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentInntektListe_faultPenGenerisk" type="bons4:FaultPenGenerisk"/>
            <xsd:element name="hentInntektListe_faultPenUkjentInntektType" type="bons3:FaultPenUkjentInntektType"/>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentInntektListeRequestMsg">
    <wsdl:part element="tns:hentInntektListe" name="hentInntektListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentInntektListeResponseMsg">
    <wsdl:part element="tns:hentInntektListeResponse" name="hentInntektListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentInntektListe_faultPenGeneriskMsg">
    <wsdl:part element="tns:hentInntektListe_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:portType name="PENInntekt">
    <wsdl:operation name="hentInntektListe">
      <wsdl:input message="tns:hentInntektListeRequestMsg" name="hentInntektListeRequest"/>
      <wsdl:output message="tns:hentInntektListeResponseMsg" name="hentInntektListeResponse"/>
      <wsdl:fault message="tns:hentInntektListe_faultPenGeneriskMsg" name="faultPenGenerisk"/>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
