pen-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/inf/PENPPEN004.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="PENPPEN004" targetNamespace="http://nav-cons-pen-pselv-ppen004/no/nav/inf" xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/ppen004" xmlns:bons2="http://nav-cons-pen-pselv-ppen004/no/nav/inf/" xmlns:tns="http://nav-cons-pen-pselv-ppen004/no/nav/inf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
      <xsd:schema targetNamespace="http://nav-cons-pen-pselv-ppen004/no/nav/inf">
      <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/ppen004" schemaLocation="../lib/pen/psakpselv/asbo/ppen004/ASBOPenPPEN004Response.xsd"/>
      <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/ppen004" schemaLocation="../lib/pen/psakpselv/asbo/ppen004/ASBOPenPPEN004Request.xsd"/>
      <xsd:element name="behandleEndringAvUttaksgrad">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="behandleEndringAvUttaksgradRequest" nillable="true" type="bons1:ASBOPenPPEN004Request"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="behandleEndringAvUttaksgradResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="behandleEndringAvUttaksgradResponse" nillable="true" type="bons1:ASBOPenPPEN004Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="behandleEndringAvUttaksgradRequestMsg">
    <wsdl:part element="tns:behandleEndringAvUttaksgrad" name="behandleEndringAvUttaksgradParameters"/>
  </wsdl:message>
    <wsdl:message name="behandleEndringAvUttaksgradResponseMsg">
    <wsdl:part element="tns:behandleEndringAvUttaksgradResponse" name="behandleEndringAvUttaksgradResult"/>
  </wsdl:message>
    <wsdl:portType name="PENPPEN004">
    <wsdl:operation name="behandleEndringAvUttaksgrad">
      <wsdl:input message="tns:behandleEndringAvUttaksgradRequestMsg" name="behandleEndringAvUttaksgradRequest"/>
      <wsdl:output message="tns:behandleEndringAvUttaksgradResponseMsg" name="behandleEndringAvUttaksgradResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>