pen-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/inf/PENPPEN015.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/ppen015" xmlns:tns="http://nav-cons-pen-pen-ppen015/no/nav/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PSAKPPEN015" targetNamespace="http://nav-cons-pen-pen-ppen015/no/nav/inf">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav-cons-pen-pen-ppen015/no/nav/inf" xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/ppen015" xmlns:tns="http://nav-cons-pen-pen-ppen015/no/nav/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/ppen015" schemaLocation="../lib/pen/psakpselv/asbo/ppen015/ASBOPenPPEN015Request.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/ppen015" schemaLocation="../lib/pen/psakpselv/asbo/ppen015/ASBOPenPPEN015Response.xsd"/>
            <xsd:element name="iverksettVedtak">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="iverksettVedtakRequest" nillable="true" type="bons1:ASBOPenPPEN015Request"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="iverksettVedtakResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="iverksettVedtakResponse" nillable="true" type="bons1:ASBOPenPPEN015Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="isAlive">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="isAliveRequest" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="isAliveResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="isAliveResponse" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="iverksettVedtakRequestMsg">
    <wsdl:part element="tns:iverksettVedtak" name="iverksettVedtakParameters"/>
  </wsdl:message>
    <wsdl:message name="iverksettVedtakResponseMsg">
    <wsdl:part element="tns:iverksettVedtakResponse" name="iverksettVedtakResult"/>
  </wsdl:message>
    <wsdl:message name="isAliveRequestMsg">
    <wsdl:part element="tns:isAlive" name="isAliveParameters"/>
  </wsdl:message>
    <wsdl:message name="isAliveResponseMsg">
    <wsdl:part element="tns:isAliveResponse" name="isAliveResult"/>
  </wsdl:message>
    <wsdl:portType name="PENPPEN015">
    <wsdl:operation name="iverksettVedtak">
      <wsdl:input message="tns:iverksettVedtakRequestMsg" name="iverksettVedtakRequest"/>
      <wsdl:output message="tns:iverksettVedtakResponseMsg" name="iverksettVedtakResponse"/>
    </wsdl:operation>
        <wsdl:operation name="isAlive">
      <wsdl:input message="tns:isAliveRequestMsg" name="isAliveRequest"/>
      <wsdl:output message="tns:isAliveResponseMsg" name="isAliveResponse"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
