pen-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/inf/PENPPEN003.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="PENPPEN003" targetNamespace="http://nav-cons-pen-pen-ppen003/no/nav/inf" xmlns:bons0="http://nav-cons-pen-pen-ppen003/no/nav/inf/PENPPEN003" xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/ppen003" xmlns:tns="http://nav-cons-pen-pen-ppen003/no/nav/inf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://nav-cons-pen-pen-ppen003/no/nav/inf" xmlns:bons0="http://nav-cons-pen-pen-ppen003/no/nav/inf">
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/ppen003" schemaLocation="../lib/pen/psakpselv/asbo/ppen003/ASBOPenBehandleFleksibelAPSakResponse.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/ppen003" schemaLocation="../lib/pen/psakpselv/asbo/ppen003/ASBOPenBehandleKompletteringAvGrunnlagRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/ppen003" schemaLocation="../lib/pen/psakpselv/asbo/ppen003/ASBOPenBehandleKompletteringAvGrunnlagResponse.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/ppen003" schemaLocation="../lib/pen/psakpselv/asbo/ppen003/ASBOPenBehandleFleksibelAPSakRequest.xsd"/>
      <xsd:element name="behandleKompletteringAvGrunnlag">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="behandleKompletteringAvGrunnlagRequest" nillable="true" type="bons1:ASBOPenBehandleKompletteringAvGrunnlagRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="behandleKompletteringAvGrunnlagResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="behandleKompletteringAvGrunnlagResponse" nillable="true" type="bons1:ASBOPenBehandleKompletteringAvGrunnlagResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="behandleKompletteringAvGrunnlagRequestMsg">
    <wsdl:part element="tns:behandleKompletteringAvGrunnlag" name="behandleKompletteringAvGrunnlagParameters"/>
  </wsdl:message>
    <wsdl:message name="behandleKompletteringAvGrunnlagResponseMsg">
    <wsdl:part element="tns:behandleKompletteringAvGrunnlagResponse" name="behandleKompletteringAvGrunnlagResult"/>
  </wsdl:message>
    <wsdl:portType name="PENPPEN003">
    <wsdl:operation name="behandleKompletteringAvGrunnlag">
      <wsdl:input message="tns:behandleKompletteringAvGrunnlagRequestMsg" name="behandleKompletteringAvGrunnlagRequest"/>
      <wsdl:output message="tns:behandleKompletteringAvGrunnlagResponseMsg" name="behandleKompletteringAvGrunnlagResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>