pen-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/inf/PSELVPPEN003.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="PENPPEN003" targetNamespace="http://nav-cons-pen-pselv-ppen003/no/nav/inf" xmlns:bons0="http://nav-cons-pen-pselv-ppen003/no/nav/inf/PENPPEN003" xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/ppen003" xmlns:tns="http://nav-cons-pen-pselv-ppen003/no/nav/inf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://nav-cons-pen-pselv-ppen003/no/nav/inf" xmlns:bons0="http://nav-cons-pen-pselv-ppen003/no/nav/inf">
      <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/ppen003" schemaLocation="../lib/pen/psakpselv/asbo/ppen003/ASBOPenBehandleFleksibelAPSakResponse.xsd"/>
      <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/ppen003" schemaLocation="../lib/pen/psakpselv/asbo/ppen003/ASBOPenBehandleFleksibelAPSakRequest.xsd"/>
      <xsd:element name="behandleFleksibelAPSak">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="behandleFleksibelAPSakRequest" nillable="true" type="bons1:ASBOPenBehandleFleksibelAPSakRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="behandleFleksibelAPSakResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="behandleFleksibelAPSakResponse" nillable="true" type="bons1:ASBOPenBehandleFleksibelAPSakResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="behandleFleksibelAPSakRequestMsg">
    <wsdl:part element="tns:behandleFleksibelAPSak" name="behandleFleksibelAPSakParameters"/>
  </wsdl:message>
    <wsdl:message name="behandleFleksibelAPSakResponseMsg">
    <wsdl:part element="tns:behandleFleksibelAPSakResponse" name="behandleFleksibelAPSakResult"/>
  </wsdl:message>
    <wsdl:portType name="PSELVPPEN003">
    <wsdl:operation name="behandleFleksibelAPSak">
      <wsdl:input message="tns:behandleFleksibelAPSakRequestMsg" name="behandleFleksibelAPSakRequest"/>
      <wsdl:output message="tns:behandleFleksibelAPSakResponseMsg" name="behandleFleksibelAPSakResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>