psak-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/samhandler/ASBOPenAvdeling.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo"
	xmlns:bons2="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/samhandler"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/samhandler">
	<xsd:include schemaLocation="ASBOPenKonto.xsd" />
	<xsd:import
		namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo"
		schemaLocation="../ASBOPenAdresse.xsd" />
	<xsd:complexType name="ASBOPenAvdeling">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="idTSSEkstern"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="avdelingNavn"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="avdelingType"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="avdelingsnr"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="kontaktperson"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="ePost" type="xsd:string" />
			<xsd:element minOccurs="0" name="telefon" type="xsd:string" />
			<xsd:element minOccurs="0" name="mobil" type="xsd:string" />
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="kontoer" type="bons2:ASBOPenKonto" />
			<xsd:element minOccurs="0" name="aAdresse"
				type="bons1:ASBOPenAdresse" />
			<xsd:element minOccurs="0" name="pAdresse"
				type="bons1:ASBOPenAdresse" />
			<xsd:element minOccurs="0" name="tAdresse"
				type="bons1:ASBOPenAdresse" />
			<xsd:element minOccurs="0" name="uAdresse"
				type="bons1:ASBOPenAdresse">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
