pcom-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/henvendelse/ASBOPenStatistikk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/henvendelse" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/henvendelse">
    <xsd:include schemaLocation="ASBOPenStatistikkElement.xsd"/>
    <xsd:include schemaLocation="ASBOPenData.xsd"/>
    <xsd:complexType name="ASBOPenStatistikk">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="overskrift" type="bons0:ASBOPenStatistikkElement"/>
      <xsd:element minOccurs="0" name="innhold" type="bons0:ASBOPenStatistikkElement" maxOccurs="unbounded"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="data" type="bons0:ASBOPenStatistikkElement"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
