pcom-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/henvendelse/ASBOPenHenvendelse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/oppgave" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/henvendelse">
    <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" schemaLocation="../ASBOPenEndringsInfo.xsd"/>
    <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/oppgave" schemaLocation="../oppgave/ASBOPenOppgave.xsd"/>
    <xsd:complexType name="ASBOPenHenvendelse">
    <xsd:sequence>
            <xsd:element minOccurs="0" name="henvendelsesId" type="xsd:string"/>
            <xsd:element minOccurs="0" name="fodselsnummer" type="xsd:string"/>
            <xsd:element minOccurs="0" name="saksnummer" type="xsd:string"/>
            <xsd:element minOccurs="0" name="fagomradeKode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="underkategori" type="xsd:string"/>
            <xsd:element minOccurs="0" name="henvendelsesType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="kanal" type="xsd:string"/>
            <xsd:element minOccurs="0" name="beskrivelse" type="xsd:string"/>
            <xsd:element minOccurs="0" name="oppfolging" type="xsd:string"/>
            <xsd:element minOccurs="0" name="tidsbruk" type="xsd:string"/>
            <xsd:element minOccurs="0" name="versjon" type="xsd:string"/>
            <xsd:element minOccurs="0" name="regKundesenter" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="avslattKundesenter" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="notatBidrag" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="journalpostIdSendt" type="xsd:string"/>
            <xsd:element minOccurs="0" name="journalpostIdMottatt" type="xsd:string"/>
            <xsd:element minOccurs="0" name="journalpostIdNotat" type="xsd:string"/>
            <xsd:element minOccurs="0" name="simuleringsId" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ferdigstiltDato" type="xsd:date"/>
            <xsd:element minOccurs="0" name="ferdigstiltAv" type="xsd:string"/>
            <xsd:element minOccurs="0" name="endringsInfo" type="bons0:ASBOPenEndringsInfo"/>
            <xsd:element minOccurs="0" name="oppgave" type="bons1:ASBOPenOppgave"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
