psak-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/samordning/ASBOPenHentSamordningsVedtaksListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/samordning">
  <xsd:complexType name="ASBOPenHentSamordningsVedtaksListeRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="samId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="vedtakId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="saksId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fagsystemKode" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
