psak-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/samordning/ASBOPenPoengrekke.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons2="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/samordning" xmlns:bons3="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/samordning">
    <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" schemaLocation="../ASBOPenEndringsInfo.xsd"/>
    <xsd:include schemaLocation="ASBOPenFremtidigPensjonspoengtall.xsd"/>
    <xsd:complexType name="ASBOPenPoengrekke">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="poengAr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="poengArFor92" type="xsd:string"/>
      <xsd:element minOccurs="0" name="poengArFor91" type="xsd:string"/>
      <xsd:element minOccurs="0" name="poengArFaktisk" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tidligerePenInntekt" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tidligerePenInntektFaktor" type="xsd:string"/>
      <xsd:element minOccurs="0" name="poengtallAnntattArligInntekt" type="xsd:string"/>
      <xsd:element minOccurs="0" name="paNo" type="xsd:string"/>
      <xsd:element minOccurs="0" name="sisteFppAr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="sisteFppArNorden" type="xsd:string"/>
      <xsd:element minOccurs="0" name="sisteFppArEos" type="xsd:string"/>
      <xsd:element minOccurs="0" name="paEosFor92" type="xsd:string"/>
      <xsd:element minOccurs="0" name="paEosEtter91" type="xsd:string"/>
      <xsd:element minOccurs="0" name="paNordiskFramtBrutto" type="xsd:string"/>
      <xsd:element minOccurs="0" name="paNordiskFramtNetto" type="xsd:string"/>
      <xsd:element minOccurs="0" name="endringsInfo" type="bons3:ASBOPenEndringsInfo"/>
      <xsd:element minOccurs="0" name="fremtidigPensjonspoengtall" type="bons2:ASBOPenFremtidigPensjonspoengtall"/>
      <xsd:element minOccurs="0" name="framtidigPenpoengtallOmregnet" type="bons2:ASBOPenFremtidigPensjonspoengtall"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
