psak-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/samordning/ASBOPenBeregningNokkelInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons2="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/samordning" xmlns:bons3="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/samordning">
    <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" schemaLocation="../ASBOPenEndringsInfo.xsd"/>
    <xsd:include schemaLocation="ASBOPenSluttpoengtall.xsd"/> 
    <xsd:complexType name="ASBOPenBeregningNokkelInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="beregningNokkelinfoId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="grunnlagsrolleKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="beregningId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="spt" type="bons2:ASBOPenSluttpoengtall"/>
      <xsd:element minOccurs="0" name="ypt" type="bons2:ASBOPenSluttpoengtall"/>
      <xsd:element minOccurs="0" name="opt" type="bons2:ASBOPenSluttpoengtall"/>
      <xsd:element minOccurs="0" name="tt_anv" type="xsd:string"/>
      <xsd:element minOccurs="0" name="anvendtIBeregningen" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="endringsInfo" type="bons3:ASBOPenEndringsInfo"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
