psak-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/samordning/ASBOPenTrygdetidEOS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/samordning">
    <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" schemaLocation="../ASBOPenEndringsInfo.xsd"/>
    <xsd:complexType name="ASBOPenTrygdetidEOS">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="trygdetidEOSId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fremtidigTrygdetidEOS" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fremtidigTrygdetidEOSRedusert" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="trygdetidEOSAnvendtAr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="trygdetidEOSAnvendtMnd" type="xsd:string"/>
      <xsd:element minOccurs="0" name="trygdetidEOSNevner" type="xsd:string"/>
      <xsd:element minOccurs="0" name="trygdetidEOSProRataMnd" type="xsd:string"/>
      <xsd:element minOccurs="0" name="trygdetidEOSTeller" type="xsd:string"/>
      <xsd:element minOccurs="0" name="trygdetidEOSTeoretiskMnd" type="xsd:string"/>
      <xsd:element minOccurs="0" name="trygdetidLilPa" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="trygdetidKonvensjonAr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="endringsInfo" type="bons1:ASBOPenEndringsInfo"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
