psak-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/samordning/ASBOPenSluttpoengtall.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons2="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/samordning" xmlns:bons3="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/samordning">
    <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" schemaLocation="../ASBOPenEndringsInfo.xsd"/>
    <xsd:include schemaLocation="ASBOPenPoengrekke.xsd"/>
    <xsd:complexType name="ASBOPenSluttpoengtall">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="poengtall" type="xsd:string"/>
      <xsd:element minOccurs="0" name="poengrekke" type="bons2:ASBOPenPoengrekke"/>
      <xsd:element minOccurs="0" name="poengtillegg" type="xsd:string"/>
      <xsd:element minOccurs="0" name="poengtallEos" type="xsd:string"/>
      <xsd:element minOccurs="0" name="poengtallA10" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fppGradEos" type="xsd:string"/>
      <xsd:element minOccurs="0" name="endringsInfo" type="bons3:ASBOPenEndringsInfo"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
