nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/AFPTillegg.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo" xmlns:bons0="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo">
	<xs:element name="AFPtillegg" type="bons0:AFPtillegg"/>
<xs:complexType name="AFPtillegg">
		<xs:sequence>
			<xs:element name="AFPinnvilget" type="xs:string"/>
			<xs:element name="AFPbrutto" type="xs:string"/>
			<xs:element name="AFPnetto" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>