nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/BeregningNokkelinfo.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo" xmlns:bons0="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo">
	
    <xs:include schemaLocation="BeregningNokkelinfo1.xsd"/>
    <xs:include schemaLocation="BeregningNokkelinfo2.xsd"/>
    <xs:element name="BeregningNokkelInfo" type="bons0:BeregningNokkelInfo"/>	
	<xs:complexType name="BeregningNokkelInfo">
		<xs:sequence>
			<xs:element minOccurs="0" name="AntallNokkelObjekter" type="xs:string"/>
			<xs:element minOccurs="0" name="TTanvBest" type="xs:string"/>
			<xs:element minOccurs="0" name="TTanvBestRolle" type="xs:string"/>
			<xs:element minOccurs="0" name="FlereNokkelObjekterBruktPerRolle" type="xs:string"/>
			<xs:element name="BeregningNokkelinfo1" type="bons0:BeregningNokkelinfo1"/>
			<xs:element name="BeregningNokkelinfo2" type="bons0:BeregningNokkelinfo2"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>