nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/BeregningsInformasjonKapittel20.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo">
	<xsd:complexType name="BeregningsInformasjonKapittel20">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Pensjonsbeholdning" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="TrygdetidKap20" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Delingstall" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>