nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/BeregningsVilkar.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo" xmlns:bons0="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo">
    <xsd:include schemaLocation="brevNyNoNS.xsd"/>
    <xsd:complexType name="BeregningsVilkar">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="IVSInntekt" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="IVSBegrunnelse" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="IFUInntekt" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="IFUBegrunnelse" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="IFUForrigeIFU" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="IEUInntekt" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="IEUBegrunnelse" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Uforetidspunkt" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="UforetidspunktBegrunnelse" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="YrkesskadeGrad" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="YrkeskadeGradBegrunnelse" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Skadetidspunkt" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="SkadetidspunktBegrunnelse" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Uforegrad" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="UforegradBegrunnelse" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Virkningstidpunkt" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="VirkningBegrunnelse" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Trygdetid" type="bons0:Trygdetid">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>