nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/BeregningUforeEkstra.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo" xmlns:bons0="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo">
	<xs:element name="BeregningUforeEkstra" type="bons0:BeregningUforeEkstra"/>
	<xs:complexType name="BeregningUforeEkstra">
		<xs:sequence>
			<xs:element name="Uforetidspunkt" type="xs:string"/>
			<xs:element minOccurs="0" name="FppGaranti" type="xs:string">
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>