nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/BrevVedtaksliste.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo" xmlns:bons0="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo">
    
    <xsd:include schemaLocation="BrevVedtak.xsd"/>
    <xsd:complexType name="BrevVedtaksliste">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Vedtak" type="bons0:BrevVedtak">
			</xsd:element>
			<xsd:element minOccurs="0" name="VedtakApOgUp" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>