nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/EPS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo"
	xmlns:bons0="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo">

	<xsd:element name="EPS" type="bons0:EPS" />
	<xsd:complexType name="EPS">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Personnummer"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Fornavn"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Mellomnavn"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="FornavnMellomnavn"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Etternavn"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Fodselsdato"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Kjonn" type="xsd:string" />
			<xsd:element minOccurs="0" name="Nasjonalitet"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="RelasjonsKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="AdresseStatus"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Adr1" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="Adr2" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="Adr3" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="Adr4" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>