nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/FasteUtgifter.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo" xmlns:bons0="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo">
	<xs:element name="FasteUtgifter" type="bons0:FasteUtgifter"/>
<xs:complexType name="FasteUtgifter">
		<xs:sequence>
			<xs:element name="FasteUtgifterInnvilget" type="xs:string"/>
			<xs:element name="FasteUtgifterBrutto" type="xs:string"/>
			<xs:element name="FasteUtgifterNetto" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>