nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/GarantiEOS50.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo" xmlns:bons0="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo">
	<xs:element name="GarantiEOS50" type="bons0:GarantiEOS50"/>
<xs:complexType name="GarantiEOS50">
		<xs:sequence>
			<xs:element name="GarantiEOS50Innvilget" type="xs:string"/>
			<xs:element name="GarantiEOS50Brutto" type="xs:string"/>
			<xs:element name="GarantiEOS50Netto" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>