nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/GarantiNordisk27YK.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="GarantiNordisk27YK">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="BelopGammelGN27" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BelopNyGN27" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>