nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/Garantitillegg.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo">
	<xsd:complexType name="Garantitillegg">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="GarantitilleggInnvilget" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="GarantitilleggBrutto" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="GarantitilleggNetto" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>