nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/Grunnpensjon.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo" xmlns:bons0="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo">
    
    <xs:element name="Grunnpensjon" type="bons0:Grunnpensjon"/>
	<xs:complexType name="Grunnpensjon">
		<xs:sequence>
			<xs:element name="GPinnvilget" type="xs:string"/>
			<xs:element name="GPbrutto" type="xs:string"/>
			<xs:element name="GPnetto" type="xs:string"/>
			<xs:element minOccurs="0" name="GPektefelleOver2G" type="xs:string">
			</xs:element>
			<xs:element minOccurs="0" name="GPsats" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>