nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/hentBrevRequest.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo" xmlns:bons0="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="brev.xsd"/>
    <xsd:complexType name="hentBrevRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="sysid" type="xsd:string"/>
      <xsd:element minOccurs="0" name="passord" type="xsd:string"/>
      <xsd:element minOccurs="0" name="saksbehandler" type="xsd:string"/>
      <xsd:element minOccurs="0" name="klienttoken" type="xsd:string"/>
      <xsd:element minOccurs="0" name="modus" type="xsd:string"/>
      <xsd:element minOccurs="0" name="brev" type="bons0:brev"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>