nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/HjelpeloshetsBidrag.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo" xmlns:bons0="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo">
	<xs:element name="HjelpeloshetsBidrag" type="bons0:HjelpeloshetsBidrag"/>
<xs:complexType name="HjelpeloshetsBidrag">
		<xs:sequence>
			<xs:element name="HjelpeloshetsBidragInnvilget" type="xs:string"/>
			<xs:element name="HjelpeloshetsBidragBrutto" type="xs:string"/>
			<xs:element name="HjelpeloshetsBidragNetto" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>