nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/Krig.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo" xmlns:bons0="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo">
    
    <xs:element name="Krig" type="bons0:Krig"/>
<xs:complexType name="Krig">
		<xs:sequence>
			<xs:element name="KrigInnvilget" type="xs:string"/>
			<xs:element name="KrigOgGammelYrkesskadeBrutto" type="xs:string"/>
			<xs:element name="KrigOgGammelYrkesskadeNetto" type="xs:string"/>
			<xs:element name="KrigYrkeGrad" type="xs:string"/>
			<xs:element name="KrigYrkeGrunnlag" type="xs:string"/>
			<xs:element name="KrigYrkeYG" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>