nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/Mendel.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo" xmlns:bons0="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo">
	<xs:element name="Mendel" type="bons0:Mendel"/>
<xs:complexType name="Mendel">
		<xs:sequence>
			<xs:element name="MendelInnvilget" type="xs:string"/>
			<xs:element name="MendelBrutto" type="xs:string"/>
			<xs:element name="MendelNetto" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>