nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/MinstenivatilleggPensjonistpar.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo" xmlns:bons0="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo">
	<xsd:complexType name="MinstenivatilleggPensjonistpar">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="MNTPPinnvilget" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="MNTPPbrutto" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="MNTPPnetto" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>