nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/OPT.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo" xmlns:bons0="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo">
    <xs:include schemaLocation="PoengrekkeOPT.xsd"/>
    <xs:element name="OPT" type="bons0:OPT"/>
<xs:complexType name="OPT">
		<xs:sequence>
			<xs:element name="SluttpoengtallMedOk" type="xs:string"/>
			<xs:element name="SluttpoengtallMedOkEOS" type="xs:string"/>
			<xs:element name="SluttpoengtallMedOkNordisk" type="xs:string"/>
			<xs:element name="Poengrekke" type="bons0:PoengrekkeOPT"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>