nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/Paragraf851Tillegg.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo" xmlns:bons0="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo">
	<xs:element name="Paragraf851Tillegg" type="bons0:Paragraf851Tillegg"/>
<xs:complexType name="Paragraf851Tillegg">
		<xs:sequence>
			<xs:element name="Paragraf851TilleggNetto" type="xs:string"/>
			<xs:element minOccurs="0" name="Paragraf851TilleggInnvilget" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>