nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/Pensjonssak.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo">
    
    <xsd:complexType name="Pensjonssak">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="SakType" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="SakStatus" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>