nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/Pensjonssakliste.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo" xmlns:bons0="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo">
    
    <xsd:include schemaLocation="Pensjonssak.xsd"/>
    <xsd:complexType name="Pensjonssakliste">
		<xsd:sequence>
			<xsd:element minOccurs="0" nillable="true" name="SakAPogUP" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="SakAPStatus" type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Pensjonssak" type="bons0:Pensjonssak">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
