nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/Skjermingstillegg.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo" xmlns:bons0="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo">
	<xsd:complexType name="Skjermingstillegg">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="SkjermingstilleggInnvilget" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="SkjermingstilleggBrutto" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="SkjermingstilleggNetto" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="SkjermingstilleggUfg" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Skjermingsgrad" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>