nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/SPTFORBeregingsInformasjonAvdod.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo" xmlns:bons0="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo">
    <xsd:include schemaLocation="PoengrekkeFORFleksibeltUttak.xsd"/>
    <xsd:complexType name="SPTFORBeregingsInformasjonAvdod">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="SluttpoengtallUtenOk" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="SluttpoengtallUtenOkEOS" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="SluttpoengtallUtenOkNordisk" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="PoengrekkePopulert" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Poengrekke" type="bons0:PoengrekkeFORFleksibeltUttak">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>