nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/TilleggTilHjelpIHuset.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo" xmlns:bons0="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo">
	<xs:element name="TilleggTilHjelpIHuset" type="bons0:TilleggTilHjelpIHuset"/>
<xs:complexType name="TilleggTilHjelpIHuset">
		<xs:sequence>
			<xs:element name="TilleggTilHjelpIHusetInnvilget" type="xs:string"/>
			<xs:element name="TilleggTilHjelpIHusetBrutto" type="xs:string"/>
			<xs:element name="TilleggTilHjelpIHusetNetto" type="xs:string"/>
			<xs:element name="GrunnlagForUtbetaling" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>