nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/Tilleggspensjon.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo" xmlns:bons0="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo">
	<xs:element name="Tilleggspensjon" type="bons0:Tilleggspensjon"/>
<xs:complexType name="Tilleggspensjon">
		<xs:sequence>
			<xs:element name="TPinnvilget" type="xs:string"/>
			<xs:element name="TPbrutto" type="xs:string"/>
			<xs:element name="TPnetto" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>