nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/TTUtlandTrygdeAvtale.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo">
    
    <xsd:complexType name="TTUtlandTrygdeAvtale">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="TTTellerBilateral" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="TTNevnerBilateral" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="FaTTBilateral" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="FramtidigTTAvtaleland" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>