nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/UforetrygdOrdiner.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo" xmlns:bons0="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo">
    <xsd:include schemaLocation="Ytelsesgrunnlag.xsd"/>
	<xsd:include schemaLocation="Minsteytelse.xsd"/>
	<xsd:include schemaLocation="AvkortningsInformasjon.xsd"/>
	<xsd:complexType name="UforetrygdOrdiner">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="BruttoPerAr" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Brutto" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="NettoPerAr" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Netto" type="xsd:string"/>
			<xsd:element minOccurs="0" name="FradragPerAr" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Fradrag" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="NettoAkk" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="NettoRestAr" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="YtelsesgrunnlagBest" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="AvkortningsInformasjon" type="bons0:AvkortningsInformasjon">
			</xsd:element>
			<xsd:element minOccurs="0" name="Minsteytelse" type="bons0:Minsteytelse">
			</xsd:element>
			<xsd:element minOccurs="0" name="Ytelsesgrunnlag" type="bons0:Ytelsesgrunnlag">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>