nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/brv/asbo/Ventetillegg.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo" xmlns:bons0="http://nav-lib-sah-brv/no/nav/lib/sah/brv/asbo">
	<xs:element name="Ventetillegg" type="bons0:Ventetillegg"/>
<xs:complexType name="Ventetillegg">
		<xs:sequence>
			<xs:element name="VentetilleggInnvilget" type="xs:string"/>
			<xs:element name="VentetilleggGrunn" type="xs:string"/>
			<xs:element name="VentetilleggTill" type="xs:string"/>
			<xs:element name="VentetilleggPros" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>