pcom-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/vedtak/ASBOPenSimulerVedtaksutbetalingRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/vedtak">
  <xsd:complexType name="ASBOPenSimulerVedtaksutbetalingRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="vedtaksId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fom" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="tom" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
