nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/inf/Brevbestilling.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://nav-lib-sah/no/nav/lib/sah/gbo" xmlns:bons2="http://nav-lib-sah/no/nav/lib/sah/fault" xmlns:tns="http://nav-lib-sah/no/nav/lib/sah/inf/Brevbestilling" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Brevbestilling" targetNamespace="http://nav-lib-sah/no/nav/lib/sah/inf/Brevbestilling">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav-lib-sah/no/nav/lib/sah/inf/Brevbestilling" xmlns:bons1="http://nav-lib-sah/no/nav/lib/sah/gbo" xmlns:bons2="http://nav-lib-sah/no/nav/lib/sah/fault" xmlns:tns="http://nav-lib-sah/no/nav/lib/sah/inf/Brevbestilling" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-lib-sah/no/nav/lib/sah/fault" schemaLocation="../fault/FaultAdresseIkkeRegistrert.xsd"/>
            <xsd:import namespace="http://nav-lib-sah/no/nav/lib/sah/gbo" schemaLocation="../gbo/GBOBrevbestillingRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-sah/no/nav/lib/sah/fault" schemaLocation="../fault/FaultHenteBrevdataFeilet.xsd"/>
            <xsd:import namespace="http://nav-lib-sah/no/nav/lib/sah/fault" schemaLocation="../fault/FaultOpprettelseJournalpostFeilet.xsd"/>
            <xsd:import namespace="http://nav-lib-sah/no/nav/lib/sah/fault" schemaLocation="../fault/FaultManglerObligatoriskInput.xsd"/>
            <xsd:element name="bestillBrev">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bestillBrevRequest" nillable="true" type="bons1:GBOBrevbestillingRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="bestillBrevResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bestillBrevResponse" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="bestillBrev_faultManglerObligatoriskeInput" type="bons2:FaultManglerObligatoriskInput"/>
            <xsd:element name="bestillBrev_faultHenteBrevdataFeilet" type="bons2:FaultHenteBrevdataFeilet"/>
            <xsd:element name="bestillBrev_faultOpprettelseJournalpostFeilet" type="bons2:FaultOpprettelseJournalpostFeilet"/>
            <xsd:element name="FaultAdresseIkkeRegistrert_element" nillable="true" type="bons2:FaultAdresseIkkeRegistrert"/>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="bestillBrevRequestMsg">
    <wsdl:part element="tns:bestillBrev" name="bestillBrevParameters"/>
  </wsdl:message>
    <wsdl:message name="bestillBrevResponseMsg">
    <wsdl:part element="tns:bestillBrevResponse" name="bestillBrevResult"/>
  </wsdl:message>
    <wsdl:message name="bestillBrev_faultManglerObligatoriskeInputMsg">
    <wsdl:part element="tns:bestillBrev_faultManglerObligatoriskeInput" name="faultManglerObligatoriskeInput"/>
  </wsdl:message>
    <wsdl:message name="bestillBrev_faultHenteBrevdataFeiletMsg">
    <wsdl:part element="tns:bestillBrev_faultHenteBrevdataFeilet" name="faultHenteBrevdataFeilet"/>
  </wsdl:message>
    <wsdl:message name="bestillBrev_faultOpprettelseJournalpostFeiletMsg">
    <wsdl:part element="tns:bestillBrev_faultOpprettelseJournalpostFeilet" name="faultOpprettelseJournalpostFeilet"/>
  </wsdl:message>
    <wsdl:message name="bestillBrev_faultAdresseIkkeRegistrertMsg">
    <wsdl:part element="tns:FaultAdresseIkkeRegistrert_element" name="faultAdresseIkkeRegistrert"/>
  </wsdl:message>
    <wsdl:portType name="Brevbestilling">
    <wsdl:operation name="bestillBrev">
      <wsdl:input message="tns:bestillBrevRequestMsg" name="bestillBrevRequest"/>
      <wsdl:output message="tns:bestillBrevResponseMsg" name="bestillBrevResponse"/>
            <wsdl:fault message="tns:bestillBrev_faultManglerObligatoriskeInputMsg" name="faultManglerObligatoriskeInput"/>
            <wsdl:fault message="tns:bestillBrev_faultHenteBrevdataFeiletMsg" name="faultHenteBrevdataFeilet"/>
            <wsdl:fault message="tns:bestillBrev_faultOpprettelseJournalpostFeiletMsg" name="faultOpprettelseJournalpostFeilet"/>
            <wsdl:fault message="tns:bestillBrev_faultAdresseIkkeRegistrertMsg" name="faultAdresseIkkeRegistrert"/>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
