nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/inf/SendPensjonBrev.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SendPensjonBrev" targetNamespace="http://nav-lib-sah/no/nav/lib/sah/inf/SendPensjonBrev" xmlns:bons1="http://nav-lib-sah/no/nav/lib/sah/gbo" xmlns:bons2="http://nav-lib-sah/no/nav/lib/sah/fault" xmlns:bons3="http://nav-lib-frg/no/nav/lib/frg/fault" xmlns:tns="http://nav-lib-sah/no/nav/lib/sah/inf/SendPensjonBrev" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://nav-lib-sah/no/nav/lib/sah/inf/SendPensjonBrev">
            <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/fault" schemaLocation="../../frg/fault/FaultPersonIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-lib-sah/no/nav/lib/sah/fault" schemaLocation="../fault/FaultAdresseIkkeRegistrert.xsd"/>
      <xsd:import namespace="http://nav-lib-sah/no/nav/lib/sah/fault" schemaLocation="../fault/FaultHenteBrevdataFeilet.xsd"/>
      <xsd:import namespace="http://nav-lib-sah/no/nav/lib/sah/gbo" schemaLocation="../gbo/GBOBrevbestillingRequest.xsd"/>
      <xsd:import namespace="http://nav-lib-sah/no/nav/lib/sah/gbo" schemaLocation="../gbo/GBOBrevPensjonBrev.xsd"/>
      <xsd:element name="orchestrateSendPensjonBrev">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="orchestrateSendPensjonBrevRequest" nillable="true" type="bons1:GBOBrevbestillingRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="orchestrateSendPensjonBrevResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="orchestrateSendPensjonBrevResponse" nillable="true" type="bons1:GBOBrevPensjonBrev"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="orchestrateSendPensjonBrevFault1_faultHenteBrevdataFeilet" nillable="true" type="bons2:FaultHenteBrevdataFeilet"/>
      <xsd:element name="orchestrateSendPensjonBrevFault2_faultAdresseIkkeRegistrert" nillable="true" type="bons2:FaultAdresseIkkeRegistrert"/>
            <xsd:element name="orchestrateSendPensjonBrevFault3_faultPersonIkkeFunnet" nillable="true" type="bons3:FaultPersonIkkeFunnet"/>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="orchestrateSendPensjonBrevRequestMsg">
    <wsdl:part element="tns:orchestrateSendPensjonBrev" name="orchestrateSendPensjonBrevParameters"/>
  </wsdl:message>
    <wsdl:message name="orchestrateSendPensjonBrevResponseMsg">
    <wsdl:part element="tns:orchestrateSendPensjonBrevResponse" name="orchestrateSendPensjonBrevResult"/>
  </wsdl:message>
    <wsdl:message name="orchestrateSendPensjonBrev_faultHenteBrevdataFeiletMsg">
    <wsdl:part element="tns:orchestrateSendPensjonBrevFault1_faultHenteBrevdataFeilet" name="faultHenteBrevdataFeilet"/>
  </wsdl:message>
    <wsdl:message name="orchestrateSendPensjonBrev_faultAdresseIkkeRegistrertMsg">
    <wsdl:part element="tns:orchestrateSendPensjonBrevFault2_faultAdresseIkkeRegistrert" name="faultAdresseIkkeRegistrert"/>
  </wsdl:message>
    <wsdl:message name="orchestrateSendPensjonBrev_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:orchestrateSendPensjonBrevFault3_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:portType name="SendPensjonBrev">
    <wsdl:operation name="orchestrateSendPensjonBrev">
      <wsdl:input message="tns:orchestrateSendPensjonBrevRequestMsg" name="orchestrateSendPensjonBrevRequest"/>
      <wsdl:output message="tns:orchestrateSendPensjonBrevResponseMsg" name="orchestrateSendPensjonBrevResponse"/>
      <wsdl:fault message="tns:orchestrateSendPensjonBrev_faultHenteBrevdataFeiletMsg" name="faultHenteBrevdataFeilet"/>
      <wsdl:fault message="tns:orchestrateSendPensjonBrev_faultAdresseIkkeRegistrertMsg" name="faultAdresseIkkeRegistrert"/>
            <wsdl:fault message="tns:orchestrateSendPensjonBrev_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>