nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/inf/SendPensjonVedtakBrev.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="SendPensjonVedtakBrev" targetNamespace="http://nav-lib-sah/no/nav/lib/sah/inf/SendPensjonVedtakBrev" xmlns:bons1="http://nav-lib-sah/no/nav/lib/sah/gbo" xmlns:bons2="http://nav-lib-sah/no/nav/lib/sah/fault" xmlns:tns="http://nav-lib-sah/no/nav/lib/sah/inf/SendPensjonVedtakBrev" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://nav-lib-sah/no/nav/lib/sah/inf/SendPensjonVedtakBrev" xmlns:bons="http://nav-lib-sah/no/nav/lib/sah/gbo" xmlns:bons12="http://nav-lib-sah/no/nav/lib/sah/gbo">
            <xsd:import namespace="http://nav-lib-sah/no/nav/lib/sah/fault" schemaLocation="../fault/FaultPersonIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-lib-sah/no/nav/lib/sah/fault" schemaLocation="../fault/FaultHenteBrevdataFeilet.xsd"/>
            <xsd:import namespace="http://nav-lib-sah/no/nav/lib/sah/fault" schemaLocation="../fault/FaultAdresseIkkeRegistrert.xsd"/>
            <xsd:import namespace="http://nav-lib-sah/no/nav/lib/sah/fault" schemaLocation="../fault/FaultManglerObligatoriskOutput.xsd"/>
            <xsd:import namespace="http://nav-lib-sah/no/nav/lib/sah/fault" schemaLocation="../fault/FaultAdresseMangelfull.xsd"/>
            <xsd:import namespace="http://nav-lib-sah/no/nav/lib/sah/gbo" schemaLocation="../gbo/GBOBrevStandard.xsd"/>
      <xsd:import namespace="http://nav-lib-sah/no/nav/lib/sah/gbo" schemaLocation="../gbo/GBOBrevVedtaksbrev.xsd"/>
      <xsd:import namespace="http://nav-lib-sah/no/nav/lib/sah/gbo" schemaLocation="../gbo/GBOBrevbestillingRequest.xsd"/>
      <xsd:element name="orchestrateSendPensjonVedtakBrev">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="orchestrateSendPensjonVedtakBrevRequest" nillable="true" type="bons:GBOBrevbestillingRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="orchestrateSendPensjonVedtakBrevResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="orchestrateSendPensjonVedtakBrevResponse" nillable="true" type="bons:GBOBrevVedtaksbrev"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="orchestrateSendPensjonVedtakBrevFault1_faultAdresseIkkeRegistrert" nillable="true" type="bons2:FaultAdresseIkkeRegistrert"/>
            <xsd:element name="orchestrateSendPensjonVedtakBrevFault2_faultHenteBrevdataFeilet" nillable="true" type="bons2:FaultHenteBrevdataFeilet"/>
            <xsd:element name="orchestrateSendPensjonVedtakBrevFault3_faultPersonIkkeFunnet" nillable="true" type="bons2:FaultPersonIkkeFunnet"/>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="orchestrateSendPensjonVedtakBrevRequestMsg">
    <wsdl:part element="tns:orchestrateSendPensjonVedtakBrev" name="orchestrateSendPensjonVedtakBrevParameters"/>
  </wsdl:message>
    <wsdl:message name="orchestrateSendPensjonVedtakBrevResponseMsg">
    <wsdl:part element="tns:orchestrateSendPensjonVedtakBrevResponse" name="orchestrateSendPensjonVedtakBrevResult"/>
  </wsdl:message>
    <wsdl:message name="orchestrateSendPensjonVedtakBrev_faultAdresseIkkeRegistrertMsg">
    <wsdl:part element="tns:orchestrateSendPensjonVedtakBrevFault1_faultAdresseIkkeRegistrert" name="faultAdresseIkkeRegistrert"/>
  </wsdl:message>
    <wsdl:message name="orchestrateSendPensjonVedtakBrev_faultHenteBrevdataFeiletMsg">
    <wsdl:part element="tns:orchestrateSendPensjonVedtakBrevFault2_faultHenteBrevdataFeilet" name="faultHenteBrevdataFeilet"/>
  </wsdl:message>
    <wsdl:message name="orchestrateSendPensjonVedtakBrev_faultPersonIkkeFunnetMsg">
    <wsdl:part element="tns:orchestrateSendPensjonVedtakBrevFault3_faultPersonIkkeFunnet" name="faultPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:portType name="SendPensjonVedtakBrev">
    <wsdl:operation name="orchestrateSendPensjonVedtakBrev">
      <wsdl:input message="tns:orchestrateSendPensjonVedtakBrevRequestMsg" name="orchestrateSendPensjonVedtakBrevRequest"/>
      <wsdl:output message="tns:orchestrateSendPensjonVedtakBrevResponseMsg" name="orchestrateSendPensjonVedtakBrevResponse"/>
            <wsdl:fault message="tns:orchestrateSendPensjonVedtakBrev_faultAdresseIkkeRegistrertMsg" name="faultAdresseIkkeRegistrert"/>
            <wsdl:fault message="tns:orchestrateSendPensjonVedtakBrev_faultHenteBrevdataFeiletMsg" name="faultHenteBrevdataFeilet"/>
            <wsdl:fault message="tns:orchestrateSendPensjonVedtakBrev_faultPersonIkkeFunnetMsg" name="faultPersonIkkeFunnet"/>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>