nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOAntallArOgMnd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="unqualified"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo"
	xmlns:bons0="http://stelvio-commons-lib/no/nav/gbo">	<import schemaLocation="../../../gbo/GBOEndringsInfo.xsd"
		namespace="http://stelvio-commons-lib/no/nav/gbo">
	</import>
	<complexType name="GBOAntallArOgMnd">
		<sequence>
			<element name="antallAr" nillable="true" type="string" />
			<element name="antallArOgMndId" nillable="true"
				type="string" />
			<element name="antallMnd" nillable="true" type="string" />
			<element minOccurs="0" name="endringsInfo"
				type="bons0:GBOEndringsInfo">
			</element>
		</sequence>
	</complexType>
</schema>
