nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOAFPEOGrunnlag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://stelvio-commons-lib/no/nav/gbo" targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
    <xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo" schemaLocation="../../../gbo/GBOEndringsInfo.xsd"/>
    <xsd:complexType name="GBOAFPEOGrunnlag">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="afpeoGrunnlagId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="pgi" type="xsd:string"/>
      <xsd:element minOccurs="0" name="uttaksdato" type="xsd:string"/>
      <xsd:element minOccurs="0" name="opphorsdato" type="xsd:string"/>
      <xsd:element minOccurs="0" name="overgangTilAnnenPensjon" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ieoRegistrert" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ifuRegistrert" type="xsd:string"/>
      <xsd:element minOccurs="0" name="endringsInfo" type="bons0:GBOEndringsInfo"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
