nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOAFPEO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://stelvio-commons-lib/no/nav/gbo" targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
    <xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo" schemaLocation="../../../gbo/GBOEndringsInfo.xsd"/>
    <xsd:complexType name="GBOAFPEO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="afpeoId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ieoBeregnet" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ifuBeregnet" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fpiBeregnet" type="xsd:string"/>
      <xsd:element minOccurs="0" name="iiap" type="xsd:string"/>
      <xsd:element minOccurs="0" name="behandlingKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="gruppeKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="avvik" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tpiBeregnet" type="xsd:string"/>
      <xsd:element minOccurs="0" name="afpeoResultatKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fradragBeregnetArbeidsinntekt" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fullAFP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="utbetaltAFP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="korrigertAFP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="forMyeUtbetalt" type="xsd:string"/>
      <xsd:element minOccurs="0" name="forLiteUtbetalt" type="xsd:string"/>
      <xsd:element minOccurs="0" name="endringsInfo" type="bons0:GBOEndringsInfo"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
