nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOBarnekull.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://stelvio-commons-lib/no/nav/gbo" targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
    <xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo" schemaLocation="../../../gbo/GBOEndringsInfo.xsd"/>
    <xsd:complexType name="GBOBarnekull">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="barnekullId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="antBarn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="bruk" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="endringsInfo" type="bons0:GBOEndringsInfo"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
