nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOBerortSak.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
	<xsd:complexType name="GBOBerortSak">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="sakId" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="begrunnelseKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="virkFom"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
