nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOBehandlingsperiode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo"
	xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/gbo"
	xmlns:bons1="http://stelvio-commons-lib/no/nav/gbo">
	<xsd:import schemaLocation="../../../gbo/GBOEndringsInfo.xsd"
		namespace="http://stelvio-commons-lib/no/nav/gbo">
	</xsd:import>
	<xsd:include schemaLocation="GBOVillkarsvedtak.xsd"></xsd:include>
	<xsd:include schemaLocation="GBOPeriodeArsak.xsd"></xsd:include>
	<xsd:complexType name="GBOBehandlingsperiode">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="behandlingsperiodeId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="fomDato"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="tomDato"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="periodeArsakListe"
				type="bons0:GBOPeriodeArsak" maxOccurs="unbounded">
			</xsd:element>
			<xsd:element minOccurs="0" name="vedtakId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="vilkarsvedtakListe"
				type="bons0:GBOVilkarsvedtak" maxOccurs="unbounded">
			</xsd:element>
			<xsd:element minOccurs="0" name="endringsInfo"
				type="bons1:GBOEndringsInfo">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
