nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOFremskrevetPensjonUnderUtbetaling.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo"
	xmlns:bons0="http://stelvio-commons-lib/no/nav/gbo">
	<xsd:import schemaLocation="../../../gbo/GBOEndringsInfo.xsd"
		namespace="http://stelvio-commons-lib/no/nav/gbo">
	</xsd:import>
	<xsd:complexType name="GBOFremskrevetPensjonUnderUtbetaling">
		<xsd:sequence>
			<xsd:element minOccurs="0"
				name="fremskrevetPensjonUnderUtbetalingId" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="pensjonUnderUtbetaling"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="gap" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="reguleringsfaktor"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="formelKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="endringsinfo"
				type="bons0:GBOEndringsInfo">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
