nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOFinnPengemottakerOgLagreAutobrevRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo"
	xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/gbo">
	<xsd:include schemaLocation="GBOAutobrev.xsd"></xsd:include>
	<xsd:complexType
		name="GBOFinnPengemottakerOgLagreAutobrevRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="vedtakId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="autobrevListe"
				type="bons0:GBOAutobrev" maxOccurs="unbounded">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
