nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOGodskrives.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
  <xsd:complexType name="GBOGodskrives">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="godskrivesId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="bruk" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
