nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOGrunnpensjon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/gbo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
	<xsd:include schemaLocation="GBOYtelsesekomponent.xsd" />
	<xsd:complexType name="GBOGrunnpensjon">
		<xsd:complexContent>
			<xsd:extension base="bons0:GBOYtelsesekomponent">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="grunnpensjonsats"
						type="xsd:double" />
					<xsd:element minOccurs="0"
						name="ektefelleInntektOver2G" type="xsd:boolean">
					</xsd:element>
					<xsd:element minOccurs="0" name="satsType"
						type="xsd:string">
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
