nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOHentPersongrunnlagListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/gbo" targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
    <xsd:include schemaLocation="GBOGrunnlagsrolle.xsd"/>
    <xsd:complexType name="GBOHentPersongrunnlagListeRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kravId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
            <xsd:element minOccurs="0" name="persongrunnlagId" type="xsd:string"/>
            <xsd:element minOccurs="0" name="grunnlagsrolleListe" type="bons0:GBOGrunnlagsrolle" maxOccurs="unbounded"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
