nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOInntektsgrunnlag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://stelvio-commons-lib/no/nav/gbo" targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
    <xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo" schemaLocation="../../../gbo/GBOEndringsInfo.xsd"/>
    <xsd:complexType name="GBOInntektsgrunnlag">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="inntektGrunnlagId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="inntektType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fomDato" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tomDato" type="xsd:string"/>
      <xsd:element minOccurs="0" name="belop" type="xsd:int"/>
      <xsd:element minOccurs="0" name="bruk" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="endringsInfoForGrunnlag" type="bons0:GBOEndringsInfo"/>
      <xsd:element minOccurs="0" name="endringsInfoForRegister" type="bons0:GBOEndringsInfo"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
