nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOKopierBeholdningerMedGrunnlagRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="GBOKopierBeholdningerMedGrunnlagRequest">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="kravId" type="xsd:string" />
			<xsd:element minOccurs="0" name="fnr" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>