nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOKravhode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:Q1="http://nav-lib-pen/no/nav/lib/pen/gbo"
	xmlns:bons0="http://stelvio-commons-lib/no/nav/gbo"
	xmlns:bons1="http://nav-lib-pen/no/nav/lib/pen/gbo"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
	<xsd:include schemaLocation="GBOKravArsak.xsd"></xsd:include>
	<xsd:include schemaLocation="GBOUttaksgrad.xsd"></xsd:include>
	<xsd:import schemaLocation="../../../gbo/GBOEndringsInfo.xsd"
		namespace="http://stelvio-commons-lib/no/nav/gbo">
	</xsd:import>
	<xsd:include schemaLocation="GBOKravlinje.xsd" />

	<xsd:include schemaLocation="GBOPersongrunnlag.xsd" />
	<xsd:complexType name="GBOKravhode">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="kravId" type="xsd:string" />
			<xsd:element minOccurs="0" name="kravGjelderKode"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="kravStatusKode"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="motattDato"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="onsketVirkningsDato"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="komplettDato"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="boddArbeidUtland"
				type="xsd:boolean" />
			<xsd:element minOccurs="0" name="vurdereTrygdeavtale"
				type="xsd:boolean" />
			<xsd:element minOccurs="0" name="norgeBehandlendeLand"
				type="xsd:boolean" />
			<xsd:element minOccurs="0" name="kravVelgKode"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="intitertAv"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="tilbakekreving"
				type="xsd:boolean" />
			<xsd:element minOccurs="0" name="avdodFnr"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="afpOrdningKode"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="afpTillegg"
				type="xsd:boolean" />
			<xsd:element minOccurs="0" name="organisasjonsnr"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="farFnr" type="xsd:string" />
			<xsd:element minOccurs="0" name="morFnr" type="xsd:string" />
			<xsd:element minOccurs="0" name="boddArbeidUtlandFar"
				type="xsd:boolean" />
			<xsd:element minOccurs="0" name="kollektiveVillkar"
				type="xsd:boolean" />
			<xsd:element minOccurs="0" name="boddArbeidUtlandMor"
				type="xsd:boolean" />
			<xsd:element minOccurs="0" name="boddArbeidUtlandAvdod"
				type="xsd:boolean" />
			<xsd:element minOccurs="0" name="behandlingKode"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="basertPaKravId"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="kravlinjeListe"
				type="Q1:GBOKravlinje" maxOccurs="unbounded" />
			<xsd:element minOccurs="0" name="persongrunnlagListe"
				type="Q1:GBOPersongrunnlag" maxOccurs="unbounded" />
			<xsd:element minOccurs="0" name="endringsInfo"
				type="bons0:GBOEndringsInfo" />
			<xsd:element minOccurs="0" name="brukOpptjeningFra65I66Aret"
				type="xsd:boolean" />
			<xsd:element minOccurs="0" name="erBeregnet"
				type="xsd:boolean" />
			<xsd:element minOccurs="0" name="grunnlagLast"
				type="xsd:boolean" />
			<xsd:element minOccurs="0" name="gyldigVillkarsproving"
				type="xsd:boolean" />
			<xsd:element minOccurs="0" name="kravLast"
				type="xsd:boolean" />
			<xsd:element minOccurs="0" name="overfortOmsorgspoeng"
				type="xsd:boolean" />
			<xsd:element minOccurs="0" name="hentetTps"
				type="xsd:boolean" />
			<xsd:element minOccurs="0" name="datoVersjonering"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="regelverkKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="soktAfpPrivat"
				type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0" name="tssIdAfp"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="uttaksgradListe"
				type="Q1:GBOUttaksgrad" maxOccurs="unbounded">
			</xsd:element>
			<xsd:element minOccurs="0" name="vurdereTrygdeavtaleAvdod"
				type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0" name="vurdereTrygdeavtaleFar"
				type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0" name="vurdereTrygdeavtaleMor"
				type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0" name="arsak"
				type="Q1:GBOKravArsak">
			</xsd:element>
			<xsd:element minOccurs="0" name="erSammenstotVurdert"
				type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0" name="gjeldendeUttaksgrad"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="afpPrivatResultatFkKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="sokerFnr"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="erTrygdeavtale"
				type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0" name="erRevurdPgaReduksjonOppt"
				type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0" name="uttaksgradForrigeKrav"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
