nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOLagreVedtakStatusRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
  <xsd:complexType name="GBOLagreVedtakStatusRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="vedtakStatusKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="vedtakId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="appBrukerId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
