nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOLagreVurdertSivilstandListeOgVurderEndringResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
	<xsd:complexType
		name="GBOLagreVurdertSivilstandListeOgVurderEndringResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="kravOgOppgOpprPaBruker"
				type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0" name="kravOgOppgOpprPaEPS"
				type="xsd:boolean">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
