nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOLagreVilkarsvedtakListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/gbo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
    <xsd:include schemaLocation="GBOVillkarsvedtak.xsd"/>
    <xsd:complexType name="GBOLagreVilkarsvedtakListeRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="vedtakId" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="villkarsvedtakListe" type="bons0:GBOVilkarsvedtak"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
