nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOLagreKravlinjeListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo"
	xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/gbo">
	<xsd:include schemaLocation="GBOKravlinje.xsd"></xsd:include>
	<xsd:complexType name="GBOLagreKravlinjeListeRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="kravId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="kravlinjeListe"
				type="bons0:GBOKravlinje" maxOccurs="unbounded">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
