nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOMerknad.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://stelvio-commons-lib/no/nav/gbo" targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
    <xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo" schemaLocation="../../../gbo/GBOEndringsInfo.xsd"/>
    <xsd:complexType name="GBOMerknad">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="merknadKode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="endringsInfo" type="bons1:GBOEndringsInfo"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="argument" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
