nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOOpprettsakRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/gbo" targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
	<xsd:include schemaLocation="GBOTilgang.xsd"/>
	<xsd:include schemaLocation="GBOPensjonssak.xsd"/>
	<xsd:complexType name="GBOOpprettsakRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="pensjonssak" type="bons0:GBOPensjonssak">
			</xsd:element>
			<xsd:element minOccurs="0" name="tilgang" type="bons0:GBOTilgang">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
