nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOPoengtall.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/gbo" xmlns:bons1="http://stelvio-commons-lib/no/nav/gbo" targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
    <xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo" schemaLocation="../../../gbo/GBOEndringsInfo.xsd"/>
    <xsd:include schemaLocation="GBOMerknad.xsd"/>
    <xsd:complexType name="GBOPoengtall">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="pensjonspoeng" type="xsd:string"/>
      <xsd:element minOccurs="0" name="anvendtPenInntekt" type="xsd:string"/>
      <xsd:element minOccurs="0" name="penInntekt" type="xsd:string"/>
      <xsd:element minOccurs="0" name="arstall" type="xsd:string"/>
      <xsd:element minOccurs="0" name="bruktIBeregning" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="veietGrunnbelop" type="xsd:string"/>
      <xsd:element minOccurs="0" name="poengtallKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="maksUforegrad" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="merknadListe" type="bons0:GBOMerknad"/>
      <xsd:element minOccurs="0" name="endringsInfo" type="bons1:GBOEndringsInfo"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
