nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOPensjonssak.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/gbo" targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
    <xsd:include schemaLocation="GBOTilgang.xsd"/>
    <xsd:complexType name="GBOPensjonssak">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="saksId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="saksTypeKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="saksStatusKode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="midlertidigTilgangListe" type="bons0:GBOTilgang" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="inhabil" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="eierTilgang" type="bons0:GBOTilgang"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
