nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOSkjermingstillegg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo"
	xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/gbo">
	<xsd:include schemaLocation="GBOYtelsesekomponent.xsd"></xsd:include>
	<xsd:complexType name="GBOSkjermingstillegg">
		<xsd:complexContent>
			<xsd:extension base="bons0:GBOYtelsesekomponent">

				<xsd:sequence>
					<xsd:element minOccurs="0" name="uforegrad"
						type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="skjermingsgrad"
						type="xsd:string">
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
