nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOSluttpoengtall.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://stelvio-commons-lib/no/nav/gbo" xmlns:bons1="http://nav-lib-pen/no/nav/lib/pen/gbo" targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
    <xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo" schemaLocation="../../../gbo/GBOEndringsInfo.xsd"/>
    <xsd:include schemaLocation="GBOPoengrekke.xsd"/>
    <xsd:complexType name="GBOSluttpoengtall">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="poengtall" type="xsd:string"/>
      <xsd:element minOccurs="0" name="poengrekke" type="bons1:GBOPoengrekke"/>
      <xsd:element minOccurs="0" name="poengtillegg" type="xsd:string"/>
      <xsd:element minOccurs="0" name="poengtallEos" type="xsd:string"/>
      <xsd:element minOccurs="0" name="poengtallA10" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fppGradEos" type="xsd:string"/>
      <xsd:element minOccurs="0" name="endringsInfo" type="bons0:GBOEndringsInfo"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
