nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOSammenstotstilfelle.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://stelvio-commons-lib/no/nav/gbo"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
	<xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo"
		schemaLocation="../../../gbo/GBOEndringsInfo.xsd">
	</xsd:import>
	<xsd:complexType name="GBOSammenstotstilfelle">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="sammenstotstilfelleId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="sammenstotPgaInnvFT"
				type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0" name="sammenstotPgaInst"
				type="xsd:boolean">
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="vedtakIdListe" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="endringsInfo"
				type="bons0:GBOEndringsInfo">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
