nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOTrygdetidKonvensjon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://stelvio-commons-lib/no/nav/gbo" targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
    <xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo" schemaLocation="../../../gbo/GBOEndringsInfo.xsd"/>
    <xsd:complexType name="GBOTrygdetidKonvensjon">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="trygdetidKonvensjonId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fremtidigTrygdetidAr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fremtidigTrygdetidA10Brutto" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fremtidigTrygdetidA10Netto" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fremtidigTrygdetidA10Redusert" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="trygdetidA10AnvAr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="trygdetidA10Nevner" type="xsd:string"/>
      <xsd:element minOccurs="0" name="trygdetidA10Teller" type="xsd:string"/>
      <xsd:element minOccurs="0" name="trygdetidA10FaktiskMnd" type="xsd:string"/>
      <xsd:element minOccurs="0" name="endringsInfo" type="bons0:GBOEndringsInfo"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
