nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOTrygdetidsgrunnlag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo"
	xmlns:bons0="http://stelvio-commons-lib/no/nav/gbo">
	<xsd:import schemaLocation="../../../gbo/GBOEndringsInfo.xsd"
		namespace="http://stelvio-commons-lib/no/nav/gbo">
	</xsd:import>
	<xsd:complexType name="GBOTrygdetidsgrunnlag">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="trygdetidsgrunnlagId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="landKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="landBeskrivelse"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="fomDato"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="tomDato"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="poengIInnAr"
				type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0" name="poengIUtAr"
				type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0" name="ar" type="xsd:int"></xsd:element>
			<xsd:element minOccurs="0" name="mnd" type="xsd:int"></xsd:element>
			<xsd:element minOccurs="0" name="dag" type="xsd:int"></xsd:element>
			<xsd:element minOccurs="0" name="ikkeProRata"
				type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0" name="bruk" type="xsd:boolean"></xsd:element>
			<xsd:element minOccurs="0" name="grunnlagKildeKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="endringsInfo"
				type="bons0:GBOEndringsInfo">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
