nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOTilleggspensjon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/gbo"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
	<xsd:include schemaLocation="GBOSluttpoengtall.xsd" />
	<xsd:include schemaLocation="GBOYtelsesekomponent.xsd" />	<xsd:complexType name="GBOTilleggspensjon">
		<xsd:complexContent>
			<xsd:extension base="bons0:GBOYtelsesekomponent">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="spt"
						type="bons0:GBOSluttpoengtall" />
					<xsd:element minOccurs="0" name="ypt"
						type="bons0:GBOSluttpoengtall" />
					<xsd:element minOccurs="0" name="opt"
						type="bons0:GBOSluttpoengtall" />
				</xsd:sequence>

			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
