nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOTjenestedirektiv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
	<xsd:complexType name="GBOTjenestedirektiv">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="returmengde"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="antall" type="xsd:int"></xsd:element>
			<xsd:element minOccurs="0" name="startRad" type="xsd:int"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
