nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOUforeperiode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons1="http://stelvio-commons-lib/no/nav/gbo"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo">	<xsd:import schemaLocation="../../../gbo/GBOEndringsInfo.xsd"
		namespace="http://stelvio-commons-lib/no/nav/gbo">
	</xsd:import>
	<xsd:complexType name="GBOUforeperiode">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="uforeperiodeId"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="uforegrad"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="uforetidspunkt"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="uforetype"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="fpp" type="xsd:string" />
			<xsd:element minOccurs="0" name="fppGaranti"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="fppGarantiKode"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="redusertAntFppAr"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="uforetidspunktTom"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="endringsInfo"
				type="bons1:GBOEndringsInfo" />
			<xsd:element minOccurs="0" name="ufgFom"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="ufgTom"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
