nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOVilkarsprovAlderspensjonResultat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo"
	xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/gbo"
	xmlns:bons1="http://stelvio-commons-lib/no/nav/gbo">
	<xsd:include schemaLocation="GBOVilkarsprovInformasjon2025.xsd"></xsd:include>
	<xsd:include schemaLocation="GBOBeregningsResultat2025.xsd"></xsd:include>
	<xsd:include schemaLocation="GBOVilkarsprovInformasjon2016.xsd"></xsd:include>
	<xsd:include schemaLocation="GBOBeregningsResultat2016.xsd"></xsd:include>
	<xsd:import schemaLocation="../../../gbo/GBOEndringsInfo.xsd"
		namespace="http://stelvio-commons-lib/no/nav/gbo">
	</xsd:import>
	<xsd:include schemaLocation="GBOVilkarsprovInformasjon.xsd"></xsd:include>
	<xsd:include schemaLocation="GBOBeregningsResultat.xsd"></xsd:include>
	<xsd:complexType name="GBOVilkarsprovAlderspensjonResultat">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="vilkarsprovResultatId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="vilkarsprovResultatstypeKode" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="beregningVedUttak"
				type="bons0:GBOBeregningsResultat">
			</xsd:element>
			<xsd:element minOccurs="0" name="beregningVedUttak2016"
				type="bons0:GBOBeregningsResultat2016">
			</xsd:element>
			<xsd:element minOccurs="0" name="vilkarsprovInformasjon"
				type="bons0:GBOVilkarsprovInformasjon">
			</xsd:element>
			<xsd:element minOccurs="0" name="vilkarsprovInformasjon2016"
				type="bons0:GBOVilkarsprovInformasjon2016">
			</xsd:element>
			<xsd:element minOccurs="0" name="endringsInfo"
				type="bons1:GBOEndringsInfo">
			</xsd:element>
			<xsd:element minOccurs="0" name="beregningVedUttak2025"
				type="bons0:GBOBeregningsResultat2025">
			</xsd:element>
			<xsd:element minOccurs="0" name="vilkarsprovInformasjon2025"
				type="bons0:GBOVilkarsprovInformasjon2025">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
