nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/pen/gbo/GBOYtelsesekomponent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://stelvio-commons-lib/no/nav/gbo"
	targetNamespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
	<xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo"
		schemaLocation="../../../gbo/GBOEndringsInfo.xsd" />
	<xsd:complexType name="GBOYtelsesekomponent">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="ytelseskomponentId"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="brutto" type="xsd:string" />
			<xsd:element minOccurs="0" name="bruttoPerAr"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="netto" type="xsd:string" />
			<xsd:element minOccurs="0" name="fradrag" type="xsd:string" />
			<xsd:element minOccurs="0" name="erBrukt"
				type="xsd:boolean" />
			<xsd:element minOccurs="0" name="ytelsesKomponentKode"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="resultatKilde"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="inntektBruktIAvkorting"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="endringsInfo"
				type="bons0:GBOEndringsInfo" />
			<xsd:element minOccurs="0" name="formelKode"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
