nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/oko/gbo/GBOOppdragslinje.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-oko/no/nav/lib/oko/gbo" targetNamespace="http://nav-lib-oko/no/nav/lib/oko/gbo">
    <xsd:include schemaLocation="GBOValuta.xsd"/>
    <xsd:include schemaLocation="GBOAttestant.xsd"/>
    <xsd:include schemaLocation="GBOGrad.xsd"/>
    <xsd:include schemaLocation="GBOLinjeenhet.xsd"/>
    <xsd:include schemaLocation="GBOLinjetekst.xsd"/>
    <xsd:complexType name="GBOOppdragslinje">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="endringsKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="statusKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="statusFom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="vedtakId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="delytelseId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="linjeId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="klassifikasjonsKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="klasssifikasjonFom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="vedtakFom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="vedtakTom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="sats" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fradragTillegg" type="xsd:string"/>
      <xsd:element minOccurs="0" name="satsTypeKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="skyldnerId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="skyldnerFom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="kravhaverId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="kravhaverFom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="kid" type="xsd:string"/>
      <xsd:element minOccurs="0" name="kidFom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="brukKjoreplan" type="xsd:string"/>
      <xsd:element minOccurs="0" name="saksbehandlerId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="utbetalesTilId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="utbetalesTilIdFom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="arbeidsgiverKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="henvisning" type="xsd:string"/>
      <xsd:element minOccurs="0" name="soknadsTypeKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="refFagsystemId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="refOppdragsId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="refDelytelseId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="refLinjeId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="linjetekstListe" type="bons0:GBOLinjetekst" maxOccurs="unbounded"/>
      <xsd:element minOccurs="0" name="linjeenhetListe" type="bons0:GBOLinjeenhet" maxOccurs="unbounded"/>
      <xsd:element minOccurs="0" name="gradListe" type="bons0:GBOGrad" maxOccurs="unbounded"/>
      <xsd:element minOccurs="0" name="attestantListe" type="bons0:GBOAttestant" maxOccurs="unbounded"/>
      <xsd:element minOccurs="0" name="valutaListe" type="bons0:GBOValuta" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
