nav-bsrv-sah-brevbestilling-legacy/src/main/resources/no/nav/domene/pensjon/krav/krav.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://nav.no/domene/pensjon/krav/v1" version="1.2" xmlns:felles="http://nav.no/domene/pensjon/felles/v1" xmlns:krav="http://nav.no/domene/pensjon/krav/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://nav.no/domene/pensjon/felles/v1" schemaLocation="../felles/felles.xsd"/>
  <xsd:complexType name="KontrollpunktUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Kontrollpunkt">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kontrollpunktId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik identifikasjon av et kontrollpunkt.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kontrollpunktTypeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kode som klassifiserer kontrollpunktet på bakgrunn av hvilken kontekst det er opprettet i. Se PEN kodeverk, arkfane K_KONTROLLPUNKT_T for gyldige koder&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kontrollpunktStatusKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kode som angir hvilken status kontrollpunktet har. Se PEN kodeverk, arkfane K_KONTROLLPUNKT_S for gyldige koder&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kritisk" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;True hvis kontrollpunktet er kritisk, false eller.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sakId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Saken kontrollpunktet obligatorisk relaterer seg til.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kravId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kravet kontrollpunktet eventuelt relaterer seg til.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="endringsInfo" type="felles:EndringsInfo">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Objekt som inneholder informasjon om hvem som har opprettet/endret objektet og når objektet er opprettet/endret&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="krav:KontrollpunktUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KravIdListe">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Unik identifikasjon av et kravhode&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kravId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KravhodeUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="KravlinjeUtvidelse2">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="KravlinjeUtvidelse1">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kravlinjeStatusKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="utvidelse" type="krav:KravlinjeUtvidelse2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kravlinje">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kravlinjeId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unikt identifikasjon av kravlinje.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kravlinjeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kode som angir kravlinje type. Se PEN kodeverk, arkfane K_KRAVLINJE_T for gyldige koder&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="relatertFnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir personen som er relatert til kravlinjen, for eksempel referanse til ektefelle det søkes ektefelletillegg for.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="landKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kode som angir land. Se PEN kodeverk, arkfane K_LAND_3_TEGN for gyldige koder&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="endringsInfo" type="felles:EndringsInfo">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Objekt som inneholder informasjon om hvem som har opprettet/endret objektet og når objektet er opprettet/endret.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="krav:KravlinjeUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kravhode">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kravId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik identifikasjon av et kravhode&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kravGjelderKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kode som angir hva (altså hvilken ytelse) kravet gjelder. Se PEN kodeverk, arkfane K_KRAV_GJELDER for gyldige koder &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kravStatusKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kode som angir status for kravet. Se PEN kodeverk, arkfane K_KRAV_S for gyldige koder&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="motattDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Dato kravet ble mottatt&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="onsketVirkningsDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Datoen som brukeren ønsker at ytelse skal iverksettes fra. &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="komplettDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir dato når kravet er ferdigbehandlet.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="boddArbeidUtland" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om personen som kravet gjelder har bodd eller arbeidet utenlands. I tilegg er dette støtteparameter til vindusflyt.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="vurdereTrygdeavtale" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Flagg som angir om trygdeavtale skal vurderes for personen kravet gjelder.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="norgeBehandlendeLand" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Flagg som angir om Norge er behandlende land&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kravVelgKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kode som angir hvilken detaljering av kravet som skal vises/lagres. Se PEN kodeverk, arkfane K_KRAV_VELG_T for gyldige koder&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="intitertAv" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir hvem som har initiert kravet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tilbakekreving" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir type tilbakekreving som er benyttet hvis kravet gjelder tilbakekreving.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="avdodFnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Refererer til en eventuell avdød person som er relevant i behandling av kravet. Feltet er gyldig i tilfeller der kravet omfatter ”Gjenlevenderett” og benyttes for å hente den avdødes grunnlag.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="afpOrdningKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir AFP ordning til kravet. Se PEN kodeverk, arkfane K_AFP_T for gyldige koder&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="afpTillegg" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Flagg som angir om AFP-tillegg er innvilget eller ikke.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="organisasjonsnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Organisasjonsnummer for AFP-saker.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="farFnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Referer til brukerens far. Relevant kun der kravet omfatter Barnepensjon. &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="morFnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Referer til brukerens mor. Relevant kun der kravet omfatter Barnepensjon.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="boddArbeidUtlandFar" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Flagg som angir om brukerens far har bodd eller arbeidet i utlandet.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kollektiveVillkar" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om kollektive vilkår er godkjent av arbeidsgiver og felleskontor.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="boddArbeidUtlandMor" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Flagg som angir om brukerens mor har bodd eller arbeidet i utlandet.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="boddArbeidUtlandAvdod" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Flagg som angir om brukerens avdøde E/P/S har bodd eller arbeidet i utlandet.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="behandlingKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kode som angir behandlingstype f eks automatisk, manuell osv. Se PEN kodeverk, arkfane K_BEHANDLING_T for gyldige koder&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="basertPaKravId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Id til Kravhodet dette kravet er basert på&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kravlinjeListe" type="krav:Kravlinje">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Listen av kompleks type Kravlinje&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="endringsInfo" type="felles:EndringsInfo">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Objekt som inneholder informasjon om hvem som har opprettet/endret objektet og når objektet er opprettet/endret.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="brukOpptjeningFra65I66Aret" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om opptjeningen fra det 65 året skal brukes som opptjening i det 66 år fram til brukeren fyller 70 år. Settes av Regelmotoren. &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="erBeregnet" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Felt som angir om beregning av kravet er gjennomført eller ikke. Settes til false hver gang det gjøres en ny vilkårsprøving av kravet.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="grunnlagLast" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Felt som angir om grunnlaget på kravet er låst, og således ikke kan endres. Dersom kravet er låst så må også grunnlaget være låst.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="gyldigVillkarsproving" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Felt som angir om vilkårsprøvingene av alle underliggende kravlinjer er gyldige eller ikke. Settes til false hver gang det gjøres en endring av grunnlaget.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kravLast" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om kravet er låst, og således ikke kan endres. &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="overfortOmsorgspoeng" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Flagg som angir at det er lagret omsorgspoengoverføringsgrunnlag på persongrunnlaget til brukeren.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="hentetTps" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Flagg som angir om det er kopiert inn grunnlag for brukeren samt brukerens familieforhold.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="datoVersjonering" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Brukes til å optimistisk låse objektet. Det vil si hindre at et objekt med et lavere versjonsnummer enn det persisterte objektet ikke kan oppdatere objektet.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="regelverkKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kodeverdi som angir hvilket regelverk kravet behandles på. Se PEN kodeverk, arkfane K_REGELVERK_T for gyldige koder&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="soktAfpPrivat" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Flagg som angir om bruker har søkt om AFP-påslag samtidig som bruker søker om alderspensjon på nytt regelverk.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tssIdAfp" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Ekstern-Id for samhandler i TSS&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="vurdereTrygdeavtaleAvdod" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Flagg som angir om det skal vurderes trygdeavtale for avdøde E/P/S.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="vurdereTrygdeavtaleFar" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Flagg som angir om det skal vurderes trygdeavtale for brukerens far.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="vurdereTrygdeavtaleMor" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Flagg som angir om det skal vurderes trygdeavtale for brukerens mor.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="erSammenstotVurdert" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om kravhodet er sammenstøtvurdert. Dette feltet sees i sammenheng med vedtak.sammenstotsTilfelle, som blir satt dersom kravet/vedtaket inngår i et sammenstøt.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="gjeldendeUttaksgrad" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir gjeldende uttaksgrad for kravet.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="afpPrivatResultatFkKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir resultatet fra Felleskontoret&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sokerFnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Søkers fødselsnummer&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="erTrygdeavtale" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om søker har en avtalesak&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="erRevurdPgaReduksjonOppt" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Flagg som er satt til SANN dersom dette er en revurdering fordi det har skjedd en reduksjon i opptjening, USANN ellers.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="uttaksgradForrigeKrav" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir uttaksgraden på forrige Krav&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="krav:KravhodeUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>