psak-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/virksomhet/tjenester/sak/sak.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sak" targetNamespace="http://nav.no/virksomhet/tjenester/sak/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/virksomhet/tjenester/sak/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/virksomhet/tjenester/sak/v1" xmlns:meldinger="http://nav.no/virksomhet/tjenester/sak/meldinger/v1">
      <xsd:import namespace="http://nav.no/virksomhet/tjenester/sak/meldinger/v1" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="finnGenerellSakListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FinnGenerellSakListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnGenerellSakListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:FinnGenerellSakListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="finnGenerellSakListeRequest">
    <wsdl:part name="parameters" element="tns:finnGenerellSakListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnGenerellSakListeResponse">
    <wsdl:part name="parameters" element="tns:finnGenerellSakListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Sak">
    <wsdl:operation name="finnGenerellSakListe">
<wsdl:documentation>&lt;p&gt;&lt;/p&gt; </wsdl:documentation>
      <wsdl:input message="tns:finnGenerellSakListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:finnGenerellSakListeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
