pcom-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/domene/pensjon/tjenester/samordning/samordning.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/domene/pensjon/tjenester/samordning/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="samordning" targetNamespace="http://nav.no/domene/pensjon/tjenester/samordning/v1">
  <wsdl:types>
    <xsd:schema xmlns:feil="http://nav.no/domene/pensjon/tjenester/samordning/feil/v1" xmlns:meldinger="http://nav.no/domene/pensjon/tjenester/samordning/meldinger/v1" targetNamespace="http://nav.no/domene/pensjon/tjenester/samordning/v1">
      <xsd:import namespace="http://nav.no/domene/pensjon/tjenester/samordning/feil/v1" schemaLocation="feil/feil.xsd" />
      <xsd:import namespace="http://nav.no/domene/pensjon/tjenester/samordning/meldinger/v1" schemaLocation="meldinger/meldinger.xsd" />
      <xsd:element name="SamordneVedtak">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:SamordneVedtakRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SamordneVedtakResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:SamordneVedtakResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SamordneVedtakSamordningFunksjonellFeil" type="feil:SamordningFunksjonellFeil" />
      <xsd:element name="SamordneVedtakVedtakIkkeFunnet" type="feil:VedtakIkkeFunnet" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SamordneVedtakRequest">
    <wsdl:part name="parameters" element="tns:SamordneVedtak">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SamordneVedtak_SamordningFunksjonellFeil">
    <wsdl:part name="SamordningFunksjonellFeil" element="tns:SamordneVedtakSamordningFunksjonellFeil">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SamordneVedtak_VedtakIkkeFunnet">
    <wsdl:part name="VedtakIkkeFunnet" element="tns:SamordneVedtakVedtakIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SamordneVedtakResponse">
    <wsdl:part name="parameters" element="tns:SamordneVedtakResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Samordning">
    <wsdl:operation name="SamordneVedtak">
      <wsdl:input message="tns:SamordneVedtakRequest">
    </wsdl:input>
      <wsdl:output message="tns:SamordneVedtakResponse">
    </wsdl:output>
      <wsdl:fault name="SamordningFunksjonellFeil" message="tns:SamordneVedtak_SamordningFunksjonellFeil">
    </wsdl:fault>
      <wsdl:fault name="VedtakIkkeFunnet" message="tns:SamordneVedtak_VedtakIkkeFunnet">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
