psak-esb-wsclient-legacy/src/main/resources/wsdl/nav-cons-pen-psak-navorgenhet_PSAKNAVOrgEnhetWSEXP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PSAKNAVOrgEnhetWSEXP_PSAKNAVOrgEnhetHttp_Service" targetNamespace="http://nav-cons-pen-psak-navorgenhet/no/nav/inf/Binding" xmlns:Port_0="http://nav-cons-pen-psak-navorgenhet/no/nav/inf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:this="http://nav-cons-pen-psak-navorgenhet/no/nav/inf/Binding">
  <wsdl:import namespace="http://nav-cons-pen-psak-navorgenhet/no/nav/inf" location="no/nav/inf/PSAKNAVOrgEnhet.wsdl">
    </wsdl:import>
  <wsdl:binding name="PSAKNAVOrgEnhetWSEXP_PSAKNAVOrgEnhetHttpBinding" type="Port_0:PSAKNAVOrgEnhet">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="hentNAVEnhet">
      <soap:operation soapAction=""/>
      <wsdl:input name="hentNAVEnhetRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentNAVEnhetResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultPenNAVEnhetIkkeFunnet">
        <soap:fault name="faultPenNAVEnhetIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultPenGenerisk">
        <soap:fault name="faultPenGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentNAVEnhetListe">
      <soap:operation soapAction=""/>
      <wsdl:input name="hentNAVEnhetListeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentNAVEnhetListeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultPenNAVEnhetIkkeFunnet">
        <soap:fault name="faultPenNAVEnhetIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultPenGenerisk">
        <soap:fault name="faultPenGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentNAVEnhetGruppeListe">
      <soap:operation soapAction=""/>
      <wsdl:input name="hentNAVEnhetGruppeListeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentNAVEnhetGruppeListeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultPenNAVEnhetIkkeFunnet">
        <soap:fault name="faultPenNAVEnhetIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultPenGenerisk">
        <soap:fault name="faultPenGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentSpesialenhetTilPerson">
      <soap:operation soapAction=""/>
      <wsdl:input name="hentSpesialenhetTilPersonRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentSpesialenhetTilPersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultPenNAVEnhetIkkeFunnet">
        <soap:fault name="faultPenNAVEnhetIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultPenGenerisk">
        <soap:fault name="faultPenGenerisk" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultPenPersonIkkeFunnet">
        <soap:fault name="faultPenPersonIkkeFunnet" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="finnNAVEnhet">
      <soap:operation soapAction=""/>
      <wsdl:input name="finnNAVEnhetRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="finnNAVEnhetResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultPenGenerisk">
        <soap:fault name="faultPenGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="finnArenaNAVEnhetListe">
      <soap:operation soapAction=""/>
      <wsdl:input name="finnArenaNAVEnhetListeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="finnArenaNAVEnhetListeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultPenGenerisk">
        <soap:fault name="faultPenGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentForvaltningsenhetTilPersonListe">
      <soap:operation soapAction=""/>
      <wsdl:input name="hentForvaltningsenhetTilPersonListeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentForvaltningsenhetTilPersonListeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultPenNAVEnhetIkkeFunnet">
        <soap:fault name="faultPenNAVEnhetIkkeFunnet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultPenPersonManglerEnhet">
        <soap:fault name="faultPenPersonManglerEnhet" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultPenPersonIkkeFunnet">
        <soap:fault name="faultPenPersonIkkeFunnet" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PSAKNAVOrgEnhetWSEXP_PSAKNAVOrgEnhetHttpService">
    <wsdl:port name="PSAKNAVOrgEnhetWSEXP_PSAKNAVOrgEnhetHttpPort" binding="this:PSAKNAVOrgEnhetWSEXP_PSAKNAVOrgEnhetHttpBinding">
      <soap:address location="http://localhost:9080/nav-cons-pen-psak-navorgenhetWeb/sca/PSAKNAVOrgEnhetWSEXP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
