pen-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/virksomhet/grunnlag/medlemskap/medlemskap.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://nav.no/virksomhet/grunnlag/medlemskap/v1" version="1.0" xmlns:medlemskap="http://nav.no/virksomhet/grunnlag/medlemskap/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Kodetabell">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Selve kodeverdien.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="dekode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Tekstlig beskrivelse av koden.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Periodetype">
    <xsd:complexContent>
      <xsd:extension base="medlemskap:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Utvidelse">
    <xsd:sequence>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
    </xsd:sequence>
    <xsd:anyAttribute namespace="##any"/>
  </xsd:complexType>
  <xsd:complexType name="SporingUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="medlemskap:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SporingsdetaljUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="medlemskap:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Sporingsdetalj">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="dato" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;&lt;span style="font-size:8pt;font-family:Tahoma;"&gt;Tidspunktet dataene ble lagt inn.&lt;/span&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ident" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;&lt;span style="font-size:8pt;font-family:Tahoma;"&gt;Saksbehandler som har registrert inn dataene.&lt;/span&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kildenavn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;&lt;span style="font-size:8pt;font-family:Tahoma;"&gt;Kilden til dataene (system) – identifiserer systemet dataene kom fra.&lt;/span&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="medlemskap:SporingsdetaljUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Sporing">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="opprettetInfo" type="medlemskap:Sporingsdetalj">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;&lt;span style="font-size:8pt;font-family:Tahoma;"&gt;Informasjon om når dataene ble opprettet.&lt;/span&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="endretInfo" type="medlemskap:Sporingsdetalj">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;&lt;span style="font-size:8pt;font-family:Tahoma;"&gt;Informasjon om når dataene ble endret.&lt;/span&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="medlemskap:SporingUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Arsak">
    <xsd:complexContent>
      <xsd:extension base="medlemskap:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Dekning">
    <xsd:complexContent>
      <xsd:extension base="medlemskap:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="KildeDokument">
    <xsd:complexContent>
      <xsd:extension base="medlemskap:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LovvalgPeriodetype">
    <xsd:complexContent>
      <xsd:extension base="medlemskap:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GrunnlagUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="medlemskap:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Grunnlagtype">
    <xsd:complexContent>
      <xsd:extension base="medlemskap:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Grunnlag">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="grunnlagId" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikator for de grunnlagene som ble brukt som grunnlag for å hjemle vedtaket.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="grunnlagtype" type="medlemskap:Grunnlagtype">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;De forskjellige grunnlagene som er brukt som grunnlag for å hjemle vedtaket.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sporing" type="medlemskap:Sporing">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilkent ident, enhet eller gruppe innen enhet, som opprettet eller endret dataene.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="versjon" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Benyttes for optimistisk låsing.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="medlemskap:GrunnlagUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PeriodeUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="medlemskap:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Land">
    <xsd:complexContent>
      <xsd:extension base="medlemskap:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Status">
    <xsd:complexContent>
      <xsd:extension base="medlemskap:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Periode">
    <xsd:annotation>
      <xsd:documentation>&lt;p&gt;Medlemskapsperiode.&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="periodeId" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Primærnøklen til medlemskapsperioden.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Medlemskapet/unntaket er gyldig fra og med denne datoen.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Medlemskapet/unntaket er gyldig til og med denne datoen.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="registrertDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;&lt;span style="font-size:8pt;color:#000000;font-family:"Times New Roman";"&gt;For en utgående periode er dette datoen for førstegangsregistrering/opprettelsesdato og for innkommende er det dato for mottatt dokument&lt;/span&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="beslutningDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Den dato lovvalget/medlemsperioden besluttes. Dette vil i mange tilfeller ikke være det samme som fom dato da lovvalg kan ha tilbakevirkende kraft eller iverksettelse frem i tid.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="dekning" type="medlemskap:Dekning">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om perioden er knyttet til pensjon eller ikke.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="periodetype" type="medlemskap:Periodetype">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Beskrivelsen av om medlemsperioden er medlemskap/uten medlemskap.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="land" type="medlemskap:Land">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Beskrivelsen av hvilket land medlemsperioden er knyttet til.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="status" type="medlemskap:Status">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Sier hvilke status et vedtak i Infotrygd har.&lt;/p&gt;&lt;p&gt;&lt;b&gt;Saksbehandlingsstatus (bare tilgjengelig for NAV Internasjonalt):&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Disse statusene skal bare være tilgjengelig for NAV Internasjonalt, slik at de får oversikt over historikk per lovvalgsflyt (dvs. per lovvalgsavklaring); opprinnelig lovvalgsforslag, endringsforslag for land/periode, samt endelig lovvalgsbeslutning.&lt;/p&gt;&lt;p&gt;•        &lt;u&gt;Uavklart&lt;/u&gt; (når lovvalget er under avklaring)&lt;/p&gt;&lt;p&gt;•        &lt;u&gt;Gyldig&lt;/u&gt; (når lovvalget er foreløpig eller endelig avklart)&lt;/p&gt;&lt;p&gt;•        &lt;u&gt;Avvist&lt;/u&gt; (når lovvalget er endelig fordi vi har avvist krav fra andre medlemsland)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="lovvalgPeriodetype" type="medlemskap:LovvalgPeriodetype">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kodeverk for lovvalg: Endelig, Foreløpig, Under avklaring&lt;/p&gt;&lt;p&gt;• &lt;u&gt;Endelig&lt;/u&gt; (når lovvalget er besluttet)&lt;/p&gt;&lt;p&gt;• &lt;u&gt;Foreløpig&lt;/u&gt; (når ett land er utpekt som medlemsland inntil lovvalget er avklart mellom aktuelle medlemsland)&lt;/p&gt;&lt;p&gt;• &lt;u&gt;Under avklaring&lt;/u&gt; (når lovvalget ikke kan besluttes før dialogen mellom aktuelle medlemsland er avsluttet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arsak" type="medlemskap:Arsak">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvis en periode avvises skal det gis en årsak på hvorfor statusen er satt til avvist.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kildeDokument" type="medlemskap:KildeDokument">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kodeverk for som angir kilden for perioden. Mulige valg: SED, Forvaltningsnotat,  A1, Dokument, Henvendelse/søknad&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="grunnlag" type="medlemskap:Grunnlag">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilket grunnlag/hjemmel som ligger til grunn for beslutningen om perioden. EU-perioder vil ha et sett med hjemler fra EU-forordning 883/2004. Resten av verden vil ha et mindre sett med grunnlagskoder.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sporing" type="medlemskap:Sporing">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken ident, enhet eller gruppe innen enhet, som opprettet eller endret dataene.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="versjon" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Benyttes for optimistisk låsing.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="medlemskap:PeriodeUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>