pen-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/virksomhet/tjenester/trekk/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://nav.no/virksomhet/tjenester/trekk/meldinger/v1" version="1.0" xmlns:meldinger="http://nav.no/virksomhet/tjenester/trekk/meldinger/v1" xmlns:trekk="http://nav.no/virksomhet/okonomi/trekk/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://nav.no/virksomhet/okonomi/trekk/v1" schemaLocation="../../../okonomi/trekk/trekk.xsd"/>
  <xsd:complexType name="HentSkattOgTrekkRequest">
    <xsd:sequence>
      <xsd:element name="trekkvedtakId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Intern ID på trekkvedtaket i Trekk komponenten.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentSkattOgTrekkUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="trekk:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="HentSkattOgTrekkResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="andreTrekk" type="trekk:AndreTrekk">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Se domenemodell for beskrivelse av objektet. &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="skattetrekk" type="trekk:Skattetrekk">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Se domenemodell for beskrivelse av objektet.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:HentSkattOgTrekkUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KreditorFilter">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="trekkgruppeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken trekkgruppe&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="trekktypeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken trekktype&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fagomradeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilket fagområde&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="visAvsluttede" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;True/false – angir om avsluttende trekkvedtak skal hentes&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KreditorSok">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="tssEksternId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik id for samhandleren fra samhandlerbasen (TSS). Enten tssEksternId eller kreditorOffnr må fylles ut.  &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kreditorOffnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fnr/orgnr til kreditoren. Enten tssEksternId eller kreditorOffnr må fylles ut.  &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kreditorAvdelingsnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Avdelingsnummer til kreditoren. Må være satt dersom kun kreditorOffnr er fylt ut og kreditoren har flere avdelinger.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="filter" type="meldinger:KreditorFilter">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Definerer en rekke filtreringsmuligheter ved søk på kreditor.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DebitorFilter">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="tssEksternId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik id for samhandleren fra samhandlerbasen (TSS).&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="trekkgruppeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken trekkgruppe&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="trekktypeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken trekktype&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="fagomradeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilket fagområde&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="visAvsluttede" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;True/false – angir om avsluttende trekkvedtak skal hentes&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DebitorSok">
    <xsd:sequence>
      <xsd:element name="debitorOffnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fnr/orgnr det skal hentes skattevedtak for. &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="filter" type="meldinger:DebitorFilter">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Definerer en rekke filtreringsmuligheter ved søk på debitor.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinnTrekkListeRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="debitorSok" type="meldinger:DebitorSok">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Søker på debitor med en rekke filtreringsmuligheter. Se definisjon av objektet under. Ett av feltene debitorsok og kreditorsok må være satt, men begge kan ikke settes samtidig.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kreditorSok" type="meldinger:KreditorSok">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Søker på kreditor med en rekke filtreringsmuligheter. Se definisjon av objektet under. Ett av feltene debitorsok og kreditorsok må være satt, men begge kan ikke settes samtidig.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinnTrekkListeUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="trekk:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TrekkInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="trekkvedtakId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Intern ID på trekkvedtaket i Trekk komponenten.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="debitor" type="trekk:Bruker">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Se domeneobjektet Bruker. Representerer debitor, altså den som det skal trekkes hos.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="trekktype" type="trekk:Trekktype">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kodeobjekt. Angir trekktype. Se domenemodell for gyldige verdier.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="trekkperiodeFom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Når trekker gjelder fra&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="trekkperiodeTom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Når trekket gjelder til&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="trekkstatus" type="trekk:Trekkstatus">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kodeobjekt. Angir status på trekkvedtaket. Se domenemodell for gyldige verdier.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kreditor" type="trekk:Bruker">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Se domeneobjektet Bruker. Representerer kreditor, altså den som skal motta beløp fra trekket. Kreditor må være en samhandler i TSS.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kreditorRef" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kreditors referanse til trekket (saksknytning, fnr o.l.)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="tssEksternId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Intern id av kreditor i samhandlerbasen (TSS)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="trekkalternativ" type="trekk:Trekkalternativ">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kodeobjekt. Angir om trekket er saldotrekk, fast beløp eller dagsats. Se domenemodell for gyldige verdier.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sats" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Trekkbeløpet eventuelt trekkprosenten&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="belopSaldotrekk" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvor mye som totalt skal trekkes på saldotrekk&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="belopTrukket" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hittil trukket på saldotrekk&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ansvarligEnhetId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Enheten i Nav som er ansvarlig for trekket&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinnTrekkListeResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="trekkInfoListe" type="meldinger:TrekkInfo">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;En liste av TrekkInfo-objekter. Se under for definisjon av objektet. &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:FinnTrekkListeUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentTrekktransaksjonListeRequest">
    <xsd:sequence>
      <xsd:element name="trekkvedtakId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Intern ID på trekkvedtaket i Trekk komponenten.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentTrekktransaksjonListeUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="trekk:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="HentTrekktransaksjonListeResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="trekktransaksjonListe" type="trekk:Trekktransaksjon">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Se domenemodell for beskrivelse av objektet.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:HentTrekktransaksjonListeUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>