pcom-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/samhandler/ASBOPenFinnSamhandlerRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/samhandler">
  <xsd:complexType name="ASBOPenFinnSamhandlerRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="navn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="samhandlerType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="offentligId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idType" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
