pcom-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/samhandler/ASBOPenKonto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/samhandler">
    <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" schemaLocation="../ASBOPenAdresse.xsd"/>
    <xsd:complexType name="ASBOPenKonto">
    <xsd:sequence>
            <xsd:element minOccurs="0" name="kontoType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="kontonummer" type="xsd:string"/>
            <xsd:element minOccurs="0" name="banknavn" type="xsd:string"/>
            <xsd:element minOccurs="0" name="bankkode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="swiftkode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="valuta" type="xsd:string"/>
            <xsd:element minOccurs="0" name="bankadresse" type="bons1:ASBOPenAdresse"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
