pen-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/person/ASBOPenTPSSvarStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/person">
	<xsd:complexType name="ASBOPenTPSSvarStatus">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="statusKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="meldingKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="meldingBeskrivelse"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
