pen-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/person/ASBOPenFinnAdresseListeResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/person"
	xmlns:bons0="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/person">
	<xsd:include schemaLocation="ASBOPenAdresseInfo.xsd"></xsd:include>
	<xsd:complexType name="ASBOPenFinnAdresseListeResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="antallForespurteFnr"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="antallSvar"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="bufferNr"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="adresseInfoListe"
				type="bons0:ASBOPenAdresseInfo" maxOccurs="unbounded">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
