pcom-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/samordning/ASBOPenPeriodisertBelop.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/samordning">
  <xsd:complexType name="ASBOPenPeriodisertBelop">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="belop" type="xsd:string"/>
      <xsd:element minOccurs="0" name="kravstillersRef" type="xsd:string"/>
      <xsd:element minOccurs="0" name="datoFom" type="xsd:date"/>
      <xsd:element minOccurs="0" name="datoTom" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
