nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/frg/gbo/GBOAlternativId.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
  <xsd:complexType name="GBOAlternativId">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="alternativId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="alternativKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="gyldig" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
