nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/frg/gbo/GBOFinnAdresseListeResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo"
	xmlns:bons0="http://nav-lib-frg/no/nav/lib/frg/gbo">
	<xsd:include schemaLocation="GBOAdresseInfoListe.xsd"></xsd:include>
	<xsd:complexType name="GBOFinnAdresseListeResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="antallForespurteFnr"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="antallSvar"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="bufferNr"
				type="xsd:string">
			</xsd:element>			<xsd:element minOccurs="0" name="adresseInfoListe"
				type="bons0:GBOAdresseInfoListe">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
