nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/frg/gbo/GBOFinnAdresseListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo"
	xmlns:bons0="http://nav-lib-frg/no/nav/lib/frg/gbo">
	<xsd:include schemaLocation="GBOfnrListe.xsd"></xsd:include>
	<xsd:complexType name="GBOFinnAdresseListeRequest">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="fnrListe"
				type="bons0:GBOfnrListe">
			</xsd:element>
			<xsd:element minOccurs="1" name="adressePrioritetKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="adresseKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="dato" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="bufferNr"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
