nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/frg/gbo/GBOHentFamilierelasjonsHistorikkRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://stelvio-commons-lib/no/nav/gbo" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
    <xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo" schemaLocation="../../../gbo/GBOStelvioContext.xsd"/>
    <xsd:complexType name="GBOHentFamilierelasjonsHistorikkRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="hentSamboerforhold" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="fom" type="xsd:string"/>
      <xsd:element minOccurs="0" name="kontekstData" type="bons0:GBOStelvioContext"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
