nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/frg/gbo/GBOHentPersonListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:bons1="http://stelvio-commons-lib/no/nav/gbo" targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
    <xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo" schemaLocation="../../../gbo/GBOStelvioContext.xsd"/>
    <xsd:include schemaLocation="GBOFodselsnummer.xsd"/>
    <xsd:complexType name="GBOHentPersonListeRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="fnrListe" type="bons0:GBOFodselsnummer"/>
            <xsd:element minOccurs="0" name="kontekstData" type="bons1:GBOStelvioContext"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
