nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/frg/gbo/GBOHistoriskIdent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
	<xsd:complexType name="GBOHistoriskIdent">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="ident" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="fom" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="identstatusKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="identtypeKode"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
