nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/frg/gbo/GBOHentPersonUtlandHistorikkListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
	<xsd:complexType name="GBOHentPersonUtlandHistorikkListeRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="fnr" type="xsd:string" />
			<xsd:element minOccurs="0" name="dato" type="xsd:string" />
			<xsd:element minOccurs="0" name="infoKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="buffNr"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
