nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/frg/gbo/GBOHentIdentHistorikkBolkRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
	<xsd:complexType name="GBOHentIdentHistorikkBolkRequest">
		<xsd:sequence>			<xsd:element minOccurs="0" name="identListe"
				type="xsd:string" maxOccurs="unbounded">
			</xsd:element>
			<xsd:element minOccurs="0" name="fom" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
