nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/frg/gbo/GBOIdentHistorikk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo"
	xmlns:bons0="http://nav-lib-frg/no/nav/lib/frg/gbo">
	<xsd:include schemaLocation="GBOHistoriskIdent.xsd"></xsd:include>
	<xsd:include schemaLocation="GBOSvarStatus.xsd"></xsd:include>
	<xsd:complexType name="GBOIdentHistorikk">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="forespurtIdent"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="gjeldendeIdent"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="svarStatus"
				type="bons0:GBOSvarStatus">
			</xsd:element>
			<xsd:element minOccurs="0" name="historiskIdentListe"
				type="bons0:GBOHistoriskIdent" maxOccurs="unbounded">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
