nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/frg/gbo/GBONAVKontor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo"
	xmlns:bons0="http://nav-lib-frg/no/nav/lib/frg/gbo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="GBOLand.xsd" />
	<xsd:complexType name="GBONAVKontor">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="NAVEnhetsId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="NAVEnhetsNavn"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="telefon"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="adresselinje1"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="adresselinje2"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="adresselinje3"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="postNr"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="poststed"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="land"
				type="bons0:GBOLand">
			</xsd:element>
			<xsd:element minOccurs="0" name="kommuneNr"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>