nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/frg/gbo/GBOSvarStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
	<xsd:complexType name="GBOSvarStatus">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="statusKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="meldingKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="meldingBeskrivelse"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
