nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/frg/gbo/GBOUtlandHistorikk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-frg/no/nav/lib/frg/gbo"
	xmlns:bons0="http://nav-lib-frg/no/nav/lib/frg/gbo">
	<xsd:include schemaLocation="GBOHistorikkInfo.xsd"></xsd:include>
	<xsd:include schemaLocation="GBOPerson.xsd"></xsd:include>
	<xsd:complexType name="GBOUtlandHistorikk">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="person"
				type="bons0:GBOPerson">
			</xsd:element>
			<xsd:element minOccurs="0" name="statsborgerskapListe"
				type="bons0:GBOHistorikkInfo" maxOccurs="unbounded">
			</xsd:element>
			<xsd:element minOccurs="0" name="oppholdstillatelseListe"
				type="bons0:GBOHistorikkInfo" maxOccurs="unbounded">
			</xsd:element>
			<xsd:element minOccurs="0" name="arbeidstillatelseListe"
				type="bons0:GBOHistorikkInfo" maxOccurs="unbounded">
			</xsd:element>
			<xsd:element minOccurs="0" name="innvandringListe"
				type="bons0:GBOHistorikkInfo" maxOccurs="unbounded">
			</xsd:element>
			<xsd:element minOccurs="0" name="utvandringListe"
				type="bons0:GBOHistorikkInfo" maxOccurs="unbounded">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
