pen-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/virksomhet/okonomi/tilbakekreving/tilbakekreving.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://nav.no/virksomhet/okonomi/tilbakekreving/v2" version="2.0" xmlns:tilbakekreving="http://nav.no/virksomhet/okonomi/tilbakekreving/v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Bruker">
    <xsd:sequence>
      <xsd:element form="qualified" minOccurs="0" name="brukerId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik id til brukeren, kan være fnr, orgnr, etc.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="brukertypeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilken type bruker.&lt;br&gt;&lt;/br&gt;PERSON        Person&lt;br&gt;&lt;/br&gt;ORGANISASJON        Organisasjon&lt;br&gt;&lt;/br&gt;SAMHANDLER        Samhandler&lt;br&gt;&lt;/br&gt;APPBRUKER        Applikasjonsbruker&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Tilbakekrevingsgrunnlag">
    <xsd:sequence>
      <xsd:element form="qualified" minOccurs="0" name="tilbakekrevingsgrunnlagId" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikasjon av tilbakekrevingsgrunnlaget&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="grunnlagStatusKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Status på tilbakekrevingsgrunnlag&lt;br&gt;&lt;/br&gt;NY        Nytt kravgrunnlag&lt;br&gt;&lt;/br&gt;ENDR        Endret kravgrunnlag&lt;br&gt;&lt;/br&gt;AVSL        Avsluttet kravgrunnlag&lt;br&gt;&lt;/br&gt;MANU        Manuell behandling&lt;br&gt;&lt;/br&gt;SPER        Kravgrunnlag sperret&lt;br&gt;&lt;/br&gt;BEHA        Kravgrunnlag ferdigbehandlet&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="gjelder" type="tilbakekreving:Bruker">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Rettighetshaver, vanligvis stønadsmottaker (fnr/orgnr)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="utbetalesTil" type="tilbakekreving:Bruker">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Mottaker av pengene&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="fagomradeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fagområde&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="fagsystemId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Referanse til fagsystemets identifikasjon på feilutbetalingen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="fagsystemDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Referanse til fagsystemets dato for feilutbetalingen. &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="bostedNavEnhetId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Bostedsenhet, hentet fra feilutbetalingen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="ansvarligNavEnhetId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Ansvarlig enhet som skal behandle tilbakekrevingsvedtaket.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="kravDannetDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Når kravet ble opprettet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="periodeFom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Laveste beregningsperiode fom på kravgrunnlaget&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="periodeTom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Høyeste beregningsperiode tom på kravgrunnlaget&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="feilutbetaltSum" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvor mye som samlet er feilutbetalt på beregningen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Tilbakekrevingsbelop">
    <xsd:sequence>
      <xsd:element form="qualified" minOccurs="0" name="klasseKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Klassifisering av stønad, skatt, trekk, etc. I de tilfeller hvor reglene tilsier at opprinnelig kode skal endres, er det de endrede verdiene som vises..&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="opprinneligUtbetaltBelop" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Opprinnelig beregnet beløp, dvs utbetalingen som førte til feilutbetaling.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="nyttBeregnetBelop" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Beløpet som ble beregnet ved korrigering.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="tilbakekrevesBelop" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Beløpet som skal tilbakekreves. Denne vil i utgangspunkt ha 0.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="uinnkrevdBelop" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Beløpet som ikke skal tilbakekreves.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="arsakKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Årsak til feilutbetalingen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="resultatKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvilket vedtak som er hentet ang. tilbakekreving&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="skyldKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hvem har skyld i at det ble feilutbetalt&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Tilbakekrevingsperiode">
    <xsd:sequence>
      <xsd:element form="qualified" minOccurs="0" name="periodeFom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Beregningsperiode fom-dato. Dette feltet er read-only dvs. at feltet vil bli ignorert ved lagring av data i Tilbakekreving selv om den endres av konsumenten.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="periodeTom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Beregningsperiode tom-dato. Dette feltet er read-only dvs. at feltet vil bli ignorert ved lagring av data i Tilbakekreving selv om den endres av konsumenten.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="belopListe" type="tilbakekreving:Tilbakekrevingsbelop">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Liste av tilbakekrevingsbeløp&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Tilbakekrevingsvedtak">
    <xsd:sequence>
      <xsd:element form="qualified" minOccurs="0" name="vedtakId" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikasjon av tilbakekrevingsvedtaket&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="grunnlagStatusKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Status på tilbakekrevingsgrunnlag&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="fagomradeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fagområde&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="fagsystemId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Referanse til fagsystemets identifikasjon på feilutbetalingen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="fagsystemDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Referanse til fagsystemets dato for feilutbetalingen &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="omgjortVedtakId" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Dette er henvisning til forrige gyldige vedtak. Feltet vil bare være utfylt i forbindelse med omgjøring.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="gjelder" type="tilbakekreving:Bruker">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Rettighetshaver, vanligvis stønadsmottaker (fnr/orgnr)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="utbetalesTil" type="tilbakekreving:Bruker">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Mottaker av pengene&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="hjemmelKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Lovhjemmel for tilbakekrevingsvedtaket&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="beregnRenterKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;J                      Det skal beregnes renter på kravet&lt;br&gt;&lt;/br&gt;N (blank)         Det skal IKKE beregnes renter på kravet&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="ansvarligNavEnhetId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Ansvarlig enhet som skal behandle tilbakekrevingsvedtaket.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="bostedNavEnhetId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Bostedsenhet, hentet fra feilutbetalingen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="behandlendeNavEnhetId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Behandlende enhet, hentet fra feilutbetalingen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="kontrollfelt" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Brukes ved innsending av tilbakekrevingsvedtak for å kontrollere at kravgrunnlaget ikke er blitt endret i mellomtiden&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" minOccurs="0" name="saksbehandlerId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Saksbehandlers brukerident.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="periodeListe" type="tilbakekreving:Tilbakekrevingsperiode">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Liste av tilbakekrevingsperioder&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>