nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/gbo/GBOAttributt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-sah/no/nav/lib/sah/gbo">
	<xsd:complexType name="GBOAttributt">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="verdi" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="typeKode"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
