nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/gbo/GBOBrevPensjonStandard.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav-lib-frg/no/nav/lib/frg/gbo"
	xmlns:bons1="http://nav-lib-pen/no/nav/lib/pen/gbo"
	xmlns:bons2="http://nav-lib-sah/no/nav/lib/sah/gbo"
	targetNamespace="http://nav-lib-sah/no/nav/lib/sah/gbo">
	<xsd:import namespace="http://nav-lib-pen/no/nav/lib/pen/gbo"
		schemaLocation="../../pen/gbo/GBOPensjonssak.xsd" />
	<xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo"
		schemaLocation="../../frg/gbo/GBOSamhandler.xsd" />
	<xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo"
		schemaLocation="../../frg/gbo/GBOPerson.xsd" />
	<xsd:include schemaLocation="GBOGenerelleSatser.xsd" />
	<xsd:complexType name="GBOBrevPensjonStandard">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="brevmottakerPerson"
				type="bons0:GBOPerson" />
			<xsd:element name="brevmottakerSamhandler"
				type="bons0:GBOSamhandler" />
			<xsd:element name="personsak" type="bons0:GBOPerson" />
			<xsd:element name="saksdata" type="bons1:GBOPensjonssak" />
			<xsd:element name="ektefellepartner" type="bons0:GBOPerson" />
			<xsd:element maxOccurs="unbounded" name="barnU18"
				type="bons0:GBOPerson" />
			<xsd:element name="samboer" type="bons0:GBOPerson" />
			<xsd:element name="generellesatser"
				type="bons2:GBOGenerelleSatser" />
			<xsd:element minOccurs="0" name="spesen" type="xsd:string" />

		</xsd:sequence>
		<xsd:attribute name="brevref" type="xsd:string" />
		<xsd:attribute name="spraak" type="xsd:string" />
		<xsd:attribute name="tknr" type="xsd:string" />
	</xsd:complexType>
</xsd:schema>
