nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/gbo/GBOBrevStandard.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav-lib-frg/no/nav/lib/frg/gbo"
	xmlns:bons2="http://nav-lib-sah/no/nav/lib/sah/gbo"
	targetNamespace="http://nav-lib-sah/no/nav/lib/sah/gbo">
	<xsd:import schemaLocation="../../frg/gbo/GBOPerson.xsd"
		namespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
	</xsd:import>
	<xsd:include schemaLocation="GBOBrev.xsd" />
	<xsd:include schemaLocation="GBOGenerelleSatser.xsd" />	<xsd:complexType name="GBOBrevStandard">
		<xsd:complexContent>
			<xsd:extension base="bons2:GBOBrev">
				<xsd:sequence>
					<xsd:element name="ektefellepartner"
						type="bons0:GBOPerson" />
					<xsd:element maxOccurs="unbounded" name="barnU18"
						type="bons0:GBOPerson" />
					<xsd:element name="samboer" type="bons0:GBOPerson" />
					<xsd:element name="generellesatser"
						type="bons2:GBOGenerelleSatser" />					<xsd:element minOccurs="0" name="avdodperson"
						type="bons0:GBOPerson">
					</xsd:element>
				</xsd:sequence>




			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
