nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/gbo/GBOBelopsendring.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://nav-lib-sah/no/nav/lib/sah/gbo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav-lib-sah/no/nav/lib/sah/gbo">
	<xsd:include schemaLocation="GBOGjenlevendetilleggYK.xsd"></xsd:include>
	<xsd:include schemaLocation="GBOGarantiNordisk27YK.xsd"></xsd:include>
	<xsd:include schemaLocation="GBOBarnetilleggSerkullYK.xsd"></xsd:include>
	<xsd:include schemaLocation="GBOBarnetilleggFellesYK.xsd"></xsd:include>
	<xsd:include schemaLocation="GBOEktefelletilleggYK.xsd"></xsd:include>
	<xsd:include schemaLocation="GBOUforetrygdOrdinerYK.xsd"></xsd:include>
	<xsd:complexType name="GBOBelopsendring">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="UforetrygdOrdinerYK"
				type="bons0:GBOUforetrygdOrdinerYK">
			</xsd:element>
			<xsd:element minOccurs="0" name="EktefelletilleggYK"
				type="bons0:GBOEktefelletilleggYK">
			</xsd:element>
			<xsd:element minOccurs="0" name="BarnetilleggFellesYK"
				type="bons0:GBOBarnetilleggFellesYK">
			</xsd:element>
			<xsd:element minOccurs="0" name="BarnetilleggSerkullYK"
				type="bons0:GBOBarnetilleggSerkullYK">
			</xsd:element>
			<xsd:element minOccurs="0" name="GarantiNordisk27YK"
				type="bons0:GBOGarantiNordisk27YK">
			</xsd:element>
			<xsd:element minOccurs="0" name="GjenlevendetilleggYK"
				type="bons0:GBOGjenlevendetilleggYK">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>