nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/gbo/GBOBeregningsgrunnlagOrdinar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://nav-lib-sah/no/nav/lib/sah/gbo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav-lib-sah/no/nav/lib/sah/gbo">
	<xsd:include schemaLocation="GBOOpptjeningUTListe.xsd"></xsd:include>
	<xsd:complexType name="GBOBeregningsgrunnlagOrdinar">
		<xsd:sequence>

			<xsd:element minOccurs="0"
				name="BeregningsgrunnlagOrdinerArsbelop" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="AntallArInntektIAvtaleland"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="AntallArOver1G"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="OpptjeningUTListe"
				type="bons0:GBOOpptjeningUTListe">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>