nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/gbo/GBOBeregningsData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-pen/no/nav/lib/pen/gbo" xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo" targetNamespace="http://nav-lib-sah/no/nav/lib/sah/gbo">
    <xsd:import namespace="http://nav-lib-pen/no/nav/lib/pen/gbo" schemaLocation="../../pen/gbo/GBOBeregning.xsd"/>
    <xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo" schemaLocation="../../frg/gbo/GBOPerson.xsd"/>
    <xsd:complexType name="GBOBeregningsData">
    <xsd:sequence>
		<xsd:element name="beregningAntallPerioder" type="xsd:string"/>
		<xsd:element name="beregningsRelasjoner" type="bons1:GBOPerson"/>
		<xsd:element maxOccurs="unbounded" name="beregning" type="bons0:GBOBeregning"/>
	</xsd:sequence>
  </xsd:complexType>
</xsd:schema>
