nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/gbo/GBOBeregningUfore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://nav-lib-sah/no/nav/lib/sah/gbo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav-lib-sah/no/nav/lib/sah/gbo">
	<xsd:include schemaLocation="GBOBelopsendring.xsd"></xsd:include>
	<xsd:include schemaLocation="GBOUforetrygdberegning.xsd"></xsd:include>
	<xsd:include schemaLocation="GBOBeregningYtelsesKomp.xsd"></xsd:include>
	<xsd:complexType name="GBOBeregningUfore">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="BeregningId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="BeregningVirkningDatoFom"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="BeregningVirkningDatoTom"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="BeregningBenyttetSivilstand" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="BeregningBrukerSivilstand"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="BeregningSivilstandAnvendt"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="EndringArsak"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Uttaksgrad"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Total" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="TotalNetto"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="TotalAr"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="TotalNettoAkk"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="TotalNettoRestAr"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="BelopOkt"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="BelopRedusert"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Belopsendring"
				type="bons0:GBOBelopsendring">
			</xsd:element>
			<xsd:element minOccurs="0" name="BeregningYtelsesKomp"
				type="bons0:GBOBeregningYtelsesKomp">
			</xsd:element>
			<xsd:element minOccurs="0" name="Uforetrygdberegning"
				type="bons0:GBOUforetrygdberegning">
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>