nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/gbo/GBOBeregningsVilkar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://nav-lib-sah/no/nav/lib/sah/gbo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons1="http://nav-lib-sah/no/nav/lib/sah/gbo">
	<xsd:include schemaLocation="GBOTrygdetidVedtaksbrev.xsd"></xsd:include>
	<xsd:complexType name="GBOBeregningsVilkar">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="IVSInntekt"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="IVSBegrunnelse"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="IFUInntekt"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="IFUBegrunnelse"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="IFUForrigeIFU"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="IEUInntekt"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="IEUBegrunnelse"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Uforetidspunkt"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="UforetidspunktBegrunnelse"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="YrkesskadeGrad"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="YrkeskadeGradBegrunnelse"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Skadetidspunkt"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="SkadetidspunktBegrunnelse"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Uforegrad"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="UforegradBegrunnelse"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Virkningstidpunkt"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="VirkningBegrunnelse"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Trygdetid"
				type="bons1:GBOTrygdetidVedtaksbrev">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>