nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/gbo/GBOBeregningsDataVedtaksbrev.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://nav-lib-sah/no/nav/lib/sah/gbo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav-lib-sah/no/nav/lib/sah/gbo">
	<xsd:include schemaLocation="GBOBeregningUfore.xsd"></xsd:include>
	<xsd:complexType name="GBOBeregningsDataVedtaksbrev">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="BeregningAntallPerioder"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="BeregningUfore"
				type="bons0:GBOBeregningUfore">
			</xsd:element>
			<xsd:element minOccurs="0" name="BeregningUforePeriode"
				type="bons0:GBOBeregningUfore" maxOccurs="unbounded">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>