nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/gbo/GBOBrevVedtakAndre.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav-lib-sah/no/nav/lib/sah/gbo"
	xmlns:bons1="http://nav-lib-pen/no/nav/lib/pen/gbo"
	xmlns:bons2="http://nav-lib-frg/no/nav/lib/frg/gbo"
	targetNamespace="http://nav-lib-sah/no/nav/lib/sah/gbo">
	<xsd:import
		schemaLocation="../../pen/gbo/GBOOmsorgOverfGrunnlagListe.xsd"
		namespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
	</xsd:import>
	<xsd:import
		schemaLocation="../../pen/gbo/GBOOmsorgGodskrGrunnlagListe.xsd"
		namespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
	</xsd:import>
	<xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo"
		schemaLocation="../../frg/gbo/GBOPerson.xsd">
	</xsd:import>	<xsd:import namespace="http://nav-lib-pen/no/nav/lib/pen/gbo"
		schemaLocation="../../pen/gbo/GBOVedtak.xsd">
	</xsd:import>
	<xsd:import namespace="http://nav-lib-pen/no/nav/lib/pen/gbo"
		schemaLocation="../../pen/gbo/GBOPersongrunnlagListe.xsd">
	</xsd:import>
	<xsd:import namespace="http://nav-lib-pen/no/nav/lib/pen/gbo"
		schemaLocation="../../pen/gbo/GBOTilbakekrevingTotal.xsd">
	</xsd:import>	<xsd:include schemaLocation="GBOBrev.xsd" />
	<xsd:complexType name="GBOBrevVedtakAndre">
		<xsd:complexContent>
			<xsd:extension base="bons0:GBOBrev">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="vedtaksdata"
						type="bons1:GBOVedtak" />
					<xsd:element minOccurs="0"
						name="persongrunnlagliste" type="bons1:GBOPersongrunnlagListe" />
					<xsd:element minOccurs="0"
						name="tilbakekrevingtotal" type="bons1:GBOTilbakekrevingTotal" />
					<xsd:element minOccurs="0" name="grunnlagOmsGodskr"
						type="bons1:GBOOmsorgGodskrGrunnlagListe">
					</xsd:element>
					<xsd:element minOccurs="0" name="grunnlagOmsOverf"
						type="bons1:GBOOmsorgOverfGrunnlagListe">
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="relasjoner" type="bons2:GBOPerson">
					</xsd:element>					<xsd:element minOccurs="0" name="relasjonOOgiver"
						type="bons2:GBOPerson">
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
