nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/gbo/GBOBrevSEDBlanketter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://nav-lib-sah/no/nav/lib/sah/gbo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav-lib-sah/no/nav/lib/sah/gbo"
	xmlns:bons1="http://nav-lib-frg/no/nav/lib/frg/gbo"
	xmlns:bons2="http://nav-lib-pen/no/nav/lib/pen/gbo">
	<xsd:import schemaLocation="../../pen/gbo/GBOVedtak.xsd"
		namespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
	</xsd:import>
	<xsd:import schemaLocation="../../pen/gbo/GBOKravhode.xsd"
		namespace="http://nav-lib-pen/no/nav/lib/pen/gbo">
	</xsd:import>
	<xsd:import schemaLocation="../../frg/gbo/GBOPerson.xsd"
		namespace="http://nav-lib-frg/no/nav/lib/frg/gbo">
	</xsd:import>
	<xsd:include schemaLocation="GBOBrev.xsd"></xsd:include>
	<xsd:complexType name="GBOBrevSEDBlanketter" abstract="false">
		<xsd:complexContent>
			<xsd:extension base="bons0:GBOBrev">
				<xsd:sequence>

					<xsd:element minOccurs="0" name="personAvdod"
						type="bons1:GBOPerson">
					</xsd:element>
					<xsd:element minOccurs="0" name="relasjoner"
						type="bons1:GBOPerson">
					</xsd:element>
					<xsd:element minOccurs="0" name="avdodRelasjoner"
						type="bons1:GBOPerson">
					</xsd:element>
					<xsd:element minOccurs="0" name="kravhode"
						type="bons2:GBOKravhode">
					</xsd:element>
					<xsd:element minOccurs="0" name="vedtaksdata"
						type="bons2:GBOVedtak">
					</xsd:element>
				</xsd:sequence>

			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>