nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/gbo/GBOBestillInfotrygdSakRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://stelvio-commons-lib/no/nav/gbo"
	targetNamespace="http://nav-lib-sah/no/nav/lib/sah/gbo">
	<xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo"
		schemaLocation="../../../gbo/GBOEndringsInfo.xsd">
	</xsd:import>
	<xsd:complexType name="GBOBestillInfotrygdSakRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="fnr" type="xsd:string" />
			<xsd:element minOccurs="0" name="stonadsklassifisering"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="stonadsklassifisering2"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="stonadsklassifisering3"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="sakstype"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="sendBekreftelsesbrev"
				type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0" name="ansvarligEnhetId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="oppgaveId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="oppgaveOrganisasjonsenhetId" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="endringsInfo"
				type="bons0:GBOEndringsInfo">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
