nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/gbo/GBOBrev.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav-lib-frg/no/nav/lib/frg/gbo"
	xmlns:bons1="http://nav-lib-pen/no/nav/lib/pen/gbo"
	targetNamespace="http://nav-lib-sah/no/nav/lib/sah/gbo"
	xmlns:bons2="http://nav-lib-sah/no/nav/lib/sah/gbo">
	<xsd:include schemaLocation="GBOKontaktinformasjon.xsd"></xsd:include>
	<xsd:import namespace="http://nav-lib-pen/no/nav/lib/pen/gbo"
		schemaLocation="../../pen/gbo/GBOPensjonssak.xsd" />
	<xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo"
		schemaLocation="../../frg/gbo/GBOSamhandler.xsd" />
	<xsd:import namespace="http://nav-lib-frg/no/nav/lib/frg/gbo"
		schemaLocation="../../frg/gbo/GBOPerson.xsd" />
	<xsd:complexType name="GBOBrev">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="brevmottakerPerson"
				type="bons0:GBOPerson" />
			<xsd:element minOccurs="0" name="brevmottakerSamhandler"
				type="bons0:GBOSamhandler" />
			<xsd:element minOccurs="0" name="personsak"
				type="bons0:GBOPerson" />
			<xsd:element minOccurs="0" name="saksdata"
				type="bons1:GBOPensjonssak" />
			<xsd:element minOccurs="0" name="spesen" type="xsd:string" />

			<xsd:element minOccurs="0" name="brevref" type="xsd:string" />
			<xsd:element minOccurs="0" name="spraak" type="xsd:string" />
			<xsd:element minOccurs="0" name="tknr" type="xsd:string" />
			<xsd:element minOccurs="0" name="kontaktinformasjon"
				type="bons2:GBOKontaktinformasjon">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
