nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/gbo/GBOForutgaendeMedlemskap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://nav-lib-sah/no/nav/lib/sah/gbo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="GBOForutgaendeMedlemskap">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="MinstTreArsFMNorge"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="MinstEttArFMNorge"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="OppfyltEtterGamleRegler"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="UnntakFraForutgaendeMedlemskap" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>