nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/gbo/GBOGjenlevendetilleggYK.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://nav-lib-sah/no/nav/lib/sah/gbo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="GBOGjenlevendetilleggYK">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="BelopGammelGT"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="BelopNyGT"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>