nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/gbo/GBOGrunnlag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://nav-lib-sah/no/nav/lib/sah/gbo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons1="http://nav-lib-sah/no/nav/lib/sah/gbo">
	<xsd:include schemaLocation="GBOLandVedtaksbrev.xsd"></xsd:include>
	<xsd:include schemaLocation="GBOPersongrunnlagliste.xsd"></xsd:include>

	<xsd:complexType name="GBOGrunnlag">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="Persongrunnlagsliste"
				type="bons1:GBOPersongrunnlagliste" maxOccurs="unbounded">
			</xsd:element>







			<xsd:element minOccurs="0" name="Land"
				type="bons1:GBOLandVedtaksbrev">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>