nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/gbo/GBOHentForskuddRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sah/no/nav/lib/sah/gbo">
  <xsd:complexType name="GBOHentForskuddRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="dato" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
