nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/gbo/GBOInfotrygdsak.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://stelvio-commons-lib/no/nav/gbo" targetNamespace="http://nav-lib-sah/no/nav/lib/sah/gbo">
	<xsd:import namespace="http://stelvio-commons-lib/no/nav/gbo" schemaLocation="../../../gbo/GBOEndringsInfo.xsd">
	</xsd:import>
	<xsd:complexType name="GBOInfotrygdsak">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="gjelderId" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="saksnr" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="registrertDato" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="fagomradeKode" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="fagomradeBeskrivelse" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="underkategoriKode" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="underkategoriBeskrivelse" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="sakstypeKode" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="sakstypeBeskrivelse" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="statusKode" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="statusBeskrivelse" type="xsd:string">
			</xsd:element>

			<xsd:element minOccurs="0" name="resultatKode" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="resultatBeskrivelse" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="registrertNavEnhetId" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="behandlendeNavEnhetId" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="saksbehandlerId" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="vedtaksDato" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="iverksattDato" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="eksternReferanse" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="endringsInfo" type="bons0:GBOEndringsInfo">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
