nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/gbo/GBOKravhodeVedtaksbrev.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://nav-lib-sah/no/nav/lib/sah/gbo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav-lib-sah/no/nav/lib/sah/gbo">
	<xsd:include schemaLocation="GBOKravlinjeListe.xsd"></xsd:include>
	<xsd:complexType name="GBOKravhodeVedtaksbrev">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="VedtakKravhode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="KravGjelder"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="KravStatus"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="KravMottatDato"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="KravKomplettDato"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="KravTilbakekreving"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="KravVelgType"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="KravAvdodFnr"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="KravArsakType"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="AvdodFnr"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="ForrigeVedtakPaTidslinjen"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="VurdereTrygdeavtale"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="erRevurdPgaReduksjonOppt"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="SokerBT"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="SokerET"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="onsketVirkningsDato"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="BoddArbeidUtland"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="BoddArbeidUtlandAvdod"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="BoddArbeidUtlandEps"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="BehandlendeEnhet"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="NorgeBehandlendeLand"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="KravlinjeListe"
				type="bons0:GBOKravlinjeListe">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>