nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/gbo/GBOVedlegg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-sah/no/nav/lib/sah/gbo">
  <xsd:complexType name="GBOVedlegg">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="nr" type="xsd:int"/>
      <xsd:element minOccurs="0" name="innhold" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
