nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/gbo/GBOVilkar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://nav-lib-sah/no/nav/lib/sah/gbo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav-lib-sah/no/nav/lib/sah/gbo">
	<xsd:include
		schemaLocation="GBORettTilEksportEtterTrygdeavtaler.xsd">
	</xsd:include>
	<xsd:include
		schemaLocation="GBOMedlemskapForUTEtterTrygdeavtaler.xsd">
	</xsd:include>
	<xsd:include schemaLocation="GBOForutgaendeMedlemskap.xsd"></xsd:include>
	<xsd:include schemaLocation="GBOFortsattMedlemskap.xsd"></xsd:include>
	<xsd:complexType name="GBOVilkar">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="YrkesskadeResultat"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="YrkesskadeBegrunnelse"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="UngUforResultat"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="UngUforBegrunnelse"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="AlderResultat"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="AlderBegrunnelse"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="FortsattMedlemsskapResultat" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="FortsattMedlemsskapBegrunnelse" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="HensiktsmessigBehandlingResultat" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="HensiktsmessigBehandlingBegrunnelse" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="NedsattInntektsevneResultat" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="NedsattInntektsevneBegrunnelse" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="NedsattInntektsevneMedMinstHalvpartenResultat"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="NedsattInntektsevneMedMinstHalvpartenBegrunnelse"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="ForutgaendeMedlemskapResultat" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="ForutgaendeMedlemskapBegrunnelse" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="HensiktsmessigArbeidsrettedeTiltakResultat"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="HensiktsmessigArbeidsrettedeTiltakBegrunnelse"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="SykdomSkadeLyteResultat"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="SykdomSkadeLyteBegrunnelse"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="MedlemskapForUTEtterTrygdeavtalerResultat"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="RettTilEksportEtterTrygdeavtalerResultat" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="FortsattMedlemskap"
				type="bons0:GBOFortsattMedlemskap">
			</xsd:element>
			<xsd:element minOccurs="0" name="ForutgaendeMedlemskap"
				type="bons0:GBOForutgaendeMedlemskap">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="MedlemskapForUTEtterTrygdeavtaler"
				type="bons0:GBOMedlemskapForUTEtterTrygdeavtaler">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="RettTilEksportEtterTrygdeavtaler"
				type="bons0:GBORettTilEksportEtterTrygdeavtaler">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>