nav-bsrv-sah-brevbestilling-legacy/src/main/resources/lib/sah/gbo/GBOYtelsesgrunnlag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://nav-lib-sah/no/nav/lib/sah/gbo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons0="http://nav-lib-sah/no/nav/lib/sah/gbo">
	<xsd:include schemaLocation="GBOBeregningsgrunnlagOrdinar.xsd"></xsd:include>
	<xsd:complexType name="GBOYtelsesgrunnlag">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Faktor"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Formelkode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Arsbelop"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="BeregningsgrunnlagYrkesskadeBest" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="BeregningsgrunnlagYrkesskadeArsbelop" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="InntektVedSkadetidspunktet"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="BeregningsgrunnlagOrdinar"
				type="bons0:GBOBeregningsgrunnlagOrdinar">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>