psak-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/ppen015/ASBOPSAKPPEN015Request.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/ppen015" xmlns:bons0="http://nav-cons-pen-psak-ppen015/no/nav/lib/pen/psakpselv/asbo/ppen015" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://nav-cons-pen-psak-ppen015/no/nav/lib/pen/psakpselv/asbo/ppen015" schemaLocation="Tjenestedirektiv.xsd">
	</xsd:import>
	<xsd:complexType name="ASBOPSAKPPEN015Request">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="vedtaksId" type="xsd:string"/>

			<xsd:element minOccurs="0" name="tjenestedirektiv" type="bons0:Tjenestedirektiv">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>