psak-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/inntekt/ASBOPenInntekt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/inntekt" xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/inntekt">
    <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" schemaLocation="../ASBOPenEndringsInfo.xsd"/>
    <xsd:include schemaLocation="ASBOPenInntektsPost.xsd"/>
    <xsd:complexType name="ASBOPenInntekt">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="oppgaveId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="inntektsTypeKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fom" type="xsd:date"/>
      <xsd:element minOccurs="0" name="tom" type="xsd:date"/>
      <xsd:element minOccurs="0" name="aar" type="xsd:string"/>
      <xsd:element minOccurs="0" name="totalBelop" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="inntektsPoster" type="bons0:ASBOPenInntektsPost"/>
            <xsd:element minOccurs="0" name="endringsInfo" type="bons1:ASBOPenEndringsInfo"/>
            <xsd:element minOccurs="0" name="fagOmrade" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
