psak-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/inf/PSAKNAVOrgEnhet.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/navorgenhet" xmlns:bons2="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault/navorgenhet" xmlns:bons3="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault" xmlns:tns="http://nav-cons-pen-psak-navorgenhet/no/nav/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PSAKNAVOrgEnhet" targetNamespace="http://nav-cons-pen-psak-navorgenhet/no/nav/inf">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav-cons-pen-psak-navorgenhet/no/nav/inf" xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/navorgenhet" xmlns:bons2="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault/navorgenhet" xmlns:bons3="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault" xmlns:tns="http://nav-cons-pen-psak-navorgenhet/no/nav/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault/navorgenhet" schemaLocation="../lib/pen/psakpselv/fault/navorgenhet/FaultPenPersonManglerEnhet.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/navorgenhet" schemaLocation="../lib/pen/psakpselv/asbo/navorgenhet/ASBOPenHentForvaltningsenhetTilPersonListeRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/navorgenhet" schemaLocation="../lib/pen/psakpselv/asbo/navorgenhet/ASBOPenFinnArenaNAVEnhetListeRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault" schemaLocation="../lib/pen/psakpselv/fault/FaultPenPersonIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/navorgenhet" schemaLocation="../lib/pen/psakpselv/asbo/navorgenhet/ASBOPenNAVEnhet.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/navorgenhet" schemaLocation="../lib/pen/psakpselv/asbo/navorgenhet/ASBOPenHentSpesialEnhetTilPersonRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/navorgenhet" schemaLocation="../lib/pen/psakpselv/asbo/navorgenhet/ASBOPenFinnNAVEnhetRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/navorgenhet" schemaLocation="../lib/pen/psakpselv/asbo/navorgenhet/ASBOPenNAVEnhetListe.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/navorgenhet" schemaLocation="../lib/pen/psakpselv/asbo/navorgenhet/ASBOPenHentNAVEnhetListeRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault/navorgenhet" schemaLocation="../lib/pen/psakpselv/fault/navorgenhet/FaultPenNAVEnhetIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault" schemaLocation="../lib/pen/psakpselv/fault/FaultPenGenerisk.xsd"/>
      <xsd:element name="hentNAVEnhet">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVEnhetRequest" nillable="true" type="bons1:ASBOPenNAVEnhet"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNAVEnhetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVEnhetResponse" nillable="true" type="bons1:ASBOPenNAVEnhet"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNAVEnhetListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVEnhetListeRequest" nillable="true" type="bons1:ASBOPenHentNAVEnhetListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNAVEnhetListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVEnhetListeResponse" nillable="true" type="bons1:ASBOPenNAVEnhetListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNAVEnhetGruppeListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVEnhetGruppeListeRequest" nillable="true" type="bons1:ASBOPenNAVEnhet"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNAVEnhetGruppeListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentNAVEnhetGruppeListeResponse" nillable="true" type="bons1:ASBOPenNAVEnhetListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSpesialenhetTilPerson">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSpesialenhetTilPersonRequest" nillable="true" type="bons1:ASBOPenHentSpesialEnhetTilPersonRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSpesialenhetTilPersonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSpesialenhetTilPersonResponse" nillable="true" type="bons1:ASBOPenNAVEnhetListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnNAVEnhet">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnNAVEnhetRequest" nillable="true" type="bons1:ASBOPenFinnNAVEnhetRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnNAVEnhetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnNAVEnhetResponse" nillable="true" type="bons1:ASBOPenNAVEnhetListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentNAVEnhet_faultPenNAVEnhetIkkeFunnet" type="bons2:FaultPenNAVEnhetIkkeFunnet"/>
      <xsd:element name="hentNAVEnhet_faultPenGenerisk" type="bons3:FaultPenGenerisk"/>
      <xsd:element name="hentNAVEnhetListe_faultPenNAVEnhetIkkeFunnet" type="bons2:FaultPenNAVEnhetIkkeFunnet"/>
      <xsd:element name="hentNAVEnhetListe_faultPenGenerisk" type="bons3:FaultPenGenerisk"/>
      <xsd:element name="hentNAVEnhetGruppeListe_faultPenNAVEnhetIkkeFunnet" type="bons2:FaultPenNAVEnhetIkkeFunnet"/>
      <xsd:element name="hentNAVEnhetGruppeListe_faultPenGenerisk" type="bons3:FaultPenGenerisk"/>
      <xsd:element name="hentSpesialenhetTilPerson_faultPenPersonIkkeFunnet" type="bons3:FaultPenPersonIkkeFunnet"/>
      <xsd:element name="hentSpesialenhetTilPerson_faultPenNAVEnhetIkkeFunnet" type="bons2:FaultPenNAVEnhetIkkeFunnet"/>
      <xsd:element name="hentSpesialenhetTilPerson_faultPenGenerisk" type="bons3:FaultPenGenerisk"/>
      <xsd:element name="finnNAVEnhet_faultPenGenerisk" type="bons3:FaultPenGenerisk"/>
            <xsd:element name="finnArenaNAVEnhetListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnArenaNAVEnhetListeRequest" nillable="true" type="bons1:ASBOPenFinnArenaNAVEnhetListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="finnArenaNAVEnhetListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnArenaNAVEnhetListeResponse" nillable="true" type="bons1:ASBOPenNAVEnhetListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentForvaltningsenhetTilPersonListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentForvaltningsenhetTilPersonListeRequest" nillable="true" type="bons1:ASBOPenHentForvaltningsenhetTilPersonListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentForvaltningsenhetTilPersonListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentForvaltningsenhetTilPersonListeResponse" nillable="true" type="bons1:ASBOPenNAVEnhetListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="FaultPenPersonManglerEnhet_element" nillable="true" type="bons2:FaultPenPersonManglerEnhet"/>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentNAVEnhetRequestMsg">
    <wsdl:part element="tns:hentNAVEnhet" name="hentNAVEnhetParameters"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhetResponseMsg">
    <wsdl:part element="tns:hentNAVEnhetResponse" name="hentNAVEnhetResult"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhetListeRequestMsg">
    <wsdl:part element="tns:hentNAVEnhetListe" name="hentNAVEnhetListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhetListeResponseMsg">
    <wsdl:part element="tns:hentNAVEnhetListeResponse" name="hentNAVEnhetListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhetGruppeListeRequestMsg">
    <wsdl:part element="tns:hentNAVEnhetGruppeListe" name="hentNAVEnhetGruppeListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhetGruppeListeResponseMsg">
    <wsdl:part element="tns:hentNAVEnhetGruppeListeResponse" name="hentNAVEnhetGruppeListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentSpesialenhetTilPersonRequestMsg">
    <wsdl:part element="tns:hentSpesialenhetTilPerson" name="hentSpesialenhetTilPersonParameters"/>
  </wsdl:message>
    <wsdl:message name="hentSpesialenhetTilPersonResponseMsg">
    <wsdl:part element="tns:hentSpesialenhetTilPersonResponse" name="hentSpesialenhetTilPersonResult"/>
  </wsdl:message>
    <wsdl:message name="finnNAVEnhetRequestMsg">
    <wsdl:part element="tns:finnNAVEnhet" name="finnNAVEnhetParameters"/>
  </wsdl:message>
    <wsdl:message name="finnNAVEnhetResponseMsg">
    <wsdl:part element="tns:finnNAVEnhetResponse" name="finnNAVEnhetResult"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhet_faultPenNAVEnhetIkkeFunnetMsg">
    <wsdl:part element="tns:hentNAVEnhet_faultPenNAVEnhetIkkeFunnet" name="faultPenNAVEnhetIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhet_faultPenGeneriskMsg">
    <wsdl:part element="tns:hentNAVEnhet_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhetListe_faultPenNAVEnhetIkkeFunnetMsg">
    <wsdl:part element="tns:hentNAVEnhetListe_faultPenNAVEnhetIkkeFunnet" name="faultPenNAVEnhetIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhetListe_faultPenGeneriskMsg">
    <wsdl:part element="tns:hentNAVEnhetListe_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhetGruppeListe_faultPenNAVEnhetIkkeFunnetMsg">
    <wsdl:part element="tns:hentNAVEnhetGruppeListe_faultPenNAVEnhetIkkeFunnet" name="faultPenNAVEnhetIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentNAVEnhetGruppeListe_faultPenGeneriskMsg">
    <wsdl:part element="tns:hentNAVEnhetGruppeListe_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentSpesialenhetTilPerson_faultPenPersonIkkeFunnetMsg">
    <wsdl:part element="tns:hentSpesialenhetTilPerson_faultPenPersonIkkeFunnet" name="faultPenPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentSpesialenhetTilPerson_faultPenNAVEnhetIkkeFunnetMsg">
    <wsdl:part element="tns:hentSpesialenhetTilPerson_faultPenNAVEnhetIkkeFunnet" name="faultPenNAVEnhetIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentSpesialenhetTilPerson_faultPenGeneriskMsg">
    <wsdl:part element="tns:hentSpesialenhetTilPerson_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="finnNAVEnhet_faultPenGeneriskMsg">
    <wsdl:part element="tns:finnNAVEnhet_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="finnArenaNAVEnhetListeRequestMsg">
    <wsdl:part element="tns:finnArenaNAVEnhetListe" name="finnArenaNAVEnhetListeParameters"/>
  </wsdl:message>
    <wsdl:message name="finnArenaNAVEnhetListeResponseMsg">
    <wsdl:part element="tns:finnArenaNAVEnhetListeResponse" name="finnArenaNAVEnhetListeResult"/>
  </wsdl:message>
    <wsdl:message name="finnArenaNAVEnhetListe_faultPenGeneriskMsg">
    <wsdl:part element="tns:hentNAVEnhet_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentForvaltningsenhetTilPersonListeRequestMsg">
    <wsdl:part element="tns:hentForvaltningsenhetTilPersonListe" name="hentForvaltningsenhetTilPersonListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentForvaltningsenhetTilPersonListeResponseMsg">
    <wsdl:part element="tns:hentForvaltningsenhetTilPersonListeResponse" name="hentForvaltningsenhetTilPersonListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentForvaltningsenhetTilPersonListe_faultPenPersonIkkeFunnetMsg">
    <wsdl:part element="tns:hentSpesialenhetTilPerson_faultPenPersonIkkeFunnet" name="faultPenPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentForvaltningsenhetTilPersonListe_faultPenNAVEnhetIkkeFunnetMsg">
    <wsdl:part element="tns:hentNAVEnhet_faultPenNAVEnhetIkkeFunnet" name="faultPenNAVEnhetIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="hentForvaltningsenhetTilPersonListe_faultPenPersonManglerEnhetMsg">
    <wsdl:part element="tns:FaultPenPersonManglerEnhet_element" name="faultPenPersonManglerEnhet"/>
  </wsdl:message>
    <wsdl:portType name="PSAKNAVOrgEnhet">
    <wsdl:operation name="hentNAVEnhet">
      <wsdl:input message="tns:hentNAVEnhetRequestMsg" name="hentNAVEnhetRequest"/>
      <wsdl:output message="tns:hentNAVEnhetResponseMsg" name="hentNAVEnhetResponse"/>
      <wsdl:fault message="tns:hentNAVEnhet_faultPenNAVEnhetIkkeFunnetMsg" name="faultPenNAVEnhetIkkeFunnet"/>
      <wsdl:fault message="tns:hentNAVEnhet_faultPenGeneriskMsg" name="faultPenGenerisk"/>
    </wsdl:operation>
    <wsdl:operation name="hentNAVEnhetListe">
      <wsdl:input message="tns:hentNAVEnhetListeRequestMsg" name="hentNAVEnhetListeRequest"/>
      <wsdl:output message="tns:hentNAVEnhetListeResponseMsg" name="hentNAVEnhetListeResponse"/>
      <wsdl:fault message="tns:hentNAVEnhetListe_faultPenNAVEnhetIkkeFunnetMsg" name="faultPenNAVEnhetIkkeFunnet"/>
      <wsdl:fault message="tns:hentNAVEnhetListe_faultPenGeneriskMsg" name="faultPenGenerisk"/>
    </wsdl:operation>
    <wsdl:operation name="hentNAVEnhetGruppeListe">
      <wsdl:input message="tns:hentNAVEnhetGruppeListeRequestMsg" name="hentNAVEnhetGruppeListeRequest"/>
      <wsdl:output message="tns:hentNAVEnhetGruppeListeResponseMsg" name="hentNAVEnhetGruppeListeResponse"/>
      <wsdl:fault message="tns:hentNAVEnhetGruppeListe_faultPenNAVEnhetIkkeFunnetMsg" name="faultPenNAVEnhetIkkeFunnet"/>
      <wsdl:fault message="tns:hentNAVEnhetGruppeListe_faultPenGeneriskMsg" name="faultPenGenerisk"/>
    </wsdl:operation>
    <wsdl:operation name="hentSpesialenhetTilPerson">
      <wsdl:input message="tns:hentSpesialenhetTilPersonRequestMsg" name="hentSpesialenhetTilPersonRequest"/>
      <wsdl:output message="tns:hentSpesialenhetTilPersonResponseMsg" name="hentSpesialenhetTilPersonResponse"/>
      <wsdl:fault message="tns:hentSpesialenhetTilPerson_faultPenPersonIkkeFunnetMsg" name="faultPenPersonIkkeFunnet"/>
      <wsdl:fault message="tns:hentSpesialenhetTilPerson_faultPenNAVEnhetIkkeFunnetMsg" name="faultPenNAVEnhetIkkeFunnet"/>
      <wsdl:fault message="tns:hentSpesialenhetTilPerson_faultPenGeneriskMsg" name="faultPenGenerisk"/>
    </wsdl:operation>
    <wsdl:operation name="finnNAVEnhet">
      <wsdl:input message="tns:finnNAVEnhetRequestMsg" name="finnNAVEnhetRequest"/>
      <wsdl:output message="tns:finnNAVEnhetResponseMsg" name="finnNAVEnhetResponse"/>
      <wsdl:fault message="tns:finnNAVEnhet_faultPenGeneriskMsg" name="faultPenGenerisk"/>
    </wsdl:operation>
        <wsdl:operation name="finnArenaNAVEnhetListe">
      <wsdl:input message="tns:finnArenaNAVEnhetListeRequestMsg" name="finnArenaNAVEnhetListeRequest"/>
      <wsdl:output message="tns:finnArenaNAVEnhetListeResponseMsg" name="finnArenaNAVEnhetListeResponse"/>
      <wsdl:fault message="tns:finnArenaNAVEnhetListe_faultPenGeneriskMsg" name="faultPenGenerisk"/>
    </wsdl:operation>
        <wsdl:operation name="hentForvaltningsenhetTilPersonListe">
      <wsdl:input message="tns:hentForvaltningsenhetTilPersonListeRequestMsg" name="hentForvaltningsenhetTilPersonListeRequest"/>
      <wsdl:output message="tns:hentForvaltningsenhetTilPersonListeResponseMsg" name="hentForvaltningsenhetTilPersonListeResponse"/>
      <wsdl:fault message="tns:hentForvaltningsenhetTilPersonListe_faultPenPersonIkkeFunnetMsg" name="faultPenPersonIkkeFunnet"/>
      <wsdl:fault message="tns:hentForvaltningsenhetTilPersonListe_faultPenNAVEnhetIkkeFunnetMsg" name="faultPenNAVEnhetIkkeFunnet"/>
            <wsdl:fault message="tns:hentForvaltningsenhetTilPersonListe_faultPenPersonManglerEnhetMsg" name="faultPenPersonManglerEnhet"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
