psak-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/inf/PSAKSamhandler.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault" xmlns:bons2="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault/samhandler" xmlns:bons3="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/samhandler" xmlns:bons4="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/samhandler" xmlns:bons5="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:tns="http://nav-cons-pen-psak-samhandler/no/nav/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PSAKSamhandler" targetNamespace="http://nav-cons-pen-psak-samhandler/no/nav/inf">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav-cons-pen-psak-samhandler/no/nav/inf" xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault" xmlns:bons2="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault/samhandler" xmlns:bons3="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/samhandler" xmlns:bons4="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/samhandler" xmlns:bons5="http://nav-lib-frg/no/nav/lib/frg/gbo" xmlns:tns="http://nav-cons-pen-psak-samhandler/no/nav/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/samhandler" schemaLocation="../lib/pen/psakpselv/asbo/samhandler/ASBOPenFinnSamhandlerRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/samhandler" schemaLocation="../lib/pen/psakpselv/asbo/samhandler/ASBOPenHentSamhandlerRequest.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/samhandler" schemaLocation="../lib/pen/psakpselv/asbo/samhandler/ASBOPenSamhandlerListe.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault/samhandler" schemaLocation="../lib/pen/psakpselv/fault/samhandler/FaultPenOffentligIdIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault/samhandler" schemaLocation="../lib/pen/psakpselv/fault/samhandler/FaultPenSamhandlerIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault" schemaLocation="../lib/pen/psakpselv/fault/FaultPenGenerisk.xsd"/>
            <xsd:element name="hentSamhandler">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSamhandlerRequest" nillable="true" type="bons3:ASBOPenHentSamhandlerRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSamhandlerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSamhandlerResponse" nillable="true" type="bons3:ASBOPenSamhandler"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSamhandler_faultPenGenerisk" type="bons1:FaultPenGenerisk"/>
      <xsd:element name="hentSamhandler_faultPenSamhandlerIkkeFunnet" type="bons2:FaultPenSamhandlerIkkeFunnet"/>
      <xsd:element name="lagreSamhandler">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreSamhandlerRequest" nillable="true" type="bons3:ASBOPenSamhandler"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreSamhandlerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreSamhandlerResponse" nillable="true" type="bons3:ASBOPenSamhandler"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lagreSamhandler_faultPenGenerisk" type="bons1:FaultPenGenerisk"/>
      <xsd:element name="lagreSamhandler_faultPenSamhandlerIkkeFunnet" type="bons2:FaultPenSamhandlerIkkeFunnet"/>
      <xsd:element name="opprettSamhandler">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettSamhandlerRequest" nillable="true" type="bons3:ASBOPenSamhandler"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettSamhandlerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettSamhandlerResponse" nillable="true" type="bons3:ASBOPenSamhandler"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="opprettSamhandler_faultPenGenerisk" type="bons1:FaultPenGenerisk"/>
      <xsd:element name="opprettSamhandler_faultPenOffentligIdIkkeFunnet" type="bons2:FaultPenOffentligIdIkkeFunnet"/>
      <xsd:element name="finnSamhandler">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnSamhandlerRequest" nillable="true" type="bons3:ASBOPenFinnSamhandlerRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnSamhandlerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnSamhandlerResponse" nillable="true" type="bons3:ASBOPenSamhandlerListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnSamhandler_faultPenGenerisk" type="bons1:FaultPenGenerisk"/>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentSamhandlerRequestMsg">
    <wsdl:part element="tns:hentSamhandler" name="hentSamhandlerParameters"/>
  </wsdl:message>
    <wsdl:message name="hentSamhandlerResponseMsg">
    <wsdl:part element="tns:hentSamhandlerResponse" name="hentSamhandlerResult"/>
  </wsdl:message>
    <wsdl:message name="hentSamhandler_faultPenGeneriskMsg">
    <wsdl:part element="tns:hentSamhandler_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentSamhandler_faultPenSamhandlerIkkeFunnetMsg">
    <wsdl:part element="tns:hentSamhandler_faultPenSamhandlerIkkeFunnet" name="faultPenSamhandlerIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreSamhandlerRequestMsg">
    <wsdl:part element="tns:lagreSamhandler" name="lagreSamhandlerParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreSamhandlerResponseMsg">
    <wsdl:part element="tns:lagreSamhandlerResponse" name="lagreSamhandlerResult"/>
  </wsdl:message>
    <wsdl:message name="lagreSamhandler_faultPenGeneriskMsg">
    <wsdl:part element="tns:lagreSamhandler_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="lagreSamhandler_faultPenSamhandlerIkkeFunnetMsg">
    <wsdl:part element="tns:lagreSamhandler_faultPenSamhandlerIkkeFunnet" name="faultPenSamhandlerIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="opprettSamhandlerRequestMsg">
    <wsdl:part element="tns:opprettSamhandler" name="opprettSamhandlerParameters"/>
  </wsdl:message>
    <wsdl:message name="opprettSamhandlerResponseMsg">
    <wsdl:part element="tns:opprettSamhandlerResponse" name="opprettSamhandlerResult"/>
  </wsdl:message>
    <wsdl:message name="opprettSamhandler_faultPenGeneriskMsg">
    <wsdl:part element="tns:opprettSamhandler_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="opprettSamhandler_faultPenOffentligIdIkkeFunnetMsg">
    <wsdl:part element="tns:opprettSamhandler_faultPenOffentligIdIkkeFunnet" name="faultPenOffentligIdIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="finnSamhandlerRequestMsg">
    <wsdl:part element="tns:finnSamhandler" name="finnSamhandlerParameters"/>
  </wsdl:message>
    <wsdl:message name="finnSamhandlerResponseMsg">
    <wsdl:part element="tns:finnSamhandlerResponse" name="finnSamhandlerResult"/>
  </wsdl:message>
    <wsdl:message name="finnSamhandler_faultPenGeneriskMsg">
    <wsdl:part element="tns:finnSamhandler_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:portType name="PSAKSamhandler">
    <wsdl:operation name="hentSamhandler">
      <wsdl:input message="tns:hentSamhandlerRequestMsg" name="hentSamhandlerRequest"/>
      <wsdl:output message="tns:hentSamhandlerResponseMsg" name="hentSamhandlerResponse"/>
      <wsdl:fault message="tns:hentSamhandler_faultPenGeneriskMsg" name="faultPenGenerisk"/>
      <wsdl:fault message="tns:hentSamhandler_faultPenSamhandlerIkkeFunnetMsg" name="faultPenSamhandlerIkkeFunnet"/>
    </wsdl:operation>
    <wsdl:operation name="lagreSamhandler">
      <wsdl:input message="tns:lagreSamhandlerRequestMsg" name="lagreSamhandlerRequest"/>
      <wsdl:output message="tns:lagreSamhandlerResponseMsg" name="lagreSamhandlerResponse"/>
      <wsdl:fault message="tns:lagreSamhandler_faultPenGeneriskMsg" name="faultPenGenerisk"/>
      <wsdl:fault message="tns:lagreSamhandler_faultPenSamhandlerIkkeFunnetMsg" name="faultPenSamhandlerIkkeFunnet"/>
    </wsdl:operation>
    <wsdl:operation name="opprettSamhandler">
      <wsdl:input message="tns:opprettSamhandlerRequestMsg" name="opprettSamhandlerRequest"/>
      <wsdl:output message="tns:opprettSamhandlerResponseMsg" name="opprettSamhandlerResponse"/>
      <wsdl:fault message="tns:opprettSamhandler_faultPenGeneriskMsg" name="faultPenGenerisk"/>
      <wsdl:fault message="tns:opprettSamhandler_faultPenOffentligIdIkkeFunnetMsg" name="faultPenOffentligIdIkkeFunnet"/>
    </wsdl:operation>
    <wsdl:operation name="finnSamhandler">
      <wsdl:input message="tns:finnSamhandlerRequestMsg" name="finnSamhandlerRequest"/>
      <wsdl:output message="tns:finnSamhandlerResponseMsg" name="finnSamhandlerResponse"/>
      <wsdl:fault message="tns:finnSamhandler_faultPenGeneriskMsg" name="faultPenGenerisk"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
