psak-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/inf/PSAKPPEN015.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="PSAKPPEN015" targetNamespace="http://nav-cons-pen-psak-ppen015/no/nav/inf/PSAKPPEN015" xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/ppen015" xmlns:tns="http://nav-cons-pen-psak-ppen015/no/nav/inf/PSAKPPEN015" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://nav-cons-pen-psak-ppen015/no/nav/inf/PSAKPPEN015">
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/ppen015" schemaLocation="../lib/pen/psakpselv/asbo/ppen015/ASBOPSAKPPEN015Request.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/ppen015" schemaLocation="../lib/pen/psakpselv/asbo/ppen015/ASBOPSAKPPEN015Response.xsd"/>
      <xsd:element name="iverksettVedtak">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="iverksettVedtakRequest" nillable="true" type="bons1:ASBOPSAKPPEN015Request"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="iverksettVedtakResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="iverksettVedtakResponse" nillable="true" type="bons1:ASBOPSAKPPEN015Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="iverksettVedtakRequestMsg">
    <wsdl:part element="tns:iverksettVedtak" name="iverksettVedtakParameters"/>
  </wsdl:message>
    <wsdl:message name="iverksettVedtakResponseMsg">
    <wsdl:part element="tns:iverksettVedtakResponse" name="iverksettVedtakResult"/>
  </wsdl:message>
    <wsdl:portType name="PSAKPPEN015">
    <wsdl:operation name="iverksettVedtak">
      <wsdl:input message="tns:iverksettVedtakRequestMsg" name="iverksettVedtakRequest"/>
      <wsdl:output message="tns:iverksettVedtakResponseMsg" name="iverksettVedtakResponse"/>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>