psak-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/inf/PSAKDokBrev.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/dokbrev" xmlns:bons2="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/brev" xmlns:tns="http://nav-cons-pen-psak-dokbrev/no/nav/inf/PSAKDokBrev" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PSAKDokBrev" targetNamespace="http://nav-cons-pen-psak-dokbrev/no/nav/inf/PSAKDokBrev">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav-cons-pen-psak-dokbrev/no/nav/inf/PSAKDokBrev" xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/dokbrev" xmlns:bons2="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/brev" xmlns:tns="http://nav-cons-pen-psak-dokbrev/no/nav/inf/PSAKDokBrev" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/brev" schemaLocation="../lib/pen/psakpselv/asbo/brev/ASBOPenHentBrevklientURLResponse.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/brev" schemaLocation="../lib/pen/psakpselv/asbo/brev/ASBOPenHentBrevklientURLRequest.xsd"/>
            <xsd:element name="hentBrevklientURL">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentBrevklientURLRequest" nillable="true" type="bons2:ASBOPenHentBrevklientURLRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentBrevklientURLResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentBrevklientURLResponse" nillable="true" type="bons2:ASBOPenHentBrevklientURLResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentBrevklientURLRequestMsg">
    <wsdl:part element="tns:hentBrevklientURL" name="hentBrevklientURLParameters"/>
  </wsdl:message>
    <wsdl:message name="hentBrevklientURLResponseMsg">
    <wsdl:part element="tns:hentBrevklientURLResponse" name="hentBrevklientURLResult"/>
  </wsdl:message>
    <wsdl:portType name="PSAKDokBrev">
        <wsdl:operation name="hentBrevklientURL">
      <wsdl:input message="tns:hentBrevklientURLRequestMsg" name="hentBrevklientURLRequest"/>
      <wsdl:output message="tns:hentBrevklientURLResponseMsg" name="hentBrevklientURLResponse"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
