psak-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/inf/PSAKInfotrygdsak.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/arenasak" xmlns:bons2="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault" xmlns:bons4="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault/arenasak" xmlns:bons5="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" xmlns:tns="http://nav-cons-pen-psak-infotrygdsak/no/nav/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PSAKInfotrygdsak" targetNamespace="http://nav-cons-pen-psak-infotrygdsak/no/nav/inf">
  <wsdl:types>
    <xsd:schema xmlns:bons0="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/infotrygdsak" xmlns:bons3="http://nav-lib-sah/no/nav/lib/sah/fault" targetNamespace="http://nav-cons-pen-psak-infotrygdsak/no/nav/inf" xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/arenasak" xmlns:bons2="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault" xmlns:bons4="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault/arenasak" xmlns:bons5="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" xmlns:tns="http://nav-cons-pen-psak-infotrygdsak/no/nav/inf" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" schemaLocation="../lib/pen/psakpselv/asbo/ASBOPenSaksInfoListe.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault" schemaLocation="../lib/pen/psakpselv/fault/FaultPenGenerisk.xsd"/>
            <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/fault" schemaLocation="../lib/pen/psakpselv/fault/FaultPenPersonIkkeFunnet.xsd"/>
            <xsd:element name="hentSaksInfoListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSaksInfoListeRequest" nillable="true" type="bons5:ASBOPenSaksInfo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSaksInfoListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentSaksInfoListeResponse" nillable="true" type="bons5:ASBOPenSaksInfoListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentSaksInfoListe_faultPenGenerisk" type="bons2:FaultPenGenerisk"/>
            <xsd:element name="hentSaksInfoListe_faultPenPersonIkkeFunnet" type="bons2:FaultPenPersonIkkeFunnet"/>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentSaksInfoListeRequestMsg">
    <wsdl:part element="tns:hentSaksInfoListe" name="hentSaksInfoListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentSaksInfoListeResponseMsg">
    <wsdl:part element="tns:hentSaksInfoListeResponse" name="hentSaksInfoListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentSaksInfoListe_faultPenGeneriskMsg">
    <wsdl:part element="tns:hentSaksInfoListe_faultPenGenerisk" name="faultPenGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentSaksInfoListe_faultPenPersonIkkeFunnetMsg">
    <wsdl:part element="tns:hentSaksInfoListe_faultPenPersonIkkeFunnet" name="faultPenPersonIkkeFunnet"/>
  </wsdl:message>
    <wsdl:portType name="PSAKInfotrygdsak">
    <wsdl:operation name="hentSaksInfoListe">
      <wsdl:input message="tns:hentSaksInfoListeRequestMsg" name="hentSaksInfoListeRequest"/>
      <wsdl:output message="tns:hentSaksInfoListeResponseMsg" name="hentSaksInfoListeResponse"/>
      <wsdl:fault message="tns:hentSaksInfoListe_faultPenGeneriskMsg" name="faultPenGenerisk"/>
            <wsdl:fault message="tns:hentSaksInfoListe_faultPenPersonIkkeFunnetMsg" name="faultPenPersonIkkeFunnet"/>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
