psak-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/navorgenhet/ASBOPenFinnArenaNAVEnhetListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/navorgenhet">
	<xsd:complexType name="ASBOPenFinnArenaNAVEnhetListeRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="enhetNavnSokeStreng" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="enhetIdSokeStreng" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="maxantall" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
