psak-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/navorgenhet/ASBOPenNAVEnhet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Q1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/navorgenhet" xmlns:bons2="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/navorgenhet">
    <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" schemaLocation="../ASBOPenUnderkategori.xsd"/>
    <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" schemaLocation="../ASBOPenFagomrade.xsd"/>
    <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" schemaLocation="../ASBOPenAdresse.xsd"/>
    <xsd:complexType name="ASBOPenNAVEnhet">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="enhetsId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="enhetsNavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="orgEnhetsId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="orgNivaKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="versjon" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="adresser" type="bons2:ASBOPenAdresse"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="fagomrader" type="bons2:ASBOPenFagomrade"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="underkategorier" type="bons2:ASBOPenUnderkategori"/>
            <xsd:element minOccurs="0" name="organisertUnder" type="Q1:ASBOPenNAVEnhet"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
