psak-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/trekk/ASBOPenMaksbelop.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/trekk" xmlns:bons2="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/trekk">
    <xsd:import namespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo" schemaLocation="../ASBOPenEndringsInfo.xsd"/>
    <xsd:complexType name="ASBOPenMaksbelop">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="belopMax" nillable="true" type="xsd:double"/>
      <xsd:element minOccurs="0" name="periodeKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="gyldig" nillable="true" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="endringsInfo" type="bons2:ASBOPenEndringsInfo"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
