nav-bsrv-sah-brevbestilling-legacy/src/main/resources/no/nav/domene/pensjon/tjenester/krav/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://nav.no/domene/pensjon/tjenester/krav/meldinger/v1" version="1.1" xmlns:felles="http://nav.no/domene/pensjon/felles/v1" xmlns:krav="http://nav.no/domene/pensjon/krav/v1" xmlns:meldinger="http://nav.no/domene/pensjon/tjenester/krav/meldinger/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://nav.no/domene/pensjon/felles/v1" schemaLocation="../../../felles/felles.xsd"/>
  <xsd:import namespace="http://nav.no/domene/pensjon/krav/v1" schemaLocation="../../../krav/krav.xsd"/>
  <xsd:complexType name="OverforTilbakekrevingskravTilManuellBehandlingRequest">
    <xsd:sequence>
      <xsd:element name="kravId" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Krav som skal overføres til delautomatisk behandling&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="nyBeskrivelseOppgave" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;En tekst som brukes til å identifisere ny oppgavetekst.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentKontrollpunktListeRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kontrollpunkt" type="krav:Kontrollpunkt"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentKontrollpunktListeUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="HentKontrollpunktListeResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kontrollpunktListe" type="krav:Kontrollpunkt"/>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:HentKontrollpunktListeUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpprettKontrollpunktRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kontrollpunkt" type="krav:Kontrollpunkt">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kontrollpunktet som skal opprettes&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpprettKontrollpunktUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OpprettKontrollpunktResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kontrollpunkt" type="krav:Kontrollpunkt">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kontrollpunktet som ble opprettet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:OpprettKontrollpunktUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HenleggKravRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kravId" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Krav som skal henlegges&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentKravForRelatertPersonRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik identifikator for bruker som det skal sjekkes for om er  vurdert som ektefelle/partner/samboer/barn i grunnlaget for et krav&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="datoGyldig" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Dato for når bruker må ha en gyldig rolle som E/P/S/B. Hvis identifisert krav har et vedtak tilknyttet seg, så må dette være løpende ved denne datoen, eller senere&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentKravForRelatertPersonUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="HentKravForRelatertPersonResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kravIdListe" type="krav:KravIdListe">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Liste over kravIDér for krav hvor bruker med input fnr er vurdert som E/P/S/B i grunnlaget&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:HentKravForRelatertPersonUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OverforKravTilManuellBehandlingRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kravId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Krav som skal henlegges&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kontrollpunktTypeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kode som klassifiserer kontrollpunktet på bakgrunn av hvilken kontekst det er opprettet i.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentKravRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kravId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikator til kravet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="hentKravlinjer" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Flagg som angir om relaterte kravlinjer skal returneres sammen med kravhodene.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentKravResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="krav" type="krav:Kravhode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TjenestedirektivUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Tjenestedirektiv">
    <xsd:sequence>
      <xsd:element name="returmengde" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Beskriver hvordan returobjektet skal være populert.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;table border="1"&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;&lt;b&gt;FetchSet&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;&lt;b&gt;Beskrivelse&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;ID_ONLY&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Returnerer kravhoder med kun kravhode.kravId populert&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;ENTITY_ONLY&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Returnerer kravhoder uten underliggende objekter&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;KRAVHODER_MED_KRAVLINJER&lt;b&gt;&lt;/b&gt;&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Som ENTITY_ONLY, med unntak av at kravlinjer i tillegg skal returneres. &lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="antall" nillable="true" type="xsd:int"/>
      <xsd:element form="qualified" minOccurs="0" name="startRad" type="xsd:int"/>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:TjenestedirektivUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentKravListeRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik identifikasjon (enten fødsels- eller d-nummer) av personen det skal hentes ut en kravliste for.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="enhetId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik identifikasjon av enhet det skal hentes ut kravliste for&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kravGjelderKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kodeverdi for filtrering på kravGjelder-feltet på kravet.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="statusListe" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Liste med alle statusverdier som skal hentes ut. Dersom ikke satt returneres krav med alle status. &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sakTypeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kodeverdi for filtrering på sakstypen til saken kravet er knyttet til.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="behandlendeEnhetId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Den behandlende enheten på kravet. Dette kan være enten enheten som er eierenhet eller enhetene som har midlertidig autorisasjon. &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="opprettetFom" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Parameter for å filtrere listen av krav på kravets opprettelsesdato. Benytter Kravhode.changestamp.dato_opprettet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="opprettetTom" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Parameter for å filtrere listen av krav på kravets opprettelsesdato. Benytter Kravhode.changestamp.dato_opprettet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tjenesteDirektiv" type="meldinger:Tjenestedirektiv">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kompleks type Tjenestedirektiv, beskriver hvordan returobjektet skal behandles før det returneres&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentKravListeUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="HentKravListeResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kravListe" type="krav:Kravhode">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Liste av kompleks type Kravhode. Populert ihht. returmengde i input.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:HentKravListeUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KontrollerInstitusjonsoppholdRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kravId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikasjon av kravet som skal kontrolleres&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KontrollerInstitusjonsoppholdUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="KontrollerInstitusjonsoppholdResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="relevantInstOpphold" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Et flagg hvor true tilsier at det finnes relevante institusjonsopphold og false tilsier at det ikke gjør det. &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:KontrollerInstitusjonsoppholdUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KontrollerKravOgKompletterGrunnlagRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kravId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Iden til kravet som skal kontrolleres og kompletteres.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KontrollerKravOgKompletterGrunnlagUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="KontrollerKravOgKompletterGrunnlagResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kontrollpunktListe" type="krav:Kontrollpunkt">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Liste av kompleks type Kontrollpunkt, inneholder eventuelle kontrollpunkter som ble opprettet i forbindelse med kontrollen. Hvis kontrollen var ok returneres en tom liste.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:KontrollerKravOgKompletterGrunnlagUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KontrollerUtlandsoppholdRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kravId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikasjon av kravet som skal kontrolleres&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KontrollerUtlandsoppholdUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="KontrollerUtlandsoppholdResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="boddArbUtland" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Returnerer true dersom det er indikasjoner på at bruker har bodd eller arbeidet i utland. Dersom det ikke finnes indikasjoner på dette returnerer tjenesten false.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:KontrollerUtlandsoppholdUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SettBehandlingstypeRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kravId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Unik identifikasjon av kravet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="behandlingstypeKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kode som angir behandlingstype f eks automatisk, manuell osv&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KontrollerSamletUttaksgradRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kravId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikasjon av det eksisterende kravet som skal kontrolleres.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KontrollerSamletUttaksgradUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="KontrollerSamletUttaksgradResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="samletGradOverstiger100Prosent" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om en samlet grad (UP + AP) er over 100 prosent (true) eller ikke (false)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:KontrollerSamletUttaksgradUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>