psak-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/henvendelse/ASBOPenHentStatistikkRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/henvendelse">
  <xsd:complexType name="ASBOPenHentStatistikkRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="enhet" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fagomrade" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tidsperiode" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
