psak-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/person/ASBOPenFodselsdatosokRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/person">
  <xsd:complexType name="ASBOPenFodselsdatosokRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fodselsdato" type="xsd:date"/>
      <xsd:element minOccurs="0" name="kjonn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="navEnhet" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
