psak-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/person/ASBOPenFinnPersonResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://nav-lib-cons-pen/no/nav/lib/frg/asbo" xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/person" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/person">
    <xsd:include schemaLocation="ASBOPenPersonListe.xsd"/>
    <xsd:complexType name="ASBOPenFinnPersonResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="flereTreff" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="buffNr" type="xsd:string"/>
            <xsd:element minOccurs="0" name="personer" type="bons1:ASBOPenPersonListe"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
