psak-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/person/ASBOPenUtlandHistorikk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/person"
	xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/person">
	<xsd:include schemaLocation="ASBOPenHistorikkInfo.xsd"></xsd:include>
	<xsd:include schemaLocation="ASBOPenPerson.xsd"></xsd:include>
	<xsd:complexType name="ASBOPenUtlandHistorikk">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="person"
				type="bons1:ASBOPenPerson">
			</xsd:element>
			<xsd:element minOccurs="0" name="statsborgerskapListe"
				type="bons1:ASBOPenHistorikkInfo" maxOccurs="unbounded">
			</xsd:element>
			<xsd:element minOccurs="0" name="oppholdstillatelseListe"
				type="bons1:ASBOPenHistorikkInfo" maxOccurs="unbounded">
			</xsd:element>
			<xsd:element minOccurs="0" name="arbeidstillatelseListe"
				type="bons1:ASBOPenHistorikkInfo" maxOccurs="unbounded">
			</xsd:element>
			<xsd:element minOccurs="0" name="innvandringListe"
				type="bons1:ASBOPenHistorikkInfo" maxOccurs="unbounded">
			</xsd:element>
			<xsd:element minOccurs="0" name="utvandringListe"
				type="bons1:ASBOPenHistorikkInfo" maxOccurs="unbounded">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
