psak-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/person/ASBOPenNorskKonto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/person">
  <xsd:complexType name="ASBOPenNorskKonto">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kontonummer" type="xsd:string"/>
            <xsd:element minOccurs="0" name="endretAv" type="xsd:string"/>
            <xsd:element minOccurs="0" name="endretAvSystem" type="xsd:string"/>
            <xsd:element minOccurs="0" name="endretTidspunkt" type="xsd:date"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
