pcom-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/oppdrag/ASBOPenAvstemmingtransaksjon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-cons-pen-pen-batch-oppdrag/no/nav/lib/pen/psakpselv/asbo/oppdrag">
	<xsd:complexType name="ASBOPenAvstemmingtransaksjon">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="transaksjonId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="avstemmingDato"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="konsumerendeSystem"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>