pcom-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/oppdrag/ASBOPenBelopsgrense.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/oppdrag">
  <xsd:complexType name="ASBOPenBelopsgrense">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="grenseTypeKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="belopGrense" type="xsd:double"/>
      <xsd:element minOccurs="0" name="fom" type="xsd:date"/>
      <xsd:element minOccurs="0" name="tom" type="xsd:date"/>
      <xsd:element minOccurs="0" name="feilreg" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
