pcom-esb-wsclient-legacy/src/main/resources/wsdl/no/nav/lib/pen/psakpselv/asbo/oppdrag/ASBOPenSendAsynkOppdragsavstemmingListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/oppdrag" targetNamespace="http://nav-lib-cons-pen-psakpselv/no/nav/lib/pen/psakpselv/asbo/oppdrag">
    <xsd:include schemaLocation="ASBOPenOppdrag.xsd"/>
    <xsd:complexType name="ASBOPenSendAsynkOppdragsavstemmingListeRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fagomradeKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="avstemmingId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="sendeStartmelding" nillable="true" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="sendeAvsluttmelding" nillable="true" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="oppdragListe" type="bons1:ASBOPenOppdrag"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
