pcom-esb-wsclient-legacy/src/main/resources/wsdl/PSAKHenvendelseWSEXP_PSAKHenvendelseHttp_Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="PSAKHenvendelseWSEXP_PSAKHenvendelseHttp_Service" targetNamespace="http://nav-cons-pen-psak-henvendelse/no/nav/inf/Binding" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:Port_0="http://nav-cons-pen-psak-henvendelse/no/nav/inf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:this="http://nav-cons-pen-psak-henvendelse/no/nav/inf/Binding">
  <import namespace="http://nav-cons-pen-psak-henvendelse/no/nav/inf" location="no/nav/inf/PSAKHenvendelse.wsdl">
    </import>
  <binding name="PSAKHenvendelseWSEXP_PSAKHenvendelseHttpBinding" type="Port_0:PSAKHenvendelse">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="opprettHenvendelse">
      <soap:operation soapAction=""/>
      <input name="opprettHenvendelseRequest">
        <soap:body use="literal"/>
      </input>
      <output name="opprettHenvendelseResponse">
        <soap:body use="literal"/>
      </output>
      <fault name="faultPenGenerisk">
        <soap:fault name="faultPenGenerisk" use="literal"/>
      </fault>
    </operation>
    <operation name="lagreHenvendelse">
      <soap:operation soapAction=""/>
      <input name="lagreHenvendelseRequest">
        <soap:body use="literal"/>
      </input>
      <output name="lagreHenvendelseResponse">
        <soap:body use="literal"/>
      </output>
      <fault name="faultPenHenvendelseIkkeFunnet">
        <soap:fault name="faultPenHenvendelseIkkeFunnet" use="literal"/>
      </fault>
      <fault name="faultPenGenerisk">
        <soap:fault name="faultPenGenerisk" use="literal"/>
      </fault>
    </operation>
    <operation name="hentHenvendelse">
      <soap:operation soapAction=""/>
      <input name="hentHenvendelseRequest">
        <soap:body use="literal"/>
      </input>
      <output name="hentHenvendelseResponse">
        <soap:body use="literal"/>
      </output>
      <fault name="faultPenHenvendelseIkkeFunnet">
        <soap:fault name="faultPenHenvendelseIkkeFunnet" use="literal"/>
      </fault>
      <fault name="faultPenGenerisk">
        <soap:fault name="faultPenGenerisk" use="literal"/>
      </fault>
    </operation>
    <operation name="hentHenvendelseListe">
      <soap:operation soapAction=""/>
      <input name="hentHenvendelseListeRequest">
        <soap:body use="literal"/>
      </input>
      <output name="hentHenvendelseListeResponse">
        <soap:body use="literal"/>
      </output>
      <fault name="faultPenGenerisk">
        <soap:fault name="faultPenGenerisk" use="literal"/>
      </fault>
    </operation>
    <operation name="hentStatistikkAntall">
      <soap:operation soapAction=""/>
      <input name="hentStatistikkAntallRequest">
        <soap:body use="literal"/>
      </input>
      <output name="hentStatistikkAntallResponse">
        <soap:body use="literal"/>
      </output>
      <fault name="faultPenGenerisk">
        <soap:fault name="faultPenGenerisk" use="literal"/>
      </fault>
    </operation>
    <operation name="hentStatistikkHenvendelseGjelder">
      <soap:operation soapAction=""/>
      <input name="hentStatistikkHenvendelseGjelderRequest">
        <soap:body use="literal"/>
      </input>
      <output name="hentStatistikkHenvendelseGjelderResponse">
        <soap:body use="literal"/>
      </output>
      <fault name="faultPenGenerisk">
        <soap:fault name="faultPenGenerisk" use="literal"/>
      </fault>
    </operation>
    <operation name="hentStatistikkPrKanal">
      <soap:operation soapAction=""/>
      <input name="hentStatistikkPrKanalRequest">
        <soap:body use="literal"/>
      </input>
      <output name="hentStatistikkPrKanalResponse">
        <soap:body use="literal"/>
      </output>
      <fault name="faultPenGenerisk">
        <soap:fault name="faultPenGenerisk" use="literal"/>
      </fault>
    </operation>
    <operation name="hentStatistikkPrType">
      <soap:operation soapAction=""/>
      <input name="hentStatistikkPrTypeRequest">
        <soap:body use="literal"/>
      </input>
      <output name="hentStatistikkPrTypeResponse">
        <soap:body use="literal"/>
      </output>
      <fault name="faultPenGenerisk">
        <soap:fault name="faultPenGenerisk" use="literal"/>
      </fault>
    </operation>
    <operation name="erTidsbrukAktivert">
      <soap:operation soapAction=""/>
      <input name="erTidsbrukAktivertRequest">
        <soap:body use="literal"/>
      </input>
      <output name="erTidsbrukAktivertResponse">
        <soap:body use="literal"/>
      </output>
      <fault name="faultPenGenerisk">
        <soap:fault name="faultPenGenerisk" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="PSAKHenvendelseWSEXP_PSAKHenvendelseHttpService">
    <port name="PSAKHenvendelseWSEXP_PSAKHenvendelseHttpPort" binding="this:PSAKHenvendelseWSEXP_PSAKHenvendelseHttpBinding">
      <soap:address location="http://localhost:9080/nav-cons-pen-psak-henvendelseWeb/sca/PSAKHenvendelseWSEXP"/>
    </port>
  </service>
</definitions>
